interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":495787856684932,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Qxmc3q3P5c9fH5cCGw8WpWJw2H66grHwQC2PHf31","createdAt":"2020-02-06T15:26:08Z","modifiedAt":"2020-02-06T15:26:08Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/495787856684932?level=2&include=objectValue
  response:
    body:
      string: '{"id":495787856684932,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","ONEDRIVE","FILE","GOOGLE_DRIVE","EVERNOTE","EGNYTE","LINK","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Qxmc3q3P5c9fH5cCGw8WpWJw2H66grHwQC2PHf31","createdAt":"2020-02-06T15:26:08Z","modifiedAt":"2020-02-06T15:26:08Z","isMultiPicklistEnabled":true,"columns":[{"id":7634732117714820,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2005232583501700,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6508832210872196,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4257032397186948,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8760632024557444,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":175645234882436,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4679244862252932,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4599266518296452,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:26:08Z","modifiedAt":"2020-02-06T15:26:08Z","cells":[{"columnId":7634732117714820,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2005232583501700,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6508832210872196,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4257032397186948,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":8760632024557444,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":175645234882436},{"columnId":4679244862252932,"value":true,"objectValue":true}]},{"id":2347466704611204,"rowNumber":2,"siblingId":4599266518296452,"expanded":true,"createdAt":"2020-02-06T15:26:08Z","modifiedAt":"2020-02-06T15:26:08Z","cells":[{"columnId":7634732117714820,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2005232583501700,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6508832210872196,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4257032397186948},{"co[...]
- request:
    body:
    - cells:
      - columnId: 7634732117714820
        strict: true
        value: David Ward
      - columnId: 2005232583501700
        strict: true
        value: david.ward@globex.com
      - columnId: 6508832210872196
        strict: true
        value: Globex
      - columnId: 4257032397186948
        strict: true
        value: 3
      - columnId: 175645234882436
        strict: true
        value: '1980-01-01'
      - columnId: 4679244862252932
        strict: true
        value: true
      - columnId: 8760632024557444
        objectValue:
          objectType: MULTI_PICKLIST
          values:
          - pydantic
        strict: true
      toBottom: true
    - cells:
      - columnId: 7634732117714820
        strict: true
        value: Elizabeth Warner
      - columnId: 2005232583501700
        strict: true
        value: elizabeth.warner@acme.com
      - columnId: 6508832210872196
        strict: true
        value: ACME
      - columnId: 4257032397186948
        strict: true
        value: 2
      - columnId: 175645234882436
        strict: true
        value: '1985-01-01'
      - columnId: 4679244862252932
        strict: true
        value: true
      toBottom: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/495787856684932/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":4171413418993540,"sheetId":495787856684932,"rowNumber":4,"siblingId":6851066331981700,"expanded":true,"createdAt":"2020-02-06T15:26:09Z","modifiedAt":"2020-02-06T15:26:09Z","cells":[{"columnId":7634732117714820,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":2005232583501700,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":6508832210872196,"value":"Globex","displayValue":"Globex"},{"columnId":4257032397186948,"value":3.0,"displayValue":"3"},{"columnId":8760632024557444,"displayValue":"pydantic"},{"columnId":175645234882436,"value":"1980-01-01"},{"columnId":4679244862252932,"value":true}]},{"id":8675013046364036,"sheetId":495787856684932,"rowNumber":5,"siblingId":4171413418993540,"expanded":true,"createdAt":"2020-02-06T15:26:09Z","modifiedAt":"2020-02-06T15:26:09Z","cells":[{"columnId":7634732117714820,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":2005232583501700,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":6508832210872196,"value":"ACME","displayValue":"ACME"},{"columnId":4257032397186948,"value":2.0,"displayValue":"2"},{"columnId":8760632024557444},{"columnId":175645234882436,"value":"1985-01-01"},{"columnId":4679244862252932,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/495787856684932/rows
[...]
