interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":3204915788048260,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/3vGc5VFq4W2P779j7Wg7vHV2WRxHwXjVQ7gX5qH1","createdAt":"2020-02-06T15:25:59Z","modifiedAt":"2020-02-06T15:26:00Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3204915788048260?level=2&include=objectValue
  response:
    body:
      string: '{"id":3204915788048260,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","ONEDRIVE","BOX_COM","EGNYTE","EVERNOTE","GOOGLE_DRIVE","FILE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/3vGc5VFq4W2P779j7Wg7vHV2WRxHwXjVQ7gX5qH1","createdAt":"2020-02-06T15:25:59Z","modifiedAt":"2020-02-06T15:26:00Z","isMultiPicklistEnabled":true,"columns":[{"id":4554268830132100,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2302469016446852,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6806068643817348,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1176569109604228,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5680168736974724,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":3428368923289476,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7931968550659972,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":8647928982595460,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:26:00Z","modifiedAt":"2020-02-06T15:26:00Z","cells":[{"columnId":4554268830132100,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2302469016446852,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6806068643817348,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":1176569109604228,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":5680168736974724,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":3428368923289476},{"columnId":7931968550659972,"value":true,"objectValue":true}]},{"id":485154657986436,"rowNumber":2,"siblingId":8647928982595460,"expanded":true,"createdAt":"2020-02-06T15:26:00Z","modifiedAt":"2020-02-06T15:26:00Z","cells":[{"columnId":4554268830132100,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2302469016446852,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6806068643817348,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":1176569109604228},{"co[...]
- request:
    body:
      cells:
      - columnId: 4554268830132100
        strict: true
        value: David Ward
      - columnId: 2302469016446852
        strict: true
        value: david.ward@globex.com
      - columnId: 6806068643817348
        strict: true
        value: Globex
      - columnId: 1176569109604228
        strict: true
        value: 3
      - columnId: 3428368923289476
        strict: true
        value: '1980-01-01'
      - columnId: 7931968550659972
        strict: true
        value: true
      - columnId: 5680168736974724
        objectValue:
          objectType: MULTI_PICKLIST
          values:
          - pydantic
        strict: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/3204915788048260/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":6893058227234692,"sheetId":3204915788048260,"rowNumber":4,"siblingId":4988754285356932,"expanded":true,"createdAt":"2020-02-06T15:26:02Z","modifiedAt":"2020-02-06T15:26:02Z","cells":[{"columnId":4554268830132100,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":2302469016446852,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":6806068643817348,"value":"Globex","displayValue":"Globex"},{"columnId":1176569109604228,"value":3.0,"displayValue":"3"},{"columnId":5680168736974724,"displayValue":"pydantic"},{"columnId":3428368923289476,"value":"1980-01-01"},{"columnId":7931968550659972,"value":true}]},"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/3204915788048260/rows
[...]
