interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":3153032583112580,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xGx25j4jr64MqpxRg2JmmprPh8W8VCgH29w8M5M1","createdAt":"2020-02-06T15:26:44Z","modifiedAt":"2020-02-06T15:26:44Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3153032583112580?level=2&include=objectValue
  response:
    body:
      string: '{"id":3153032583112580,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","BOX_COM","FILE","DROPBOX","GOOGLE_DRIVE","EVERNOTE","LINK","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/xGx25j4jr64MqpxRg2JmmprPh8W8VCgH29w8M5M1","createdAt":"2020-02-06T15:26:44Z","modifiedAt":"2020-02-06T15:26:44Z","isMultiPicklistEnabled":true,"columns":[{"id":8437709539698564,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":1119360145221508,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5622959772592004,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3371159958906756,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7874759586277252,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":2245260052064132,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":6748859679434628,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":211754219792260,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:26:44Z","modifiedAt":"2020-02-06T15:26:44Z","cells":[{"columnId":8437709539698564,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":1119360145221508,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":5622959772592004,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":3371159958906756,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":7874759586277252,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2245260052064132},{"columnId":6748859679434628,"value":true,"objectValue":true}]},{"id":4715353847162756,"rowNumber":2,"siblingId":211754219792260,"expanded":true,"createdAt":"2020-02-06T15:26:44Z","modifiedAt":"2020-02-06T15:26:44Z","cells":[{"columnId":8437709539698564,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":1119360145221508,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":5622959772592004,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":3371159958906756},{"col[...]
- request:
    body:
      sortCriteria:
      - columnId: 8437709539698564
        direction: ASCENDING
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/3153032583112580/sort
  response:
    body:
      string: '{"id":3153032583112580,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","BOX_COM","FILE","DROPBOX","GOOGLE_DRIVE","EVERNOTE","LINK","ONEDRIVE"],"readOnly":true,"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/xGx25j4jr64MqpxRg2JmmprPh8W8VCgH29w8M5M1","createdAt":"2020-02-06T15:26:44Z","modifiedAt":"2020-02-06T15:26:44Z","isMultiPicklistEnabled":true,"columns":[{"id":8437709539698564,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,[...]
