interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":3767212906440580,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/F9h3Ph2RCJm3PCwQc4Q3xjjgPx6Pv2W8J4JvcGQ1","createdAt":"2020-02-06T15:26:17Z","modifiedAt":"2020-02-06T15:26:18Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3767212906440580?level=2&include=objectValue
  response:
    body:
      string: '{"id":3767212906440580,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","ONEDRIVE","BOX_COM","EGNYTE","EVERNOTE","GOOGLE_DRIVE","FILE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/F9h3Ph2RCJm3PCwQc4Q3xjjgPx6Pv2W8J4JvcGQ1","createdAt":"2020-02-06T15:26:17Z","modifiedAt":"2020-02-06T15:26:18Z","isMultiPicklistEnabled":true,"columns":[{"id":5174496467412868,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2922696653727620,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7426296281098116,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1796796746884996,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6300396374255492,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":4048596560570244,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8552196187940740,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":2563025476052868,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:26:18Z","modifiedAt":"2020-02-06T15:26:18Z","cells":[{"columnId":5174496467412868,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2922696653727620,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7426296281098116,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":1796796746884996,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":6300396374255492,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":4048596560570244},{"columnId":8552196187940740,"value":true,"objectValue":true}]},{"id":7066625103423364,"rowNumber":2,"siblingId":2563025476052868,"expanded":true,"createdAt":"2020-02-06T15:26:18Z","modifiedAt":"2020-02-06T15:26:18Z","cells":[{"columnId":5174496467412868,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2922696653727620,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7426296281098116,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":1796796746884996},{"co[...]
- request:
    body: '[{"cells": [{"columnId": 5174496467412868, "strict": true, "value": "Alice
      Han"}, {"columnId": 4048596560570244, "strict": true, "value": "1989-12-31"}],
      "id": 7066625103423364, "expanded": true}, {"cells": [{"columnId": 7426296281098116,
      "strict": true, "value": "Globex"}, {"columnId": 1796796746884996, "strict":
      true, "value": ""}], "id": 2563025476052868, "expanded": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/3767212906440580/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":2563025476052868,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:26:18Z","modifiedAt":"2020-02-06T15:26:19Z","cells":[{"columnId":5174496467412868,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":2922696653727620,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7426296281098116,"value":"Globex","displayValue":"Globex"},{"columnId":1796796746884996},{"columnId":6300396374255492,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":4048596560570244},{"columnId":8552196187940740,"value":true}]},{"id":7066625103423364,"rowNumber":2,"siblingId":2563025476052868,"expanded":true,"createdAt":"2020-02-06T15:26:18Z","modifiedAt":"2020-02-06T15:26:19Z","cells":[{"columnId":5174496467412868,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":2922696653727620,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7426296281098116,"value":"Globex","displayValue":"Globex"},{"columnId":1796796746884996},{"columnId":6300396374255492,"displayValue":"nornir,
        napalm"},{"columnId":4048596560570244,"value":"1989-12-31"},{"columnId":8552196187940740}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
