interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8007307700266884,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Gf2JcRqV4qvGhjgjjr2M2XMgXCM33jv7q4X3jHC1","createdAt":"2020-02-06T16:55:26Z","modifiedAt":"2020-02-06T16:55:26Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8007307700266884?level=2&include=objectValue
  response:
    body:
      string: '{"id":8007307700266884,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","GOOGLE_DRIVE","EVERNOTE","EGNYTE","DROPBOX","BOX_COM","LINK","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Gf2JcRqV4qvGhjgjjr2M2XMgXCM33jv7q4X3jHC1","createdAt":"2020-02-06T16:55:26Z","modifiedAt":"2020-02-06T16:55:26Z","isMultiPicklistEnabled":true,"columns":[{"id":7733094384985988,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2103594850772868,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6607194478143364,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4355394664458116,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8858994291828612,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":274007502153604,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4777607129524100,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1941779126216580,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T16:55:26Z","modifiedAt":"2020-02-06T16:55:26Z","cells":[{"columnId":7733094384985988,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2103594850772868,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6607194478143364,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4355394664458116,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":8858994291828612,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":274007502153604},{"columnId":4777607129524100,"value":true,"objectValue":true}]},{"id":6445378753587076,"rowNumber":2,"siblingId":1941779126216580,"expanded":true,"createdAt":"2020-02-06T16:55:26Z","modifiedAt":"2020-02-06T16:55:26Z","cells":[{"columnId":7733094384985988,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2103594850772868,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6607194478143364,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4355394664458116},{"co[...]
- request:
    body:
    - cells:
      - columnId: 7733094384985988
        strict: true
        value: Test 0
      toBottom: true
    - cells:
      - columnId: 7733094384985988
        strict: true
        value: Test 1
      toBottom: true
    - cells:
      - columnId: 7733094384985988
        strict: true
        value: Test 2
      toBottom: true
    - cells:
      - columnId: 7733094384985988
        strict: true
        value: Test 3
      toBottom: true
    - cells:
      - columnId: 7733094384985988
        strict: true
        value: Test 4
      toBottom: true
    - cells:
      - columnId: 773309438498598[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/8007307700266884/rows?ids=8926796914157444,130703891949444,4634303519319940,2382503705634692,6886103333005188,1256603798792068,5760203426162564,3508403612477316,8012003239847812,693653845370756,5197253472741252,2945453659056004,7449053286426500,1819553752213380,6323153379583876,4071353565898628,857495319326[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/8007307700266884/rows?ids=8548564914202500,385790589593476,4889390216963972,2637590403278724,7141190030649220,1511690496436100,6015290123806596,3763490310121348,8267089937491844,948740543014788,5452340170385284,3200540356700036,7704139984070532,2074640449857412,6578240077227908,4326440263542660,883003989091[...]
