interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":2184843875379076,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Jp97XmJrjFJC2723XvMWMfvq6qwmCFgH7JxFw5F1","createdAt":"2020-02-06T15:25:55Z","modifiedAt":"2020-02-06T15:25:55Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/2184843875379076?level=2&include=objectValue
  response:
    body:
      string: '{"id":2184843875379076,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","DROPBOX","LINK","EGNYTE","BOX_COM","GOOGLE_DRIVE","EVERNOTE","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Jp97XmJrjFJC2723XvMWMfvq6qwmCFgH7JxFw5F1","createdAt":"2020-02-06T15:25:55Z","modifiedAt":"2020-02-06T15:25:55Z","isMultiPicklistEnabled":true,"columns":[{"id":2718118771484548,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7221718398855044,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1592218864641924,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6095818492012420,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3844018678327172,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":8347618305697668,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1029268911220612,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1450392723187588,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:25:55Z","modifiedAt":"2020-02-06T15:25:55Z","cells":[{"columnId":2718118771484548,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":7221718398855044,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1592218864641924,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":6095818492012420,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":3844018678327172,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":8347618305697668},{"columnId":1029268911220612,"value":true,"objectValue":true}]},{"id":5953992350558084,"rowNumber":2,"siblingId":1450392723187588,"expanded":true,"createdAt":"2020-02-06T15:25:55Z","modifiedAt":"2020-02-06T15:25:55Z","cells":[{"columnId":2718118771484548,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":7221718398855044,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1592218864641924,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":6095818492012420},{"co[...]
- request:
    body: '{"cells": [{"columnId": 2718118771484548, "strict": true, "value": "David
      Ward"}, {"columnId": 7221718398855044, "strict": true, "value": "david.ward@globex.com"},
      {"columnId": 1592218864641924, "strict": true, "value": "Globex"}, {"columnId":
      6095818492012420, "strict": true, "value": 3}, {"columnId": 8347618305697668,
      "strict": true, "value": "1980-01-01"}, {"columnId": 1029268911220612, "strict":
      true, "value": true}, {"columnId": 3844018678327172, "strict": true, "objectValue":
      {"objectType": "MULTI_PICKLIST", "values": ["pydantic"]}}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/2184843875379076/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":8782586139436932,"sheetId":2184843875379076,"rowNumber":4,"siblingId":3702192536872836,"expanded":true,"createdAt":"2020-02-06T15:25:57Z","modifiedAt":"2020-02-06T15:25:57Z","cells":[{"columnId":2718118771484548,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":7221718398855044,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":1592218864641924,"value":"Globex","displayValue":"Globex"},{"columnId":6095818492012420,"value":3.0,"displayValue":"3"},{"columnId":3844018678327172,"displayValue":"pydantic"},{"columnId":8347618305697668,"value":"1980-01-01"},{"columnId":1029268911220612,"value":true}]},"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
