interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":6,"data":[{"id":2746866115864452,"name":"[TEST]
        Index Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/xfxHJvQHM4XwvpXr5JqV86HM43vvCmFjgM9JJvv1","createdAt":"2020-02-06T15:06:32Z","modifiedAt":"2020-02-06T15:06:32Z"},{"id":3450931514763140,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rWwhH3xHpgr4Xx4RFJc7PM67M5wW9RC8f5w7qJW1","createdAt":"2020-02-06T15:11:55Z","modifiedAt":"2020-02-06T15:11:55Z"},{"id":1122887441639300,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/H68r97jcVxh8MCChHXR85VmpXRQvPMMVWhV9w9v1","createdAt":"2020-02-06T15:05:09Z","modifiedAt":"2020-02-06T15:05:09Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":7470368068790148,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/49Hp2ph4xmHp5jVCGJqv6cx7PW93JJVf7ChJg2C1","createdAt":"2020-02-06T16:55:10Z","modifiedAt":"2020-02-06T16:55:11Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7470368068790148?level=2&include=objectValue
  response:
    body:
      string: '{"id":7470368068790148,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","GOOGLE_DRIVE","DROPBOX","FILE","BOX_COM","EGNYTE","EVERNOTE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/49Hp2ph4xmHp5jVCGJqv6cx7PW93JJVf7ChJg2C1","createdAt":"2020-02-06T16:55:10Z","modifiedAt":"2020-02-06T16:55:11Z","isMultiPicklistEnabled":true,"columns":[{"id":8784193141401476,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":199206351726468,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4702805979096964,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2451006165411716,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6954605792782212,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":1325106258569092,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":5828705885939588,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4376677690697604,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T16:55:11Z","modifiedAt":"2020-02-06T16:55:11Z","cells":[{"columnId":8784193141401476,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":199206351726468,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4702805979096964,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":2451006165411716,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":6954605792782212,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":1325106258569092},{"columnId":5828705885939588,"value":true,"objectValue":true}]},{"id":8880277318068100,"rowNumber":2,"siblingId":4376677690697604,"expanded":true,"createdAt":"2020-02-06T16:55:11Z","modifiedAt":"2020-02-06T16:55:11Z","cells":[{"columnId":8784193141401476,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":199206351726468,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4702805979096964,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":2451006165411716},{"col[...]
- request:
    body: '[{"cells": [{"columnId": 8784193141401476, "strict": true, "value": "Test
      0"}], "toBottom": true}, {"cells": [{"columnId": 8784193141401476, "strict":
      true, "value": "Test 1"}], "toBottom": true}, {"cells": [{"columnId": 8784193141401476,
      "strict": true, "value": "Test 2"}], "toBottom": true}, {"cells": [{"columnId":
      8784193141401476, "strict": true, "value": "Test 3"}], "toBottom": true}, {"cells":
      [{"columnId": 8784193141401476, "strict": true, "value": "Test 4"}], "toBottom":
      true}, {"cells": [{"columnId": 8784193141401476, "strict": true, "value": "Te[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/7470368068790148/rows?ids=3112595801040772%2C7616195428411268%2C1986695894198148%2C6490295521568644%2C4238495707883396%2C8742095335253892%2C157108545578884%2C4660708172949380%2C2408908359264132%2C6912507986634628%2C1283008452421508%2C5786608079792004%2C3534808266106756%2C8038407893477252%2C720058499000196%2[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/7470368068790148/rows?ids=3024634870818692%2C7528234498189188%2C1898734963976068%2C6402334591346564%2C4150534777661316%2C8654134405031812%2C491360080422788%2C4994959707793284%2C2743159894108036%2C7246759521478532%2C1617259987265412%2C6120859614635908%2C3869059800950660%2C8372659428321156%2C1054310033844100%[...]
