interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":3407883057555332,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Gm8vCGpJ47Vx4qjvp9FjH5hf3WC48PhhpfRMmw91","createdAt":"2020-02-05T15:54:02Z","modifiedAt":"2020-02-05T15:54:03Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3407883057555332?level=2&include=objectValue
  response:
    body:
      string: '{"id":3407883057555332,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EVERNOTE","GOOGLE_DRIVE","BOX_COM","EGNYTE","DROPBOX","ONEDRIVE","FILE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Gm8vCGpJ47Vx4qjvp9FjH5hf3WC48PhhpfRMmw91","createdAt":"2020-02-05T15:54:02Z","modifiedAt":"2020-02-05T15:54:03Z","isMultiPicklistEnabled":true,"columns":[{"id":4226458672490372,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8730058299860868,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":145071510185860,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4648671137556356,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2396871323871108,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":6900470951241604,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1270971417028484,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":3370349539157892,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:03Z","modifiedAt":"2020-02-05T15:54:03Z","cells":[{"columnId":4226458672490372,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":8730058299860868,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":145071510185860,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4648671137556356,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":2396871323871108,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":6900470951241604},{"columnId":1270971417028484,"value":true,"objectValue":true}]},{"id":7873949166528388,"rowNumber":2,"siblingId":3370349539157892,"expanded":true,"createdAt":"2020-02-05T15:54:03Z","modifiedAt":"2020-02-05T15:54:03Z","cells":[{"columnId":4226458672490372,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":8730058299860868,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":145071510185860,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4648671137556356},{"col[...]
- request:
    body:
    - cells:
      - columnId: 4226458672490372
        strict: true
        value: David Ward
      - columnId: 8730058299860868
        strict: true
        value: david.ward@globex.com
      - columnId: 145071510185860
        strict: true
        value: Globex
      - columnId: 4648671137556356
        strict: true
        value: 3
      - columnId: 6900470951241604
        strict: true
        value: '1980-01-01'
      - columnId: 1270971417028484
        strict: true
        value: true
      - columnId: 2396871323871108
        objectValue:
          objectType: MULTI_PICKLIST
          values:
          - pydantic
        strict: true
      toBottom: true
    - cells:
      - columnId: 4226458672490372
        strict: true
        value: Elizabeth Warner
      - columnId: 8730058299860868
        strict: true
        value: elizabeth.warner@acme.com
      - columnId: 145071510185860
        strict: true
        value: ACME
      - columnId: 4648671137556356
        strict: true
        value: 2
      - columnId: 6900470951241604
        strict: true
        value: '1985-01-01'
      - columnId: 1270971417028484
        strict: true
        value: true
      toBottom: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/3407883057555332/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":508868380387204,"sheetId":3407883057555332,"rowNumber":4,"siblingId":2244449632315268,"expanded":true,"createdAt":"2020-02-05T15:54:04Z","modifiedAt":"2020-02-05T15:54:04Z","cells":[{"columnId":4226458672490372,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":8730058299860868,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":145071510185860,"value":"Globex","displayValue":"Globex"},{"columnId":4648671137556356,"value":3.0,"displayValue":"3"},{"columnId":2396871323871108,"displayValue":"pydantic"},{"columnId":6900470951241604,"value":"1980-01-01"},{"columnId":1270971417028484,"value":true}]},{"id":5012468007757700,"sheetId":3407883057555332,"rowNumber":5,"siblingId":508868380387204,"expanded":true,"createdAt":"2020-02-05T15:54:04Z","modifiedAt":"2020-02-05T15:54:04Z","cells":[{"columnId":4226458672490372,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":8730058299860868,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":145071510185860,"value":"ACME","displayValue":"ACME"},{"columnId":4648671137556356,"value":2.0,"displayValue":"2"},{"columnId":2396871323871108},{"columnId":6900470951241604,"value":"1985-01-01"},{"columnId":1270971417028484,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/3407883057555332/rows
[...]
