interactions:
- request:
    body:
      columns:
      - primary: true
        title: Full Name
        type: TEXT_NUMBER
      - title: Email address
        type: TEXT_NUMBER
      - title: Company
        type: TEXT_NUMBER
      - title: Number of children
        type: TEXT_NUMBER
      - options:
        - simple-smartsheet
        - nornir
        - napalm
        - netmiko
        - pydantic
        title: Maintains
        type: MULTI_PICKLIST
      - title: Birth date
        type: DATE
      - title: Married
        type: CHECKBOX
      name: '[TEST] New Sheet'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":6918421821581188,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8WRM9CWpqcPJF82422FcfGvFR8q3FVrG6P6FgR71","columns":[{"id":4376275721709444,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8879875349079940,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":83782326871940,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4587381954242436,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2335582140557188,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":6839181767927684,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1209682233714564,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets
version: 1
