interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8712429661120388,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/grX3wjj4mvX4j2MvXC9fHVXPq4PXQ2qqQwMrgfJ1","createdAt":"2020-02-05T15:53:55Z","modifiedAt":"2020-02-05T15:53:56Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8712429661120388?level=2&include=objectValue
  response:
    body:
      string: '{"id":8712429661120388,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EVERNOTE","LINK","EGNYTE","GOOGLE_DRIVE","DROPBOX","BOX_COM","ONEDRIVE","FILE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/grX3wjj4mvX4j2MvXC9fHVXPq4PXQ2qqQwMrgfJ1","createdAt":"2020-02-05T15:53:55Z","modifiedAt":"2020-02-05T15:53:56Z","isMultiPicklistEnabled":true,"columns":[{"id":6233213422069636,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3981413608384388,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8485013235754884,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":322238911145860,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4825838538516356,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":2574038724831108,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7077638352201604,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1170536009623428,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:53:56Z","modifiedAt":"2020-02-05T15:53:56Z","cells":[{"columnId":6233213422069636,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":3981413608384388,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8485013235754884,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":322238911145860,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":4825838538516356,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2574038724831108},{"columnId":7077638352201604,"value":true,"objectValue":true}]},{"id":5674135636993924,"rowNumber":2,"siblingId":1170536009623428,"expanded":true,"createdAt":"2020-02-05T15:53:56Z","modifiedAt":"2020-02-05T15:53:56Z","cells":[{"columnId":6233213422069636,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":3981413608384388,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8485013235754884,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":322238911145860},{"col[...]
- request:
    body:
      cells:
      - columnId: 6233213422069636
        strict: true
        value: David Ward
      - columnId: 3981413608384388
        strict: true
        value: david.ward@globex.com
      - columnId: 8485013235754884
        strict: true
        value: Globex
      - columnId: 322238911145860
        strict: true
        value: 3
      - columnId: 2574038724831108
        strict: true
        value: '1980-01-01'
      - columnId: 7077638352201604
        strict: true
        value: true
      - columnId: 4825838538516356
        objectValue:
          objectType: MULTI_PICKLIST
          values:
          - pydantic
        strict: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/8712429661120388/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":4426031025678212,"sheetId":8712429661120388,"rowNumber":4,"siblingId":3422335823308676,"expanded":true,"createdAt":"2020-02-05T15:53:57Z","modifiedAt":"2020-02-05T15:53:57Z","cells":[{"columnId":6233213422069636,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":3981413608384388,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":8485013235754884,"value":"Globex","displayValue":"Globex"},{"columnId":322238911145860,"value":3.0,"displayValue":"3"},{"columnId":4825838538516356,"displayValue":"pydantic"},{"columnId":2574038724831108,"value":"1980-01-01"},{"columnId":7077638352201604,"value":true}]},"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8712429661120388/rows
[...]
