interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":7456031467956100,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/JwCgpWwJgvcQGMWGpQpcqPqJF4PPRx3p74MxwGf1","createdAt":"2020-02-05T15:53:52Z","modifiedAt":"2020-02-05T15:53:53Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7456031467956100?level=2&include=objectValue
  response:
    body:
      string: '{"id":7456031467956100,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["LINK","GOOGLE_DRIVE","BOX_COM","EGNYTE","FILE","EVERNOTE","DROPBOX","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/JwCgpWwJgvcQGMWGpQpcqPqJF4PPRx3p74MxwGf1","createdAt":"2020-02-05T15:53:52Z","modifiedAt":"2020-02-05T15:53:53Z","isMultiPicklistEnabled":true,"columns":[{"id":4860756622632836,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2608956808947588,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7112556436318084,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1483056902104964,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5986656529475460,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":3734856715790212,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8238456343160708,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":140001556621188,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:53:53Z","modifiedAt":"2020-02-05T15:53:53Z","cells":[{"columnId":4860756622632836,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2608956808947588,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7112556436318084,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":1483056902104964,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":5986656529475460,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":3734856715790212},{"columnId":8238456343160708,"value":true,"objectValue":true}]},{"id":4643601183991684,"rowNumber":2,"siblingId":140001556621188,"expanded":true,"createdAt":"2020-02-05T15:53:53Z","modifiedAt":"2020-02-05T15:53:53Z","cells":[{"columnId":4860756622632836,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2608956808947588,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7112556436318084,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":1483056902104964},{"col[...]
- request:
    body: '{"cells": [{"value": "David Ward", "columnId": 4860756622632836, "strict":
      true}, {"value": "david.ward@globex.com", "columnId": 2608956808947588, "strict":
      true}, {"value": "Globex", "columnId": 7112556436318084, "strict": true}, {"value":
      3, "columnId": 1483056902104964, "strict": true}, {"value": "1980-01-01", "columnId":
      3734856715790212, "strict": true}, {"value": true, "columnId": 8238456343160708,
      "strict": true}, {"objectValue": {"objectType": "MULTI_PICKLIST", "values":
      ["pydantic"]}, "columnId": 5986656529475460, "strict": true}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7456031467956100/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":5364953826256772,"sheetId":7456031467956100,"rowNumber":4,"siblingId":2391801370306436,"expanded":true,"createdAt":"2020-02-05T15:53:54Z","modifiedAt":"2020-02-05T15:53:54Z","cells":[{"columnId":4860756622632836,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":2608956808947588,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":7112556436318084,"value":"Globex","displayValue":"Globex"},{"columnId":1483056902104964,"value":3.0,"displayValue":"3"},{"columnId":5986656529475460,"displayValue":"pydantic"},{"columnId":3734856715790212,"value":"1980-01-01"},{"columnId":8238456343160708,"value":true}]},"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
