interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":7350203473782660,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/7Whc8xgmQJ56Cg4WhqHQGHxRRVhFhRjXCj3GHfh1","createdAt":"2020-02-05T15:54:33Z","modifiedAt":"2020-02-05T15:54:34Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7350203473782660?level=2&include=objectValue
  response:
    body:
      string: '{"id":7350203473782660,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","DROPBOX","ONEDRIVE","LINK","EGNYTE","EVERNOTE","GOOGLE_DRIVE","BOX_COM"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/7Whc8xgmQJ56Cg4WhqHQGHxRRVhFhRjXCj3GHfh1","createdAt":"2020-02-05T15:54:33Z","modifiedAt":"2020-02-05T15:54:34Z","isMultiPicklistEnabled":true,"columns":[{"id":5955664045467524,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3703864231782276,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8207463859152772,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":889114464675716,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5392714092046212,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":3140914278360964,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7644513905731460,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1071818333808516,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:34Z","modifiedAt":"2020-02-05T15:54:34Z","cells":[{"columnId":5955664045467524,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":3703864231782276,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8207463859152772,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":889114464675716,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":5392714092046212,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":3140914278360964},{"columnId":7644513905731460,"value":true,"objectValue":true}]},{"id":5575417961179012,"rowNumber":2,"siblingId":1071818333808516,"expanded":true,"createdAt":"2020-02-05T15:54:34Z","modifiedAt":"2020-02-05T15:54:34Z","cells":[{"columnId":5955664045467524,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":3703864231782276,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8207463859152772,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":889114464675716},{"col[...]
- request:
    body: '{"sortCriteria": [{"columnId": 5955664045467524, "direction": "ASCENDING"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7350203473782660/sort
  response:
    body:
      string: '{"id":7350203473782660,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","DROPBOX","ONEDRIVE","LINK","EGNYTE","EVERNOTE","GOOGLE_DRIVE","BOX_COM"],"readOnly":true,"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/7Whc8xgmQJ56Cg4WhqHQGHxRRVhFhRjXCj3GHfh1","createdAt":"2020-02-05T15:54:33Z","modifiedAt":"2020-02-05T15:54:34Z","isMultiPicklistEnabled":true,"columns":[{"id":5955664045467524,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,[...]
