interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":665997410625412,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9xHVhQ734frgq8xxrcQgj4GjHCjMGRCgCrrvfxJ1","createdAt":"2020-02-05T15:53:59Z","modifiedAt":"2020-02-05T15:53:59Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/665997410625412?level=2&include=objectValue
  response:
    body:
      string: '{"id":665997410625412,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EVERNOTE","LINK","EGNYTE","GOOGLE_DRIVE","DROPBOX","BOX_COM","ONEDRIVE","FILE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/9xHVhQ734frgq8xxrcQgj4GjHCjMGRCgCrrvfxJ1","createdAt":"2020-02-05T15:53:59Z","modifiedAt":"2020-02-05T15:53:59Z","isMultiPicklistEnabled":true,"columns":[{"id":3368066508711812,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7871666136082308,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2242166601869188,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6745766229239684,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4493966415554436,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":8997566042924932,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":16755067250564,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":6219620105906052,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:53:59Z","modifiedAt":"2020-02-05T15:53:59Z","cells":[{"columnId":3368066508711812,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":7871666136082308,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":2242166601869188,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":6745766229239684,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":4493966415554436,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":8997566042924932},{"columnId":16755067250564,"value":true,"objectValue":true}]},{"id":3967820292220804,"rowNumber":2,"siblingId":6219620105906052,"expanded":true,"createdAt":"2020-02-05T15:53:59Z","modifiedAt":"2020-02-05T15:53:59Z","cells":[{"columnId":3368066508711812,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":7871666136082308,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":2242166601869188,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":6745766229239684},{"co[...]
- request:
    body: '[{"cells": [{"value": "David Ward", "columnId": 3368066508711812, "strict":
      true}, {"value": "david.ward@globex.com", "columnId": 7871666136082308, "strict":
      true}, {"value": "Globex", "columnId": 2242166601869188, "strict": true}, {"value":
      3, "columnId": 6745766229239684, "strict": true}, {"value": "1980-01-01", "columnId":
      8997566042924932, "strict": true}, {"value": true, "columnId": 16755067250564,
      "strict": true}, {"objectValue": {"objectType": "MULTI_PICKLIST", "values":
      ["pydantic"]}, "columnId": 4493966415554436, "strict": true}], "toBottom": true},
      {"cells": [{"value": "Elizabeth Warner", "columnId": 3368066508711812, "strict":
      true}, {"value": "elizabeth.warner@acme.com", "columnId": 7871666136082308,
      "strict": true}, {"value": "ACME", "columnId": 2242166601869188, "strict": true},
      {"value": 2, "columnId": 6745766229239684, "strict": true}, {"value": "1985-01-01",
      "columnId": 8997566042924932, "strict": true}, {"value": true, "columnId": 16755067250564,
      "strict": true}], "toBottom": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/665997410625412/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":8929630653048708,"sheetId":665997410625412,"rowNumber":4,"siblingId":8471419919591300,"expanded":true,"createdAt":"2020-02-05T15:54:01Z","modifiedAt":"2020-02-05T15:54:01Z","cells":[{"columnId":3368066508711812,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":7871666136082308,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":2242166601869188,"value":"Globex","displayValue":"Globex"},{"columnId":6745766229239684,"value":3.0,"displayValue":"3"},{"columnId":4493966415554436,"displayValue":"pydantic"},{"columnId":8997566042924932,"value":"1980-01-01"},{"columnId":16755067250564,"value":true}]},{"id":133537630840708,"sheetId":665997410625412,"rowNumber":5,"siblingId":8929630653048708,"expanded":true,"createdAt":"2020-02-05T15:54:01Z","modifiedAt":"2020-02-05T15:54:01Z","cells":[{"columnId":3368066508711812,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":7871666136082308,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":2242166601869188,"value":"ACME","displayValue":"ACME"},{"columnId":6745766229239684,"value":2.0,"displayValue":"2"},{"columnId":4493966415554436},{"columnId":8997566042924932,"value":"1985-01-01"},{"columnId":16755067250564,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
