interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":1763443159132036,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/97vJprVp7FCWvRghwXQpWpjXRgJFhgpJQ4cPH6h1","createdAt":"2020-02-05T15:54:37Z","modifiedAt":"2020-02-05T15:54:38Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/1763443159132036?level=2&include=objectValue
  response:
    body:
      string: '{"id":1763443159132036,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EGNYTE","ONEDRIVE","EVERNOTE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/97vJprVp7FCWvRghwXQpWpjXRgJFhgpJQ4cPH6h1","createdAt":"2020-02-05T15:54:37Z","modifiedAt":"2020-02-05T15:54:38Z","isMultiPicklistEnabled":true,"columns":[{"id":4782467958761348,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2530668145076100,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7034267772446596,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1404768238233476,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5908367865603972,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":3656568051918724,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8160167679289220,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":6687449418622852,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:38Z","modifiedAt":"2020-02-05T15:54:38Z","cells":[{"columnId":4782467958761348,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2530668145076100,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7034267772446596,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":1404768238233476,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":5908367865603972,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":3656568051918724},{"columnId":8160167679289220,"value":true,"objectValue":true}]},{"id":4435649604937604,"rowNumber":2,"siblingId":6687449418622852,"expanded":true,"createdAt":"2020-02-05T15:54:38Z","modifiedAt":"2020-02-05T15:54:38Z","cells":[{"columnId":4782467958761348,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2530668145076100,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7034267772446596,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":1404768238233476},{"co[...]
- request:
    body:
      sortCriteria:
      - columnId: 4782467958761348
        direction: ASCENDING
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/1763443159132036/sort
  response:
    body:
      string: '{"id":1763443159132036,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EGNYTE","ONEDRIVE","EVERNOTE","LINK"],"readOnly":true,"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/97vJprVp7FCWvRghwXQpWpjXRgJFhgpJQ4cPH6h1","createdAt":"2020-02-05T15:54:37Z","modifiedAt":"2020-02-05T15:54:38Z","isMultiPicklistEnabled":true,"columns":[{"id":4782467958761348,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,[...]
