interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8625825940563844,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/4vVgWpQGfVm5gX9jj2c74pXxrWGcH3HV4mhqqcM1","createdAt":"2020-02-05T15:54:09Z","modifiedAt":"2020-02-05T15:54:09Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8625825940563844?level=2&include=objectValue
  response:
    body:
      string: '{"id":8625825940563844,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","LINK","BOX_COM","EVERNOTE","DROPBOX","GOOGLE_DRIVE","FILE","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/4vVgWpQGfVm5gX9jj2c74pXxrWGcH3HV4mhqqcM1","createdAt":"2020-02-05T15:54:09Z","modifiedAt":"2020-02-05T15:54:09Z","isMultiPicklistEnabled":true,"columns":[{"id":5306599997761412,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3054800184076164,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7558399811446660,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1928900277233540,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6432499904604036,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":4180700090918788,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8684299718289284,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4110237112788868,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:09Z","modifiedAt":"2020-02-05T15:54:09Z","cells":[{"columnId":5306599997761412,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":3054800184076164,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7558399811446660,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":1928900277233540,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":6432499904604036,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":4180700090918788},{"columnId":8684299718289284,"value":true,"objectValue":true}]},{"id":8613836740159364,"rowNumber":2,"siblingId":4110237112788868,"expanded":true,"createdAt":"2020-02-05T15:54:09Z","modifiedAt":"2020-02-05T15:54:09Z","cells":[{"columnId":5306599997761412,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":3054800184076164,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7558399811446660,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":1928900277233540},{"co[...]
- request:
    body:
      cells:
      - columnId: 5306599997761412
        strict: true
        value: Alice Han
      - columnId: 8684299718289284
        strict: true
        value: true
      expanded: true
      id: 8613836740159364
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/8625825940563844/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":8613836740159364,"rowNumber":2,"siblingId":4110237112788868,"expanded":true,"createdAt":"2020-02-05T15:54:09Z","modifiedAt":"2020-02-05T15:54:10Z","cells":[{"columnId":5306599997761412,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":3054800184076164,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7558399811446660,"value":"Globex","displayValue":"Globex"},{"columnId":1928900277233540},{"columnId":6432499904604036,"displayValue":"nornir,
        napalm"},{"columnId":4180700090918788},{"columnId":8684299718289284,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8625825940563844/rows
[...]
