interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8563016338827140,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/R6xW4VF627HRxFQhXFPX3385rcp3vXFMwGRvHxq1","createdAt":"2020-02-05T15:54:06Z","modifiedAt":"2020-02-05T15:54:06Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8563016338827140?level=2&include=objectValue
  response:
    body:
      string: '{"id":8563016338827140,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","LINK","BOX_COM","EVERNOTE","DROPBOX","GOOGLE_DRIVE","FILE","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/R6xW4VF627HRxFQhXFPX3385rcp3vXFMwGRvHxq1","createdAt":"2020-02-05T15:54:06Z","modifiedAt":"2020-02-05T15:54:06Z","isMultiPicklistEnabled":true,"columns":[{"id":7524778270582660,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":1895278736369540,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6398878363740036,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4147078550054788,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8650678177425284,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":487903852816260,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4991503480186756,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":7906157126281092,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:06Z","modifiedAt":"2020-02-05T15:54:06Z","cells":[{"columnId":7524778270582660,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":1895278736369540,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6398878363740036,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4147078550054788,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":8650678177425284,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":487903852816260},{"columnId":4991503480186756,"value":true,"objectValue":true}]},{"id":587807731804036,"rowNumber":2,"siblingId":7906157126281092,"expanded":true,"createdAt":"2020-02-05T15:54:06Z","modifiedAt":"2020-02-05T15:54:06Z","cells":[{"columnId":7524778270582660,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":1895278736369540,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6398878363740036,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4147078550054788},{"co[...]
- request:
    body: '{"id": 587807731804036, "cells": [{"value": "Alice Han", "columnId": 7524778270582660,
      "strict": true}, {"value": true, "columnId": 4991503480186756, "strict": true}],
      "expanded": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/8563016338827140/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":587807731804036,"rowNumber":2,"siblingId":7906157126281092,"expanded":true,"createdAt":"2020-02-05T15:54:06Z","modifiedAt":"2020-02-05T15:54:07Z","cells":[{"columnId":7524778270582660,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":1895278736369540,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6398878363740036,"value":"Globex","displayValue":"Globex"},{"columnId":4147078550054788},{"columnId":8650678177425284,"displayValue":"nornir,
        napalm"},{"columnId":487903852816260},{"columnId":4991503480186756,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
