interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":4719261127075716,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/56v7MRFHF5QMWQQgqjWx9vRxh32PjMmCWJC8v5W1","createdAt":"2020-02-05T15:54:19Z","modifiedAt":"2020-02-05T15:54:19Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4719261127075716?level=2&include=objectValue
  response:
    body:
      string: '{"id":4719261127075716,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","EGNYTE","EVERNOTE","LINK","FILE","GOOGLE_DRIVE","DROPBOX","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/56v7MRFHF5QMWQQgqjWx9vRxh32PjMmCWJC8v5W1","createdAt":"2020-02-05T15:54:19Z","modifiedAt":"2020-02-05T15:54:19Z","isMultiPicklistEnabled":true,"columns":[{"id":5296498234681220,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3044698420995972,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7548298048366468,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1918798514153348,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6422398141523844,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":4170598327838596,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8674197955209092,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":3291590576367492,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:19Z","modifiedAt":"2020-02-05T15:54:19Z","cells":[{"columnId":5296498234681220,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":3044698420995972,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7548298048366468,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":1918798514153348,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":6422398141523844,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":4170598327838596},{"columnId":8674197955209092,"value":true,"objectValue":true}]},{"id":7795190203737988,"rowNumber":2,"siblingId":3291590576367492,"expanded":true,"createdAt":"2020-02-05T15:54:19Z","modifiedAt":"2020-02-05T15:54:19Z","cells":[{"columnId":5296498234681220,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":3044698420995972,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7548298048366468,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":1918798514153348},{"co[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/4719261127075716/rows?ids=7795190203737988
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[7795190203737988]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
