interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","createdAt":"2020-02-05T15:52:35Z","modifiedAt":"2020-02-05T15:52:36Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8396440327219076,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Hjj3CxP2Hg3Mgw8MCpGFRfqQxfRrmc82VjWjHm51","createdAt":"2020-02-05T15:54:26Z","modifiedAt":"2020-02-05T15:54:26Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8396440327219076?level=2&include=objectValue
  response:
    body:
      string: '{"id":8396440327219076,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EVERNOTE","LINK","EGNYTE","GOOGLE_DRIVE","DROPBOX","BOX_COM","ONEDRIVE","FILE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Hjj3CxP2Hg3Mgw8MCpGFRfqQxfRrmc82VjWjHm51","createdAt":"2020-02-05T15:54:26Z","modifiedAt":"2020-02-05T15:54:26Z","isMultiPicklistEnabled":true,"columns":[{"id":4320569995880324,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8824169623250820,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":239182833575812,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4742782460946308,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2490982647261060,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":6994582274631556,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1365082740418436,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":8702413998188420,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:54:26Z","modifiedAt":"2020-02-05T15:54:26Z","cells":[{"columnId":4320569995880324,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":8824169623250820,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":239182833575812,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4742782460946308,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":2490982647261060,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":6994582274631556},{"columnId":1365082740418436,"value":true,"objectValue":true}]},{"id":539639673579396,"rowNumber":2,"siblingId":8702413998188420,"expanded":true,"createdAt":"2020-02-05T15:54:26Z","modifiedAt":"2020-02-05T15:54:26Z","cells":[{"columnId":4320569995880324,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":8824169623250820,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":239182833575812,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4742782460946308},{"col[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/8396440327219076/rows?ids=539639673579396%2C8702413998188420
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[539639673579396,8702413998188420]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
