interactions:
- request:
    body: '{"name": "[TEST] Read-only Sheet", "columns": [{"title": "Full Name", "primary":
      true, "type": "TEXT_NUMBER"}, {"title": "Email address", "type": "TEXT_NUMBER"},
      {"title": "Company", "type": "TEXT_NUMBER"}, {"title": "Number of children",
      "type": "TEXT_NUMBER"}, {"title": "Maintains", "type": "MULTI_PICKLIST", "options":
      ["simple-smartsheet", "nornir", "napalm", "netmiko", "pydantic"]}, {"title":
      "Birth date", "type": "DATE"}, {"title": "Married", "type": "CHECKBOX"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","columns":[{"id":4238819051497348,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8742418678867844,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":157431889192836,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4661031516563332,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2409231702878084,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":6912831330248580,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1283331796035460,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toTop": true, "cells": [{"columnId": 4238819051497348, "value": "Bob
      Lee", "strict": true}, {"columnId": 8742418678867844, "value": "bob.lee@acme.com",
      "strict": true}, {"columnId": 157431889192836, "value": "ACME", "strict": true},
      {"columnId": 4661031516563332, "value": 2, "strict": true}, {"columnId": 1283331796035460,
      "value": true, "strict": true}, {"columnId": 2409231702878084, "objectValue":
      {"values": ["simple-smartsheet", "nornir"], "objectType": "MULTI_PICKLIST"},
      "strict": true}]}, {"toTop": true, "cells": [{"columnId": 4238819051497348,
      "value": "Alice Smith", "strict": true}, {"columnId": 8742418678867844, "value":
      "alice.smith@globex.com", "strict": true}, {"columnId": 157431889192836, "value":
      "Globex", "strict": true}, {"columnId": 2409231702878084, "objectValue": {"values":
      ["napalm", "nornir"], "objectType": "MULTI_PICKLIST"}, "strict": true}]}, {"toTop":
      true, "cells": [{"columnId": 4238819051497348, "value": "Charlie Brown", "strict":
      true}, {"columnId": 8742418678867844, "value": "charlie.brown@acme.com", "strict":
      true}, {"columnId": 157431889192836, "value": "ACME", "strict": true}, {"columnId":
      4661031516563332, "value": 1, "strict": true}, {"columnId": 6912831330248580,
      "value": "1990-01-01", "strict": true}, {"columnId": 1283331796035460, "value":
      false, "strict": true}, {"columnId": 2409231702878084, "objectValue": {"values":
      ["napalm", "netmiko", "nornir"], "objectType": "MULTI_PICKLIST"}, "strict":
      true}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/2357256747542404/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":4505298673657732,"sheetId":2357256747542404,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:00:48Z","modifiedAt":"2020-02-05T04:00:48Z","cells":[{"columnId":4238819051497348,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8742418678867844,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":157431889192836,"value":"ACME","displayValue":"ACME"},{"columnId":4661031516563332,"value":2.0,"displayValue":"2"},{"columnId":2409231702878084,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":6912831330248580},{"columnId":1283331796035460,"value":true}]},{"id":2253498859972484,"sheetId":2357256747542404,"rowNumber":2,"siblingId":4505298673657732,"expanded":true,"createdAt":"2020-02-05T04:00:48Z","modifiedAt":"2020-02-05T04:00:48Z","cells":[{"columnId":4238819051497348,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8742418678867844,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":157431889192836,"value":"Globex","displayValue":"Globex"},{"columnId":4661031516563332},{"columnId":2409231702878084,"displayValue":"nornir,
        napalm"},{"columnId":6912831330248580},{"columnId":1283331796035460}]},{"id":6757098487342980,"sheetId":2357256747542404,"rowNumber":3,"siblingId":2253498859972484,"expanded":true,"createdAt":"2020-02-05T04:00:48Z","modifiedAt":"2020-02-05T04:00:48Z","cells":[{"columnId":4238819051497348,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8742418678867844,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":157431889192836,"value":"ACME","displayValue":"ACME"},{"columnId":4661031516563332,"value":1.0,"displayValue":"1"},{"columnId":2409231702878084,"displayValue":"nornir,
        napalm, netmiko"},{"columnId":6912831330248580,"value":"1990-01-01"},{"columnId":1283331796035460,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
