interactions:
- request:
    body: '{"name": "[TEST] Read-only Sheet", "columns": [{"primary": true, "type":
      "TEXT_NUMBER", "title": "Full Name"}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"type": "DATE", "title": "Birth date"}, {"type":
      "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","columns":[{"id":6775369786255236,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":1145870252042116,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5649469879412612,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3397670065727364,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7901269693097860,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":582920298620804,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"cells": [{"columnId": 6775369786255236, "value": "Bob Lee", "strict":
      true}, {"columnId": 1145870252042116, "value": "bob.lee@acme.com", "strict":
      true}, {"columnId": 5649469879412612, "value": "ACME", "strict": true}, {"columnId":
      3397670065727364, "value": 2, "strict": true}, {"columnId": 582920298620804,
      "value": true, "strict": true}], "toTop": true}, {"cells": [{"columnId": 6775369786255236,
      "value": "Alice Smith", "strict": true}, {"columnId": 1145870252042116, "value":
      "alice.smith@globex.com", "strict": true}, {"columnId": 5649469879412612, "value":
      "Globex", "strict": true}], "toTop": true}, {"cells": [{"columnId": 6775369786255236,
      "value": "Charlie Brown", "strict": true}, {"columnId": 1145870252042116, "value":
      "charlie.brown@acme.com", "strict": true}, {"columnId": 5649469879412612, "value":
      "ACME", "strict": true}, {"columnId": 3397670065727364, "value": 1, "strict":
      true}, {"columnId": 7901269693097860, "value": "1990-01-01", "strict": true},
      {"columnId": 582920298620804, "value": false, "strict": true}], "toTop": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/4921432015693700/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":5898556399216516,"sheetId":4921432015693700,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","cells":[{"columnId":6775369786255236,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":1145870252042116,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":5649469879412612,"value":"ACME","displayValue":"ACME"},{"columnId":3397670065727364,"value":2.0,"displayValue":"2"},{"columnId":7901269693097860},{"columnId":582920298620804,"value":true}]},{"id":3646756585531268,"sheetId":4921432015693700,"rowNumber":2,"siblingId":5898556399216516,"expanded":true,"createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","cells":[{"columnId":6775369786255236,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":1145870252042116,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":5649469879412612,"value":"Globex","displayValue":"Globex"},{"columnId":3397670065727364},{"columnId":7901269693097860},{"columnId":582920298620804}]},{"id":8150356212901764,"sheetId":4921432015693700,"rowNumber":3,"siblingId":3646756585531268,"expanded":true,"createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","cells":[{"columnId":6775369786255236,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":1145870252042116,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":5649469879412612,"value":"ACME","displayValue":"ACME"},{"columnId":3397670065727364,"value":1.0,"displayValue":"1"},{"columnId":7901269693097860,"value":"1990-01-01"},{"columnId":582920298620804,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
