interactions:
- request:
    body: '{"name": "[TEST] Read-only Sheet", "columns": [{"type": "TEXT_NUMBER",
      "title": "Full Name", "primary": true}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"type": "DATE", "title": "Birth date"}, {"type":
      "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","columns":[{"id":4509733794146180,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2257933980460932,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6761533607831428,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1132034073618308,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5635633700988804,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3383833887303556,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toTop": true, "cells": [{"strict": true, "columnId": 4509733794146180,
      "value": "Bob Lee"}, {"strict": true, "columnId": 2257933980460932, "value":
      "bob.lee@acme.com"}, {"strict": true, "columnId": 6761533607831428, "value":
      "ACME"}, {"strict": true, "columnId": 1132034073618308, "value": 2}, {"strict":
      true, "columnId": 3383833887303556, "value": true}]}, {"toTop": true, "cells":
      [{"strict": true, "columnId": 4509733794146180, "value": "Alice Smith"}, {"strict":
      true, "columnId": 2257933980460932, "value": "alice.smith@globex.com"}, {"strict":
      true, "columnId": 6761533607831428, "value": "Globex"}]}, {"toTop": true, "cells":
      [{"strict": true, "columnId": 4509733794146180, "value": "Charlie Brown"}, {"strict":
      true, "columnId": 2257933980460932, "value": "charlie.brown@acme.com"}, {"strict":
      true, "columnId": 6761533607831428, "value": "ACME"}, {"strict": true, "columnId":
      1132034073618308, "value": 1}, {"strict": true, "columnId": 5635633700988804,
      "value": "1990-01-01"}, {"strict": true, "columnId": 3383833887303556, "value":
      false}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/8079597905438596/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":6533672391731076,"sheetId":8079597905438596,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:48:56Z","modifiedAt":"2020-01-15T18:48:56Z","cells":[{"columnId":4509733794146180,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":2257933980460932,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6761533607831428,"value":"ACME","displayValue":"ACME"},{"columnId":1132034073618308,"value":2.0,"displayValue":"2"},{"columnId":5635633700988804},{"columnId":3383833887303556,"value":true}]},{"id":4281872578045828,"sheetId":8079597905438596,"rowNumber":2,"siblingId":6533672391731076,"expanded":true,"createdAt":"2020-01-15T18:48:56Z","modifiedAt":"2020-01-15T18:48:56Z","cells":[{"columnId":4509733794146180,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":2257933980460932,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6761533607831428,"value":"Globex","displayValue":"Globex"},{"columnId":1132034073618308},{"columnId":5635633700988804},{"columnId":3383833887303556}]},{"id":8785472205416324,"sheetId":8079597905438596,"rowNumber":3,"siblingId":4281872578045828,"expanded":true,"createdAt":"2020-01-15T18:48:56Z","modifiedAt":"2020-01-15T18:48:56Z","cells":[{"columnId":4509733794146180,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":2257933980460932,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":6761533607831428,"value":"ACME","displayValue":"ACME"},{"columnId":1132034073618308,"value":1.0,"displayValue":"1"},{"columnId":5635633700988804,"value":"1990-01-01"},{"columnId":3383833887303556,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
