interactions:
- request:
    body: '{"name": "[TEST] Read-only Sheet", "columns": [{"type": "TEXT_NUMBER",
      "title": "Full Name", "primary": true}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"options": ["simple-smartsheet", "nornir",
      "napalm", "netmiko", "pydantic"], "type": "MULTI_PICKLIST", "title": "Maintains"},
      {"type": "DATE", "title": "Birth date"}, {"type": "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":7719639380715396,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/m2hW76M4464GVf2jqhpj28vq2jHvf5qWMfp6hGF1","columns":[{"id":71077813610372,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":4574677440980868,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2322877627295620,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6826477254666116,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1196977720452996,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":5700577347823492,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3448777534138244,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"cells": [{"value": "Bob Lee", "columnId": 71077813610372, "strict":
      true}, {"value": "bob.lee@acme.com", "columnId": 4574677440980868, "strict":
      true}, {"value": "ACME", "columnId": 2322877627295620, "strict": true}, {"value":
      2, "columnId": 6826477254666116, "strict": true}, {"value": true, "columnId":
      3448777534138244, "strict": true}, {"objectValue": {"objectType": "MULTI_PICKLIST",
      "values": ["simple-smartsheet", "nornir"]}, "columnId": 1196977720452996, "strict":
      true}], "toTop": true}, {"cells": [{"value": "Alice Smith", "columnId": 71077813610372,
      "strict": true}, {"value": "alice.smith@globex.com", "columnId": 4574677440980868,
      "strict": true}, {"value": "Globex", "columnId": 2322877627295620, "strict":
      true}, {"objectValue": {"objectType": "MULTI_PICKLIST", "values": ["napalm",
      "nornir"]}, "columnId": 1196977720452996, "strict": true}], "toTop": true},
      {"cells": [{"value": "Charlie Brown", "columnId": 71077813610372, "strict":
      true}, {"value": "charlie.brown@acme.com", "columnId": 4574677440980868, "strict":
      true}, {"value": "ACME", "columnId": 2322877627295620, "strict": true}, {"value":
      1, "columnId": 6826477254666116, "strict": true}, {"value": "1990-01-01", "columnId":
      5700577347823492, "strict": true}, {"value": false, "columnId": 3448777534138244,
      "strict": true}, {"objectValue": {"objectType": "MULTI_PICKLIST", "values":
      ["napalm", "netmiko", "nornir"]}, "columnId": 1196977720452996, "strict": true}],
      "toTop": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7719639380715396/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":5210380100757380,"sheetId":7719639380715396,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:52:36Z","modifiedAt":"2020-02-05T15:52:36Z","cells":[{"columnId":71077813610372,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":4574677440980868,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":2322877627295620,"value":"ACME","displayValue":"ACME"},{"columnId":6826477254666116,"value":2.0,"displayValue":"2"},{"columnId":1196977720452996,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":5700577347823492},{"columnId":3448777534138244,"value":true}]},{"id":2958580287072132,"sheetId":7719639380715396,"rowNumber":2,"siblingId":5210380100757380,"expanded":true,"createdAt":"2020-02-05T15:52:36Z","modifiedAt":"2020-02-05T15:52:36Z","cells":[{"columnId":71077813610372,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":4574677440980868,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":2322877627295620,"value":"Globex","displayValue":"Globex"},{"columnId":6826477254666116},{"columnId":1196977720452996,"displayValue":"nornir,
        napalm"},{"columnId":5700577347823492},{"columnId":3448777534138244}]},{"id":7462179914442628,"sheetId":7719639380715396,"rowNumber":3,"siblingId":2958580287072132,"expanded":true,"createdAt":"2020-02-05T15:52:36Z","modifiedAt":"2020-02-05T15:52:36Z","cells":[{"columnId":71077813610372,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":4574677440980868,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":2322877627295620,"value":"ACME","displayValue":"ACME"},{"columnId":6826477254666116,"value":1.0,"displayValue":"1"},{"columnId":1196977720452996,"displayValue":"nornir,
        napalm, netmiko"},{"columnId":5700577347823492,"value":"1990-01-01"},{"columnId":3448777534138244,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
