interactions:
- request:
    body: '{"name": "[TEST] Sheet To Update", "columns": [{"primary": true, "type":
      "TEXT_NUMBER", "title": "Full Name"}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"options": ["simple-smartsheet", "nornir",
      "napalm", "netmiko", "pydantic"], "type": "MULTI_PICKLIST", "title": "Maintains"},
      {"type": "DATE", "title": "Birth date"}, {"type": "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":4523848705042308,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Hvx8hHh6xr2vvPqV6f7H4RPmF5H6qhHQMG32jjr1","columns":[{"id":2122320908183428,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6625920535553924,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4374120721868676,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8877720349239172,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":81627327031172,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":4585226954401668,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2333427140716420,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"cells": [{"columnId": 2122320908183428, "strict": true, "value": "Bob
      Lee"}, {"columnId": 6625920535553924, "strict": true, "value": "bob.lee@acme.com"},
      {"columnId": 4374120721868676, "strict": true, "value": "ACME"}, {"columnId":
      8877720349239172, "strict": true, "value": 2}, {"columnId": 2333427140716420,
      "strict": true, "value": true}, {"columnId": 81627327031172, "strict": true,
      "objectValue": {"objectType": "MULTI_PICKLIST", "values": ["simple-smartsheet",
      "nornir"]}}], "toTop": true}, {"cells": [{"columnId": 2122320908183428, "strict":
      true, "value": "Alice Smith"}, {"columnId": 6625920535553924, "strict": true,
      "value": "alice.smith@globex.com"}, {"columnId": 4374120721868676, "strict":
      true, "value": "Globex"}, {"columnId": 81627327031172, "strict": true, "objectValue":
      {"objectType": "MULTI_PICKLIST", "values": ["napalm", "nornir"]}}], "toTop":
      true}, {"cells": [{"columnId": 2122320908183428, "strict": true, "value": "Charlie
      Brown"}, {"columnId": 6625920535553924, "strict": true, "value": "charlie.brown@acme.com"},
      {"columnId": 4374120721868676, "strict": true, "value": "ACME"}, {"columnId":
      8877720349239172, "strict": true, "value": 1}, {"columnId": 4585226954401668,
      "strict": true, "value": "1990-01-01"}, {"columnId": 2333427140716420, "strict":
      true, "value": false}, {"columnId": 81627327031172, "strict": true, "objectValue":
      {"objectType": "MULTI_PICKLIST", "values": ["napalm", "netmiko", "nornir"]}}],
      "toTop": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/4523848705042308/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":4734363372414852,"sheetId":4523848705042308,"rowNumber":1,"expanded":true,"createdAt":"2020-02-06T15:25:49Z","modifiedAt":"2020-02-06T15:25:49Z","cells":[{"columnId":2122320908183428,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":6625920535553924,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4374120721868676,"value":"ACME","displayValue":"ACME"},{"columnId":8877720349239172,"value":2.0,"displayValue":"2"},{"columnId":81627327031172,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":4585226954401668},{"columnId":2333427140716420,"value":true}]},{"id":2482563558729604,"sheetId":4523848705042308,"rowNumber":2,"siblingId":4734363372414852,"expanded":true,"createdAt":"2020-02-06T15:25:49Z","modifiedAt":"2020-02-06T15:25:49Z","cells":[{"columnId":2122320908183428,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":6625920535553924,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4374120721868676,"value":"Globex","displayValue":"Globex"},{"columnId":8877720349239172},{"columnId":81627327031172,"displayValue":"nornir,
        napalm"},{"columnId":4585226954401668},{"columnId":2333427140716420}]},{"id":6986163186100100,"sheetId":4523848705042308,"rowNumber":3,"siblingId":2482563558729604,"expanded":true,"createdAt":"2020-02-06T15:25:49Z","modifiedAt":"2020-02-06T15:25:49Z","cells":[{"columnId":2122320908183428,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":6625920535553924,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":4374120721868676,"value":"ACME","displayValue":"ACME"},{"columnId":8877720349239172,"value":1.0,"displayValue":"1"},{"columnId":81627327031172,"displayValue":"nornir,
        napalm, netmiko"},{"columnId":4585226954401668,"value":"1990-01-01"},{"columnId":2333427140716420,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
