interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":972492182448004,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5C8Vr98w9Qw49crvFPxFfcJqmCFcxxG7gvR4ch21","createdAt":"2020-01-15T18:49:47Z","modifiedAt":"2020-01-15T18:49:47Z"},{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/972492182448004
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":3,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
