interactions:
- request:
    body:
      columns:
      - primary: true
        title: Full Name
        type: TEXT_NUMBER
      - title: Email address
        type: TEXT_NUMBER
      - title: Company
        type: TEXT_NUMBER
      - title: Number of children
        type: TEXT_NUMBER
      - title: Birth date
        type: DATE
      - title: Married
        type: CHECKBOX
      name: '[TEST] New Sheet'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":3486174204454788,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/X3Q6RVcRghq8p2XGx7fvRHrCvrJ8fVP7xcRMMFw1","columns":[{"id":5772486332704644,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3520686519019396,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8024286146389892,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":705936751912836,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5209536379283332,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2957736565598084,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets
version: 1
