interactions:
- request:
    body: '{"name": "[TEST] New Sheet", "columns": [{"primary": true, "title": "Full
      Name", "type": "TEXT_NUMBER"}, {"title": "Email address", "type": "TEXT_NUMBER"},
      {"title": "Company", "type": "TEXT_NUMBER"}, {"title": "Number of children",
      "type": "TEXT_NUMBER"}, {"title": "Birth date", "type": "DATE"}, {"title": "Married",
      "type": "CHECKBOX"}, {"title": "Full Name", "type": "TEXT_NUMBER"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: "{\n  \"errorCode\" : 1056,\n  \"message\" : \"Column titles must be
        unique.\",\n  \"refId\" : \"1qxj96hvyi33i\"\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
