interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":3,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4227473748584324
  response:
    body:
      string: '{"id":4227473748584324,"name":"[TEST] Read-only Sheet","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","LINK","BOX_COM","GOOGLE_DRIVE","ONEDRIVE","EVERNOTE","FILE","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z","columns":[{"id":3645257482037124,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8148857109407620,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":830507714930564,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5334107342301060,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3082307528615812,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7585907155986308,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":717150635222916,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:38:34Z","modifiedAt":"2019-08-16T02:38:34Z","cells":[{"columnId":3645257482037124,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8148857109407620,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":830507714930564,"value":"ACME","displayValue":"ACME"},{"columnId":5334107342301060,"value":2.0,"displayValue":"2"},{"columnId":3082307528615812},{"columnId":7585907155986308,"value":true}]},{"id":5220750262593412,"rowNumber":2,"siblingId":717150635222916,"expanded":true,"createdAt":"2019-08-16T02:38:34Z","modifiedAt":"2019-08-16T02:38:34Z","cells":[{"columnId":3645257482037124,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8148857109407620,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":830507714930564,"value":"Globex","displayValue":"Globex"},{"columnId":5334107342301060},{"columnId":3082307528615812},{"columnId":7585907155986308}]},{"id":2968950448908164,"rowNumber":3,"siblingId":5220750262593412,"expanded":true,"createdAt":"2019-08-16T02:38:34Z","modifiedAt":"2019-08-16T02:38:34Z","cells":[{"columnId":3645257482037124,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8148857109407620,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":830507714930564,"value":"ACME","displayValue":"ACME"},{"columnId":5334107342301060,"value":1.0,"displayValue":"1"},{"columnId":3082307528615812,"value":"1990-01-01"},{"columnId":7585907155986308,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
