interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":3,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4921432015693700
  response:
    body:
      string: '{"id":4921432015693700,"name":"[TEST] Read-only Sheet","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","LINK","ONEDRIVE","FILE","DROPBOX","EVERNOTE","GOOGLE_DRIVE","EGNYTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","columns":[{"id":6775369786255236,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":1145870252042116,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5649469879412612,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3397670065727364,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7901269693097860,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":582920298620804,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":5898556399216516,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","cells":[{"columnId":6775369786255236,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":1145870252042116,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":5649469879412612,"value":"ACME","displayValue":"ACME"},{"columnId":3397670065727364,"value":2.0,"displayValue":"2"},{"columnId":7901269693097860},{"columnId":582920298620804,"value":true}]},{"id":3646756585531268,"rowNumber":2,"siblingId":5898556399216516,"expanded":true,"createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","cells":[{"columnId":6775369786255236,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":1145870252042116,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":5649469879412612,"value":"Globex","displayValue":"Globex"},{"columnId":3397670065727364},{"columnId":7901269693097860},{"columnId":582920298620804}]},{"id":8150356212901764,"rowNumber":3,"siblingId":3646756585531268,"expanded":true,"createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z","cells":[{"columnId":6775369786255236,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":1145870252042116,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":5649469879412612,"value":"ACME","displayValue":"ACME"},{"columnId":3397670065727364,"value":1.0,"displayValue":"1"},{"columnId":7901269693097860,"value":"1990-01-01"},{"columnId":582920298620804,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
