interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":2030358196709252,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/whcRMCJ7xCpXQJ4h2CcPQMcVhxh8jfJGGr8VxHR1","createdAt":"2020-02-05T04:02:12Z","modifiedAt":"2020-02-05T04:02:13Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/2030358196709252?level=2&include=objectValue
  response:
    body:
      string: '{"id":2030358196709252,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EVERNOTE","GOOGLE_DRIVE","BOX_COM","EGNYTE","DROPBOX","ONEDRIVE","FILE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/whcRMCJ7xCpXQJ4h2CcPQMcVhxh8jfJGGr8VxHR1","createdAt":"2020-02-05T04:02:12Z","modifiedAt":"2020-02-05T04:02:13Z","isMultiPicklistEnabled":true,"columns":[{"id":2302843215472516,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6806442842843012,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1176943308629892,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5680542936000388,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3428743122315140,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":7932342749685636,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":613993355208580,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":7118020695353220,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:13Z","modifiedAt":"2020-02-05T04:02:13Z","cells":[{"columnId":2302843215472516,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":6806442842843012,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1176943308629892,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":5680542936000388,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":3428743122315140,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":7932342749685636},{"columnId":613993355208580,"value":true,"objectValue":true}]},{"id":1488521161140100,"rowNumber":2,"siblingId":7118020695353220,"expanded":true,"createdAt":"2020-02-05T04:02:13Z","modifiedAt":"2020-02-05T04:02:13Z","cells":[{"columnId":2302843215472516,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":6806442842843012,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1176943308629892,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":5680542936000388},{"co[...]
- request:
    body:
    - cells:
      - columnId: 2302843215472516
        strict: true
        value: David Ward
      - columnId: 6806442842843012
        strict: true
        value: david.ward@globex.com
      - columnId: 1176943308629892
        strict: true
        value: Globex
      - columnId: 5680542936000388
        strict: true
        value: 3
      - columnId: 7932342749685636
        strict: true
        value: '1980-01-01'
      - columnId: 613993355208580
        strict: true
        value: true
      - columnId: 3428743122315140
        objectValue:
          objectType: MULTI_PICKLIST
          values:
          - pydantic
        strict: true
      toBottom: true
    - cells:
      - columnId: 2302843215472516
        strict: true
        value: Elizabeth Warner
      - columnId: 6806442842843012
        strict: true
        value: elizabeth.warner@acme.com
      - columnId: 1176943308629892
        strict: true
        value: ACME
      - columnId: 5680542936000388
        strict: true
        value: 2
      - columnId: 7932342749685636
        strict: true
        value: '1985-01-01'
      - columnId: 613993355208580
        strict: true
        value: true
      toBottom: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/2030358196709252/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":8509194962265988,"sheetId":2030358196709252,"rowNumber":4,"siblingId":5992120788510596,"expanded":true,"createdAt":"2020-02-05T04:02:14Z","modifiedAt":"2020-02-05T04:02:14Z","cells":[{"columnId":2302843215472516,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":6806442842843012,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":1176943308629892,"value":"Globex","displayValue":"Globex"},{"columnId":5680542936000388,"value":3.0,"displayValue":"3"},{"columnId":3428743122315140,"displayValue":"pydantic"},{"columnId":7932342749685636,"value":"1980-01-01"},{"columnId":613993355208580,"value":true}]},{"id":346420637656964,"sheetId":2030358196709252,"rowNumber":5,"siblingId":8509194962265988,"expanded":true,"createdAt":"2020-02-05T04:02:14Z","modifiedAt":"2020-02-05T04:02:14Z","cells":[{"columnId":2302843215472516,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":6806442842843012,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":1176943308629892,"value":"ACME","displayValue":"ACME"},{"columnId":5680542936000388,"value":2.0,"displayValue":"2"},{"columnId":3428743122315140},{"columnId":7932342749685636,"value":"1985-01-01"},{"columnId":613993355208580,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/2030358196709252/rows
[...]
