interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":272239103895428,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Jrq7MMG4X9XjGfMjqc2hh53qJppHw3hxgwp4f2R1","createdAt":"2020-02-05T04:02:02Z","modifiedAt":"2020-02-05T04:02:02Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/272239103895428?level=2&include=objectValue
  response:
    body:
      string: '{"id":272239103895428,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","EVERNOTE","DROPBOX","GOOGLE_DRIVE","BOX_COM","LINK","ONEDRIVE","FILE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Jrq7MMG4X9XjGfMjqc2hh53qJppHw3hxgwp4f2R1","createdAt":"2020-02-05T04:02:02Z","modifiedAt":"2020-02-05T04:02:02Z","isMultiPicklistEnabled":true,"columns":[{"id":1499190409881476,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6002790037251972,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3750990223566724,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8254589850937220,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":936240456460164,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":5439840083830660,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3188040270145412,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":586360059389828,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:02Z","modifiedAt":"2020-02-05T04:02:02Z","cells":[{"columnId":1499190409881476,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":6002790037251972,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":3750990223566724,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":8254589850937220,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":936240456460164,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":5439840083830660},{"columnId":3188040270145412,"value":true,"objectValue":true}]},{"id":5089959686760324,"rowNumber":2,"siblingId":586360059389828,"expanded":true,"createdAt":"2020-02-05T04:02:02Z","modifiedAt":"2020-02-05T04:02:02Z","cells":[{"columnId":1499190409881476,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":6002790037251972,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":3750990223566724,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":8254589850937220},{"col[...]
- request:
    body: '{"cells": [{"columnId": 1499190409881476, "value": "David Ward", "strict":
      true}, {"columnId": 6002790037251972, "value": "david.ward@globex.com", "strict":
      true}, {"columnId": 3750990223566724, "value": "Globex", "strict": true}, {"columnId":
      8254589850937220, "value": 3, "strict": true}, {"columnId": 5439840083830660,
      "value": "1980-01-01", "strict": true}, {"columnId": 3188040270145412, "value":
      true, "strict": true}, {"columnId": 936240456460164, "objectValue": {"values":
      ["pydantic"], "objectType": "MULTI_PICKLIST"}, "strict": true}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/272239103895428/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":6817172194912132,"sheetId":272239103895428,"rowNumber":4,"siblingId":2838159873075076,"expanded":true,"createdAt":"2020-02-05T04:02:03Z","modifiedAt":"2020-02-05T04:02:03Z","cells":[{"columnId":1499190409881476,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":6002790037251972,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":3750990223566724,"value":"Globex","displayValue":"Globex"},{"columnId":8254589850937220,"value":3.0,"displayValue":"3"},{"columnId":936240456460164,"displayValue":"pydantic"},{"columnId":5439840083830660,"value":"1980-01-01"},{"columnId":3188040270145412,"value":true}]},"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
