interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8723703950272388,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FWggccVfP8PF3J3jCQM79rvvWQ4MVcr78gP8WgG1","createdAt":"2020-02-05T04:02:24Z","modifiedAt":"2020-02-05T04:02:24Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8723703950272388?level=2&include=objectValue
  response:
    body:
      string: '{"id":8723703950272388,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","FILE","ONEDRIVE","EVERNOTE","EGNYTE","DROPBOX","LINK","BOX_COM"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/FWggccVfP8PF3J3jCQM79rvvWQ4MVcr78gP8WgG1","createdAt":"2020-02-05T04:02:24Z","modifiedAt":"2020-02-05T04:02:24Z","isMultiPicklistEnabled":true,"columns":[{"id":6383828798334852,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":4132028984649604,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8635628612020100,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":472854287411076,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4976453914781572,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":2724654101096324,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7228253728466820,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":5348392163927940,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:24Z","modifiedAt":"2020-02-05T04:02:24Z","cells":[{"columnId":6383828798334852,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":4132028984649604,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8635628612020100,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":472854287411076,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":4976453914781572,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2724654101096324},{"columnId":7228253728466820,"value":true,"objectValue":true}]},{"id":3096592350242692,"rowNumber":2,"siblingId":5348392163927940,"expanded":true,"createdAt":"2020-02-05T04:02:24Z","modifiedAt":"2020-02-05T04:02:24Z","cells":[{"columnId":6383828798334852,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":4132028984649604,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8635628612020100,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":472854287411076},{"col[...]
- request:
    body: '[{"id": 3096592350242692, "cells": [{"columnId": 6383828798334852, "value":
      "Alice Han", "strict": true}, {"columnId": 2724654101096324, "value": "1989-12-31",
      "strict": true}], "expanded": true}, {"id": 5348392163927940, "cells": [{"columnId":
      8635628612020100, "value": "Globex", "strict": true}, {"columnId": 472854287411076,
      "value": "", "strict": true}], "expanded": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/8723703950272388/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":5348392163927940,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:24Z","modifiedAt":"2020-02-05T04:02:25Z","cells":[{"columnId":6383828798334852,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":4132028984649604,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8635628612020100,"value":"Globex","displayValue":"Globex"},{"columnId":472854287411076},{"columnId":4976453914781572,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2724654101096324},{"columnId":7228253728466820,"value":true}]},{"id":3096592350242692,"rowNumber":2,"siblingId":5348392163927940,"expanded":true,"createdAt":"2020-02-05T04:02:24Z","modifiedAt":"2020-02-05T04:02:25Z","cells":[{"columnId":6383828798334852,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":4132028984649604,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8635628612020100,"value":"Globex","displayValue":"Globex"},{"columnId":472854287411076},{"columnId":4976453914781572,"displayValue":"nornir,
        napalm"},{"columnId":2724654101096324,"value":"1989-12-31"},{"columnId":7228253728466820}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
