interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":3295760251938692,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/2X9MXXw6gjpJxWvW4pq6xgCm9w922xj7cHV78c51","createdAt":"2020-01-15T18:50:34Z","modifiedAt":"2020-01-15T18:50:34Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3295760251938692
  response:
    body:
      string: '{"id":3295760251938692,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","DROPBOX","EVERNOTE","FILE","GOOGLE_DRIVE","EGNYTE","LINK","BOX_COM"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/2X9MXXw6gjpJxWvW4pq6xgCm9w922xj7cHV78c51","createdAt":"2020-01-15T18:50:34Z","modifiedAt":"2020-01-15T18:50:34Z","isMultiPicklistEnabled":true,"columns":[{"id":4426325529257860,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8929925156628356,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":133832134420356,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4637431761790852,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2385631948105604,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":6889231575476100,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":712474240018308,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:34Z","modifiedAt":"2020-01-15T18:50:34Z","cells":[{"columnId":4426325529257860,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8929925156628356,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":133832134420356,"value":"ACME","displayValue":"ACME"},{"columnId":4637431761790852,"value":2.0,"displayValue":"2"},{"columnId":2385631948105604},{"columnId":6889231575476100,"value":true}]},{"id":5216073867388804,"rowNumber":2,"siblingId":712474240018308,"expanded":true,"createdAt":"2020-01-15T18:50:34Z","modifiedAt":"2020-01-15T18:50:34Z","cells":[{"columnId":4426325529257860,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8929925156628356,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":133832134420356,"value":"Globex","displayValue":"Globex"},{"columnId":4637431761790852},{"columnId":2385631948105604},{"columnId":6889231575476100}]},{"id":2964274053703556,"rowNumber":3,"siblingId":5216073867388804,"expanded":true,"createdAt":"2020-01-15T18:50:34Z","modifiedAt":"2020-01-15T18:50:34Z","cells":[{"columnId":4426325529257860,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8929925156628356,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":133832134420356,"value":"ACME","displayValue":"ACME"},{"columnId":4637431761790852,"value":1.0,"displayValue":"1"},{"columnId":2385631948105604,"value":"1990-01-01"},{"columnId":6889231575476100,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/3295760251938692
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/3295760251938692/rows?ids=5216073867388804
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[5216073867388804]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/3295760251938692/rows?ids=5216073867388804
[...]
