interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":2196111185209220,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Q482GfrPrv9qw9f76pHf723vRHJpH8XVxrmphxJ1","createdAt":"2020-01-15T18:50:09Z","modifiedAt":"2020-01-15T18:50:09Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/2196111185209220
  response:
    body:
      string: '{"id":2196111185209220,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EVERNOTE","DROPBOX","GOOGLE_DRIVE","ONEDRIVE","EGNYTE","LINK","FILE","BOX_COM"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Q482GfrPrv9qw9f76pHf723vRHJpH8XVxrmphxJ1","createdAt":"2020-01-15T18:50:09Z","modifiedAt":"2020-01-15T18:50:09Z","isMultiPicklistEnabled":true,"columns":[{"id":3501146624026500,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8004746251396996,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":686396856919940,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5189996484290436,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2938196670605188,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7441796297975684,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4617038940923780,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:09Z","modifiedAt":"2020-01-15T18:50:09Z","cells":[{"columnId":3501146624026500,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8004746251396996,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":686396856919940,"value":"ACME","displayValue":"ACME"},{"columnId":5189996484290436,"value":2.0,"displayValue":"2"},{"columnId":2938196670605188},{"columnId":7441796297975684,"value":true}]},{"id":2365239127238532,"rowNumber":2,"siblingId":4617038940923780,"expanded":true,"createdAt":"2020-01-15T18:50:09Z","modifiedAt":"2020-01-15T18:50:09Z","cells":[{"columnId":3501146624026500,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8004746251396996,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":686396856919940,"value":"Globex","displayValue":"Globex"},{"columnId":5189996484290436},{"columnId":2938196670605188},{"columnId":7441796297975684}]},{"id":6868838754609028,"rowNumber":3,"siblingId":2365239127238532,"expanded":true,"createdAt":"2020-01-15T18:50:09Z","modifiedAt":"2020-01-15T18:50:09Z","cells":[{"columnId":3501146624026500,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8004746251396996,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":686396856919940,"value":"ACME","displayValue":"ACME"},{"columnId":5189996484290436,"value":1.0,"displayValue":"1"},{"columnId":2938196670605188,"value":"1990-01-01"},{"columnId":7441796297975684,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toBottom": true, "cells": [{"strict": true, "columnId": 3501146624026500,
      "value": "David Ward"}, {"strict": true, "columnId": 8004746251396996, "value":
      "david.ward@globex.com"}, {"strict": true, "columnId": 686396856919940, "value":
      "Globex"}, {"strict": true, "columnId": 5189996484290436, "value": 3}, {"strict":
      true, "columnId": 2938196670605188, "value": "1980-01-01"}, {"strict": true,
      "columnId": 7441796297975684, "value": true}]}, {"toBottom": true, "cells":
      [{"strict": true, "columnId": 3501146624026500, "value": "Elizabeth Warner"},
      {"strict": true, "columnId": 8004746251396996, "value": "elizabeth.warner@acme.com"},
      {"strict": true, "columnId": 686396856919940, "value": "ACME"}, {"strict": true,
      "columnId": 5189996484290436, "value": 2}, {"strict": true, "columnId": 2938196670605188,
      "value": "1985-01-01"}, {"strict": true, "columnId": 7441796297975684, "value":
      true}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/2196111185209220/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":7304050743502724,"sheetId":2196111185209220,"rowNumber":4,"siblingId":6868838754609028,"expanded":true,"createdAt":"2020-01-15T18:50:11Z","modifiedAt":"2020-01-15T18:50:11Z","cells":[{"columnId":3501146624026500,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":8004746251396996,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":686396856919940,"value":"Globex","displayValue":"Globex"},{"columnId":5189996484290436,"value":3.0,"displayValue":"3"},{"columnId":2938196670605188,"value":"1980-01-01"},{"columnId":7441796297975684,"value":true}]},{"id":1674551209289604,"sheetId":2196111185209220,"rowNumber":5,"siblingId":7304050743502724,"expanded":true,"createdAt":"2020-01-15T18:50:11Z","modifiedAt":"2020-01-15T18:50:11Z","cells":[{"columnId":3501146624026500,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":8004746251396996,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":686396856919940,"value":"ACME","displayValue":"ACME"},{"columnId":5189996484290436,"value":2.0,"displayValue":"2"},{"columnId":2938196670605188,"value":"1985-01-01"},{"columnId":7441796297975684,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
