interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":5195097869444996,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/JFvRr2cv39jcXHQMVq4QfvWgXRQ9wvcv6Rx99f91","createdAt":"2020-01-15T18:50:48Z","modifiedAt":"2020-01-15T18:50:48Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/5195097869444996
  response:
    body:
      string: '{"id":5195097869444996,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","DROPBOX","EVERNOTE","GOOGLE_DRIVE","FILE","ONEDRIVE","EGNYTE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/JFvRr2cv39jcXHQMVq4QfvWgXRQ9wvcv6Rx99f91","createdAt":"2020-01-15T18:50:48Z","modifiedAt":"2020-01-15T18:50:48Z","isMultiPicklistEnabled":true,"columns":[{"id":1847549855328132,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6351149482698628,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4099349669013380,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8602949296383876,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":440174971774852,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4943774599145348,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":620622069426052,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:48Z","modifiedAt":"2020-01-15T18:50:48Z","cells":[{"columnId":1847549855328132,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":6351149482698628,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4099349669013380,"value":"ACME","displayValue":"ACME"},{"columnId":8602949296383876,"value":2.0,"displayValue":"2"},{"columnId":440174971774852},{"columnId":4943774599145348,"value":true}]},{"id":5124221696796548,"rowNumber":2,"siblingId":620622069426052,"expanded":true,"createdAt":"2020-01-15T18:50:48Z","modifiedAt":"2020-01-15T18:50:48Z","cells":[{"columnId":1847549855328132,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":6351149482698628,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4099349669013380,"value":"Globex","displayValue":"Globex"},{"columnId":8602949296383876},{"columnId":440174971774852},{"columnId":4943774599145348}]},{"id":2872421883111300,"rowNumber":3,"siblingId":5124221696796548,"expanded":true,"createdAt":"2020-01-15T18:50:48Z","modifiedAt":"2020-01-15T18:50:48Z","cells":[{"columnId":1847549855328132,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":6351149482698628,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":4099349669013380,"value":"ACME","displayValue":"ACME"},{"columnId":8602949296383876,"value":1.0,"displayValue":"1"},{"columnId":440174971774852,"value":"1990-01-01"},{"columnId":4943774599145348,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/5195097869444996
- request:
    body:
      sortCriteria:
      - columnId: 1847549855328132
        direction: ASCENDING
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/5195097869444996/sort
  response:
    body:
      string: '{"id":5195097869444996,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","DROPBOX","EVERNOTE","GOOGLE_DRIVE","FILE","ONEDRIVE","EGNYTE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false[...]
