interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":6312407841695620,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/fHmPxcV7xv9GrWcFpmhG8QCjcQ6RQ4mqxc5HV561","createdAt":"2020-01-15T18:49:59Z","modifiedAt":"2020-01-15T18:49:59Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6312407841695620
  response:
    body:
      string: '{"id":6312407841695620,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","EGNYTE","LINK","ONEDRIVE","GOOGLE_DRIVE","BOX_COM","EVERNOTE","FILE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/fHmPxcV7xv9GrWcFpmhG8QCjcQ6RQ4mqxc5HV561","createdAt":"2020-01-15T18:49:59Z","modifiedAt":"2020-01-15T18:49:59Z","isMultiPicklistEnabled":true,"columns":[{"id":1990280208508804,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6493879835879300,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4242080022194052,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8745679649564548,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":160692859889540,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4664292487260036,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":3657680685950852,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:49:59Z","modifiedAt":"2020-01-15T18:49:59Z","cells":[{"columnId":1990280208508804,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":6493879835879300,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4242080022194052,"value":"ACME","displayValue":"ACME"},{"columnId":8745679649564548,"value":2.0,"displayValue":"2"},{"columnId":160692859889540},{"columnId":4664292487260036,"value":true}]},{"id":8161280313321348,"rowNumber":2,"siblingId":3657680685950852,"expanded":true,"createdAt":"2020-01-15T18:49:59Z","modifiedAt":"2020-01-15T18:49:59Z","cells":[{"columnId":1990280208508804,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":6493879835879300,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4242080022194052,"value":"Globex","displayValue":"Globex"},{"columnId":8745679649564548},{"columnId":160692859889540},{"columnId":4664292487260036}]},{"id":842930918844292,"rowNumber":3,"siblingId":8161280313321348,"expanded":true,"createdAt":"2020-01-15T18:49:59Z","modifiedAt":"2020-01-15T18:49:59Z","cells":[{"columnId":1990280208508804,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":6493879835879300,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":4242080022194052,"value":"ACME","displayValue":"ACME"},{"columnId":8745679649564548,"value":1.0,"displayValue":"1"},{"columnId":160692859889540,"value":"1990-01-01"},{"columnId":4664292487260036,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6312407841695620
- request:
    body:
      name: '[TEST] Updated Sheet'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/6312407841695620
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":6312407841695620,"name":"[TEST]
        Updated Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/fHmPxcV7xv9GrWcFpmhG8QCjcQ6RQ4mqxc5HV561"},"version":2}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6312407841695620
version: 1
