interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":5784504821409668,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/6JqffJPFPm7rHQCcJ73hXrQwQ35GVVHGppPRG5H1","createdAt":"2020-01-15T18:50:05Z","modifiedAt":"2020-01-15T18:50:06Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/5784504821409668
  response:
    body:
      string: '{"id":5784504821409668,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","EVERNOTE","ONEDRIVE","FILE","EGNYTE","BOX_COM","DROPBOX","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/6JqffJPFPm7rHQCcJ73hXrQwQ35GVVHGppPRG5H1","createdAt":"2020-01-15T18:50:05Z","modifiedAt":"2020-01-15T18:50:06Z","isMultiPicklistEnabled":true,"columns":[{"id":1438041903523716,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":5941641530894212,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3689841717208964,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8193441344579460,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":875091950102404,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":5378691577472900,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":402313176737668,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:06Z","modifiedAt":"2020-01-15T18:50:06Z","cells":[{"columnId":1438041903523716,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":5941641530894212,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":3689841717208964,"value":"ACME","displayValue":"ACME"},{"columnId":8193441344579460,"value":2.0,"displayValue":"2"},{"columnId":875091950102404},{"columnId":5378691577472900,"value":true}]},{"id":4905912804108164,"rowNumber":2,"siblingId":402313176737668,"expanded":true,"createdAt":"2020-01-15T18:50:06Z","modifiedAt":"2020-01-15T18:50:06Z","cells":[{"columnId":1438041903523716,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":5941641530894212,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":3689841717208964,"value":"Globex","displayValue":"Globex"},{"columnId":8193441344579460},{"columnId":875091950102404},{"columnId":5378691577472900}]},{"id":2654112990422916,"rowNumber":3,"siblingId":4905912804108164,"expanded":true,"createdAt":"2020-01-15T18:50:06Z","modifiedAt":"2020-01-15T18:50:06Z","cells":[{"columnId":1438041903523716,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":5941641530894212,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":3689841717208964,"value":"ACME","displayValue":"ACME"},{"columnId":8193441344579460,"value":1.0,"displayValue":"1"},{"columnId":875091950102404,"value":"1990-01-01"},{"columnId":5378691577472900,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/5784504821409668
- request:
    body:
      cells:
      - columnId: 1438041903523716
        strict: true
        value: David Ward
      - columnId: 5941641530894212
        strict: true
        value: david.ward@globex.com
      - columnId: 3689841717208964
        strict: true
        value: Globex
      - columnId: 8193441344579460
        strict: true
        value: 3
      - columnId: 875091950102404
        strict: true
        value: '1980-01-01'
      - columnId: 5378691577472900
        strict: true
        value: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/5784504821409668/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":2780377781168004,"sheetId":5784504821409668,"rowNumber":4,"siblingId":2654112990422916,"expanded":true,"createdAt":"2020-01-15T18:50:07Z","modifiedAt":"2020-01-15T18:50:07Z","cells":[{"columnId":1438041903523716,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":5941641530894212,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":3689841717208964,"value":"Globex","displayValue":"Globex"},{"columnId":8193441344579460,"value":3.0,"displayValue":"3"},{"columnId":875091950102404,"value":"1980-01-01"},{"columnId":5378691577472900,"value":true}]},"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/5784504821409668/rows
[...]
