interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":5064529253033860,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/V8CC5Jrx3x456jfWfgCJxg37VvgFF3WpVcHV2CF1","createdAt":"2020-02-05T04:02:47Z","modifiedAt":"2020-02-05T04:02:47Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/5064529253033860?level=2&include=objectValue
  response:
    body:
      string: '{"id":5064529253033860,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","LINK","BOX_COM","EVERNOTE","DROPBOX","GOOGLE_DRIVE","FILE","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/V8CC5Jrx3x456jfWfgCJxg37VvgFF3WpVcHV2CF1","createdAt":"2020-02-05T04:02:47Z","modifiedAt":"2020-02-05T04:02:47Z","isMultiPicklistEnabled":true,"columns":[{"id":7791203681888132,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2161704147675012,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6665303775045508,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4413503961360260,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8917103588730756,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":121010566522756,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4624610193893252,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":704055048202116,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:47Z","modifiedAt":"2020-02-05T04:02:47Z","cells":[{"columnId":7791203681888132,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":2161704147675012,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6665303775045508,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4413503961360260,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":8917103588730756,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":121010566522756},{"columnId":4624610193893252,"value":true,"objectValue":true}]},{"id":5207654675572612,"rowNumber":2,"siblingId":704055048202116,"expanded":true,"createdAt":"2020-02-05T04:02:47Z","modifiedAt":"2020-02-05T04:02:47Z","cells":[{"columnId":7791203681888132,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":2161704147675012,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6665303775045508,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4413503961360260},{"col[...]
- request:
    body:
      sortCriteria:
      - columnId: 7791203681888132
        direction: ASCENDING
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/5064529253033860/sort
  response:
    body:
      string: '{"id":5064529253033860,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","LINK","BOX_COM","EVERNOTE","DROPBOX","GOOGLE_DRIVE","FILE","ONEDRIVE"],"readOnly":true,"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/V8CC5Jrx3x456jfWfgCJxg37VvgFF3WpVcHV2CF1","createdAt":"2020-02-05T04:02:47Z","modifiedAt":"2020-02-05T04:02:47Z","isMultiPicklistEnabled":true,"columns":[{"id":7791203681888132,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,[...]
