interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":560929625663364,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Mmg9F5694G2PwFXqRhhMrghWqgC6mP334qHR9wj1","createdAt":"2020-02-05T04:02:33Z","modifiedAt":"2020-02-05T04:02:34Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/560929625663364?level=2&include=objectValue
  response:
    body:
      string: '{"id":560929625663364,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["LINK","GOOGLE_DRIVE","BOX_COM","EGNYTE","FILE","EVERNOTE","DROPBOX","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Mmg9F5694G2PwFXqRhhMrghWqgC6mP334qHR9wj1","createdAt":"2020-02-05T04:02:33Z","modifiedAt":"2020-02-05T04:02:34Z","isMultiPicklistEnabled":true,"columns":[{"id":1598754194253700,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6102353821624196,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3850554007938948,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8354153635309444,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1035804240832388,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":5539403868202884,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3287604054517636,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1267005001623428,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:34Z","modifiedAt":"2020-02-05T04:02:34Z","cells":[{"columnId":1598754194253700,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":6102353821624196,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":3850554007938948,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":8354153635309444,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":1035804240832388,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":5539403868202884},{"columnId":3287604054517636,"value":true,"objectValue":true}]},{"id":5770604628993924,"rowNumber":2,"siblingId":1267005001623428,"expanded":true,"createdAt":"2020-02-05T04:02:34Z","modifiedAt":"2020-02-05T04:02:34Z","cells":[{"columnId":1598754194253700,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":6102353821624196,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":3850554007938948,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":8354153635309444},{"co[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/560929625663364/rows?ids=5770604628993924
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[5770604628993924]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/560929625663364/rows?ids=5770604628993924
[...]
