interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":5046320202311556,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/M55X2p763M49m3hf66p5C7c6jHp58g5wm7Q73Q81","createdAt":"2020-01-15T18:50:37Z","modifiedAt":"2020-01-15T18:50:38Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/5046320202311556
  response:
    body:
      string: '{"id":5046320202311556,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","EGNYTE","FILE","GOOGLE_DRIVE","BOX_COM","LINK","EVERNOTE","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/M55X2p763M49m3hf66p5C7c6jHp58g5wm7Q73Q81","createdAt":"2020-01-15T18:50:37Z","modifiedAt":"2020-01-15T18:50:38Z","isMultiPicklistEnabled":true,"columns":[{"id":7620003081021316,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":1990503546808196,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6494103174178692,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4242303360493444,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8745902987863940,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":160916198188932,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4259760744228740,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:38Z","modifiedAt":"2020-01-15T18:50:38Z","cells":[{"columnId":7620003081021316,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":1990503546808196,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6494103174178692,"value":"ACME","displayValue":"ACME"},{"columnId":4242303360493444,"value":2.0,"displayValue":"2"},{"columnId":8745902987863940},{"columnId":160916198188932,"value":true}]},{"id":8763360371599236,"rowNumber":2,"siblingId":4259760744228740,"expanded":true,"createdAt":"2020-01-15T18:50:38Z","modifiedAt":"2020-01-15T18:50:38Z","cells":[{"columnId":7620003081021316,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":1990503546808196,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6494103174178692,"value":"Globex","displayValue":"Globex"},{"columnId":4242303360493444},{"columnId":8745902987863940},{"columnId":160916198188932}]},{"id":178373581924228,"rowNumber":3,"siblingId":8763360371599236,"expanded":true,"createdAt":"2020-01-15T18:50:38Z","modifiedAt":"2020-01-15T18:50:38Z","cells":[{"columnId":7620003081021316,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":1990503546808196,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":6494103174178692,"value":"ACME","displayValue":"ACME"},{"columnId":4242303360493444,"value":1.0,"displayValue":"1"},{"columnId":8745902987863940,"value":"1990-01-01"},{"columnId":160916198188932,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/5046320202311556/rows?ids=8763360371599236%2C4259760744228740
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[8763360371599236,4259760744228740]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
