interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":7281419572537220,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/XVFwVXMFGrxwMCwx9q8WpRP6v8GfF5F78XH3x4g1","createdAt":"2020-02-05T04:02:20Z","modifiedAt":"2020-02-05T04:02:20Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7281419572537220?level=2&include=objectValue
  response:
    body:
      string: '{"id":7281419572537220,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","LINK","EGNYTE","FILE","ONEDRIVE","BOX_COM","GOOGLE_DRIVE","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/XVFwVXMFGrxwMCwx9q8WpRP6v8GfF5F78XH3x4g1","createdAt":"2020-02-05T04:02:20Z","modifiedAt":"2020-02-05T04:02:20Z","isMultiPicklistEnabled":true,"columns":[{"id":3276815096670084,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7780414724040580,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2150915189827460,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6654514817197956,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4402715003512708,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":8906314630883204,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":110221608675204,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":3198170474276740,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:20Z","modifiedAt":"2020-02-05T04:02:20Z","cells":[{"columnId":3276815096670084,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":7780414724040580,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":2150915189827460,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":6654514817197956,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":4402715003512708,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":8906314630883204},{"columnId":110221608675204,"value":true,"objectValue":true}]},{"id":7701770101647236,"rowNumber":2,"siblingId":3198170474276740,"expanded":true,"createdAt":"2020-02-05T04:02:20Z","modifiedAt":"2020-02-05T04:02:20Z","cells":[{"columnId":3276815096670084,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":7780414724040580,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":2150915189827460,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":6654514817197956},{"co[...]
- request:
    body:
      cells:
      - columnId: 3276815096670084
        strict: true
        value: Alice Han
      - columnId: 110221608675204
        strict: true
        value: true
      expanded: true
      id: 7701770101647236
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/7281419572537220/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":7701770101647236,"rowNumber":2,"siblingId":3198170474276740,"expanded":true,"createdAt":"2020-02-05T04:02:20Z","modifiedAt":"2020-02-05T04:02:22Z","cells":[{"columnId":3276815096670084,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":7780414724040580,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":2150915189827460,"value":"Globex","displayValue":"Globex"},{"columnId":6654514817197956},{"columnId":4402715003512708,"displayValue":"nornir,
        napalm"},{"columnId":8906314630883204},{"columnId":110221608675204,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/7281419572537220/rows
[...]
