interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8164116956243844,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/F3XrqxX5p2mxhVhrVm2p9xwfCx8V889GV7HxGQj1","createdAt":"2020-02-05T04:02:05Z","modifiedAt":"2020-02-05T04:02:05Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8164116956243844?level=2&include=objectValue
  response:
    body:
      string: '{"id":8164116956243844,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","EGNYTE","EVERNOTE","LINK","FILE","GOOGLE_DRIVE","DROPBOX","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/F3XrqxX5p2mxhVhrVm2p9xwfCx8V889GV7HxGQj1","createdAt":"2020-02-05T04:02:05Z","modifiedAt":"2020-02-05T04:02:05Z","isMultiPicklistEnabled":true,"columns":[{"id":4051225617426308,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8554825244796804,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":392050920187780,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4895650547558276,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2643850733873028,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":7147450361243524,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1517950827030404,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1046912623765380,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:05Z","modifiedAt":"2020-02-05T04:02:05Z","cells":[{"columnId":4051225617426308,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":8554825244796804,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":392050920187780,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4895650547558276,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":2643850733873028,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":7147450361243524},{"columnId":1517950827030404,"value":true,"objectValue":true}]},{"id":5550512251135876,"rowNumber":2,"siblingId":1046912623765380,"expanded":true,"createdAt":"2020-02-05T04:02:05Z","modifiedAt":"2020-02-05T04:02:05Z","cells":[{"columnId":4051225617426308,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":8554825244796804,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":392050920187780,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4895650547558276},{"col[...]
- request:
    body:
      cells:
      - columnId: 4051225617426308
        strict: true
        value: David Ward
      - columnId: 8554825244796804
        strict: true
        value: david.ward@globex.com
      - columnId: 392050920187780
        strict: true
        value: Globex
      - columnId: 4895650547558276
        strict: true
        value: 3
      - columnId: 7147450361243524
        strict: true
        value: '1980-01-01'
      - columnId: 1517950827030404
        strict: true
        value: true
      - columnId: 2643850733873028
        objectValue:
          objectType: MULTI_PICKLIST
          values:
          - pydantic
        strict: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/8164116956243844/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":3893184229599108,"sheetId":8164116956243844,"rowNumber":4,"siblingId":3298712437450628,"expanded":true,"createdAt":"2020-02-05T04:02:06Z","modifiedAt":"2020-02-05T04:02:06Z","cells":[{"columnId":4051225617426308,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":8554825244796804,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":392050920187780,"value":"Globex","displayValue":"Globex"},{"columnId":4895650547558276,"value":3.0,"displayValue":"3"},{"columnId":2643850733873028,"displayValue":"pydantic"},{"columnId":7147450361243524,"value":"1980-01-01"},{"columnId":1517950827030404,"value":true}]},"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8164116956243844/rows
[...]
