interactions:
- request:
    body: '{"name": "[TEST] New Sheet", "columns": [{"type": "TEXT_NUMBER", "title":
      "Full Name", "primary": true}, {"type": "TEXT_NUMBER", "title": "Email address"},
      {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER", "title":
      "Number of children"}, {"type": "DATE", "title": "Birth date"}, {"type": "CHECKBOX",
      "title": "Married"}, {"type": "TEXT_NUMBER", "title": "Full Name"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: "{\n  \"errorCode\" : 1056,\n  \"message\" : \"Column titles must be\
        \ unique.\",\n  \"refId\" : \"708so0ktomdz\"\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
