interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":7516647952017284,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/J2PXfmqP6V934xH67jF3MvrhPCqC76499f4WvGv1","createdAt":"2020-01-15T18:50:12Z","modifiedAt":"2020-01-15T18:50:13Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7516647952017284
  response:
    body:
      string: '{"id":7516647952017284,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","EGNYTE","ONEDRIVE","EVERNOTE","LINK","BOX_COM","FILE","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/J2PXfmqP6V934xH67jF3MvrhPCqC76499f4WvGv1","createdAt":"2020-01-15T18:50:12Z","modifiedAt":"2020-01-15T18:50:13Z","isMultiPicklistEnabled":true,"columns":[{"id":5354158724278148,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3102358910592900,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7605958537963396,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1976459003750276,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6480058631120772,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4228258817435524,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":3956417136224132,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:13Z","modifiedAt":"2020-01-15T18:50:13Z","cells":[{"columnId":5354158724278148,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3102358910592900,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7605958537963396,"value":"ACME","displayValue":"ACME"},{"columnId":1976459003750276,"value":2.0,"displayValue":"2"},{"columnId":6480058631120772},{"columnId":4228258817435524,"value":true}]},{"id":8460016763594628,"rowNumber":2,"siblingId":3956417136224132,"expanded":true,"createdAt":"2020-01-15T18:50:13Z","modifiedAt":"2020-01-15T18:50:13Z","cells":[{"columnId":5354158724278148,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3102358910592900,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7605958537963396,"value":"Globex","displayValue":"Globex"},{"columnId":1976459003750276},{"columnId":6480058631120772},{"columnId":4228258817435524}]},{"id":297242438985604,"rowNumber":3,"siblingId":8460016763594628,"expanded":true,"createdAt":"2020-01-15T18:50:13Z","modifiedAt":"2020-01-15T18:50:13Z","cells":[{"columnId":5354158724278148,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3102358910592900,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":7605958537963396,"value":"ACME","displayValue":"ACME"},{"columnId":1976459003750276,"value":1.0,"displayValue":"1"},{"columnId":6480058631120772,"value":"1990-01-01"},{"columnId":4228258817435524,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/7516647952017284
- request:
    body:
    - cells:
      - columnId: 5354158724278148
        strict: true
        value: David Ward
      - columnId: 3102358910592900
        strict: true
        value: david.ward@globex.com
      - columnId: 7605958537963396
        strict: true
        value: Globex
      - columnId: 1976459003750276
        strict: true
        value: 3
      - columnId: 6480058631120772
        strict: true
        value: '1980-01-01'
      - columnId: 4228258817435524
        strict: true
        value: true
      toBottom: true
    - cells:
      - columnId: 5354158724278148
        strict: true
        value: Elizabeth Warner
      - columnId: 3102358910592900
        strict: true
        value: elizabeth.warner@acme.com
      - columnId: 7605958537963396
        strict: true
        value: ACME
      - columnId: 1976459003750276
        strict: true
        value: 2
      - columnId: 6480058631120772
        strict: true
        value: '1985-01-01'
      - columnId: 4228258817435524
        strict: true
        value: true
      toBottom: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7516647952017284/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":6220096829450116,"sheetId":7516647952017284,"rowNumber":4,"siblingId":297242438985604,"expanded":true,"createdAt":"2020-01-15T18:50:14Z","modifiedAt":"2020-01-15T18:50:14Z","cells":[{"columnId":5354158724278148,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":3102358910592900,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":7605958537963396,"value":"Globex","displayValue":"Globex"},{"columnId":1976459003750276,"value":3.0,"displayValue":"3"},{"columnId":6480058631120772,"value":"1980-01-01"},{"columnId":4228258817435524,"value":true}]},{"id":3968297015764868,"sheetId":7516647952017284,"rowNumber":5,"siblingId":6220096829450116,"expanded":true,"createdAt":"2020-01-15T18:50:14Z","modifiedAt":"2020-01-15T18:50:14Z","cells":[{"columnId":5354158724278148,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":3102358910592900,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":7605958537963396,"value":"ACME","displayValue":"ACME"},{"columnId":1976459003750276,"value":2.0,"displayValue":"2"},{"columnId":6480058631120772,"value":"1985-01-01"},{"columnId":4228258817435524,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/7516647952017284/rows
[...]
