interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":6224172033566596,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/3jHf75JGmRcWM7CmGmw4jjG7V33rqrr5x6WCC4M1","createdAt":"2020-01-15T18:50:02Z","modifiedAt":"2020-01-15T18:50:02Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6224172033566596
  response:
    body:
      string: '{"id":6224172033566596,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","BOX_COM","FILE","ONEDRIVE","DROPBOX","LINK","EVERNOTE","GOOGLE_DRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/3jHf75JGmRcWM7CmGmw4jjG7V33rqrr5x6WCC4M1","createdAt":"2020-01-15T18:50:02Z","modifiedAt":"2020-01-15T18:50:02Z","isMultiPicklistEnabled":true,"columns":[{"id":8387599636162436,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":1069250241685380,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5572849869055876,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3321050055370628,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7824649682741124,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2195150148528004,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1268912217712516,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:02Z","modifiedAt":"2020-01-15T18:50:02Z","cells":[{"columnId":8387599636162436,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":1069250241685380,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":5572849869055876,"value":"ACME","displayValue":"ACME"},{"columnId":3321050055370628,"value":2.0,"displayValue":"2"},{"columnId":7824649682741124},{"columnId":2195150148528004,"value":true}]},{"id":5772511845083012,"rowNumber":2,"siblingId":1268912217712516,"expanded":true,"createdAt":"2020-01-15T18:50:02Z","modifiedAt":"2020-01-15T18:50:02Z","cells":[{"columnId":8387599636162436,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":1069250241685380,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":5572849869055876,"value":"Globex","displayValue":"Globex"},{"columnId":3321050055370628},{"columnId":7824649682741124},{"columnId":2195150148528004}]},{"id":3520712031397764,"rowNumber":3,"siblingId":5772511845083012,"expanded":true,"createdAt":"2020-01-15T18:50:02Z","modifiedAt":"2020-01-15T18:50:02Z","cells":[{"columnId":8387599636162436,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":1069250241685380,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":5572849869055876,"value":"ACME","displayValue":"ACME"},{"columnId":3321050055370628,"value":1.0,"displayValue":"1"},{"columnId":7824649682741124,"value":"1990-01-01"},{"columnId":2195150148528004,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"cells": [{"strict": true, "columnId": 8387599636162436, "value": "David
      Ward"}, {"strict": true, "columnId": 1069250241685380, "value": "david.ward@globex.com"},
      {"strict": true, "columnId": 5572849869055876, "value": "Globex"}, {"strict":
      true, "columnId": 3321050055370628, "value": 3}, {"strict": true, "columnId":
      7824649682741124, "value": "1980-01-01"}, {"strict": true, "columnId": 2195150148528004,
      "value": true}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/6224172033566596/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":8565087501346692,"sheetId":6224172033566596,"rowNumber":4,"siblingId":3520712031397764,"expanded":true,"createdAt":"2020-01-15T18:50:04Z","modifiedAt":"2020-01-15T18:50:04Z","cells":[{"columnId":8387599636162436,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":1069250241685380,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":5572849869055876,"value":"Globex","displayValue":"Globex"},{"columnId":3321050055370628,"value":3.0,"displayValue":"3"},{"columnId":7824649682741124,"value":"1980-01-01"},{"columnId":2195150148528004,"value":true}]},"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
