interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":313197522642820,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/25CPJvcPgpQCPgGWGMwvMp9J3h4xc57VxfMFF981","createdAt":"2020-01-15T18:50:30Z","modifiedAt":"2020-01-15T18:50:31Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/313197522642820
  response:
    body:
      string: '{"id":313197522642820,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","EGNYTE","BOX_COM","EVERNOTE","FILE","GOOGLE_DRIVE","ONEDRIVE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/25CPJvcPgpQCPgGWGMwvMp9J3h4xc57VxfMFF981","createdAt":"2020-01-15T18:50:30Z","modifiedAt":"2020-01-15T18:50:31Z","isMultiPicklistEnabled":true,"columns":[{"id":5396928008611716,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3145128194926468,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7648727822296964,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2019228288083844,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6522827915454340,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4271028101769092,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":424487287580548,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:31Z","modifiedAt":"2020-01-15T18:50:31Z","cells":[{"columnId":5396928008611716,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3145128194926468,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7648727822296964,"value":"ACME","displayValue":"ACME"},{"columnId":2019228288083844,"value":2.0,"displayValue":"2"},{"columnId":6522827915454340},{"columnId":4271028101769092,"value":true}]},{"id":4928086914951044,"rowNumber":2,"siblingId":424487287580548,"expanded":true,"createdAt":"2020-01-15T18:50:31Z","modifiedAt":"2020-01-15T18:50:31Z","cells":[{"columnId":5396928008611716,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3145128194926468,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7648727822296964,"value":"Globex","displayValue":"Globex"},{"columnId":2019228288083844},{"columnId":6522827915454340},{"columnId":4271028101769092}]},{"id":2676287101265796,"rowNumber":3,"siblingId":4928086914951044,"expanded":true,"createdAt":"2020-01-15T18:50:31Z","modifiedAt":"2020-01-15T18:50:31Z","cells":[{"columnId":5396928008611716,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3145128194926468,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":7648727822296964,"value":"ACME","displayValue":"ACME"},{"columnId":2019228288083844,"value":1.0,"displayValue":"1"},{"columnId":6522827915454340,"value":"1990-01-01"},{"columnId":4271028101769092,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/313197522642820/rows?ids=4928086914951044
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[4928086914951044]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
