interactions:
- request:
    body:
      columns:
      - primary: true
        title: Full Name
        type: TEXT_NUMBER
      - title: Email address
        type: TEXT_NUMBER
      - title: Company
        type: TEXT_NUMBER
      - title: Number of children
        type: TEXT_NUMBER
      - options:
        - simple-smartsheet
        - nornir
        - napalm
        - netmiko
        - pydantic
        title: Maintains
        type: MULTI_PICKLIST
      - title: Birth date
        type: DATE
      - title: Married
        type: CHECKBOX
      name: '[TEST] New Sheet'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":3182989980002180,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/RJ5P2HjCc28Vv49fHWR4Pv3gGjr594F5xw9VwHf1","columns":[{"id":2213390320985988,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6716989948356484,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4465190134671236,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8968789762041732,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":67143623567236,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":4570743250937732,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2318943437252484,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets
version: 1
