interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":6699710812579716,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/q6p9pjr663Vpc27vwr47V6Jh4wGw8p6g6mrghMg1","createdAt":"2020-01-15T18:50:16Z","modifiedAt":"2020-01-15T18:50:16Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6699710812579716
  response:
    body:
      string: '{"id":6699710812579716,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","BOX_COM","GOOGLE_DRIVE","DROPBOX","EVERNOTE","EGNYTE","LINK","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/q6p9pjr663Vpc27vwr47V6Jh4wGw8p6g6mrghMg1","createdAt":"2020-01-15T18:50:16Z","modifiedAt":"2020-01-15T18:50:16Z","isMultiPicklistEnabled":true,"columns":[{"id":1812296763762564,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6315896391133060,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4064096577447812,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8567696204818308,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":404921880209284,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4908521507579780,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":2928189080659844,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:16Z","modifiedAt":"2020-01-15T18:50:16Z","cells":[{"columnId":1812296763762564,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":6315896391133060,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4064096577447812,"value":"ACME","displayValue":"ACME"},{"columnId":8567696204818308,"value":2.0,"displayValue":"2"},{"columnId":404921880209284},{"columnId":4908521507579780,"value":true}]},{"id":7431788708030340,"rowNumber":2,"siblingId":2928189080659844,"expanded":true,"createdAt":"2020-01-15T18:50:16Z","modifiedAt":"2020-01-15T18:50:16Z","cells":[{"columnId":1812296763762564,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":6315896391133060,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4064096577447812,"value":"Globex","displayValue":"Globex"},{"columnId":8567696204818308},{"columnId":404921880209284},{"columnId":4908521507579780}]},{"id":1802289173817220,"rowNumber":3,"siblingId":7431788708030340,"expanded":true,"createdAt":"2020-01-15T18:50:16Z","modifiedAt":"2020-01-15T18:50:16Z","cells":[{"columnId":1812296763762564,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":6315896391133060,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":4064096577447812,"value":"ACME","displayValue":"ACME"},{"columnId":8567696204818308,"value":1.0,"displayValue":"1"},{"columnId":404921880209284,"value":"1990-01-01"},{"columnId":4908521507579780,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 7431788708030340, "cells": [{"strict": true, "columnId": 1812296763762564,
      "value": "Alice Han"}, {"strict": true, "columnId": 4908521507579780, "value":
      true}], "expanded": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/6699710812579716/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":7431788708030340,"rowNumber":2,"siblingId":2928189080659844,"expanded":true,"createdAt":"2020-01-15T18:50:16Z","modifiedAt":"2020-01-15T18:50:17Z","cells":[{"columnId":1812296763762564,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":6315896391133060,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4064096577447812,"value":"Globex","displayValue":"Globex"},{"columnId":8567696204818308},{"columnId":404921880209284},{"columnId":4908521507579780,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
