interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":1336085323245444,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/wrXPj4Pq3x2HpF7GCMx24mH52mPVjj6j7XCg3H51","createdAt":"2020-02-05T04:02:16Z","modifiedAt":"2020-02-05T04:02:17Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/1336085323245444?level=2&include=objectValue
  response:
    body:
      string: '{"id":1336085323245444,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EGNYTE","ONEDRIVE","EVERNOTE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/wrXPj4Pq3x2HpF7GCMx24mH52mPVjj6j7XCg3H51","createdAt":"2020-02-05T04:02:16Z","modifiedAt":"2020-02-05T04:02:17Z","isMultiPicklistEnabled":true,"columns":[{"id":3954192105662340,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8457791733032836,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":295017408423812,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4798617035794308,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2546817222109060,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":7050416849479556,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1420917315266436,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":5302998654576516,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:17Z","modifiedAt":"2020-02-05T04:02:17Z","cells":[{"columnId":3954192105662340,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":8457791733032836,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":295017408423812,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":4798617035794308,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":2546817222109060,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":7050416849479556},{"columnId":1420917315266436,"value":true,"objectValue":true}]},{"id":3051198840891268,"rowNumber":2,"siblingId":5302998654576516,"expanded":true,"createdAt":"2020-02-05T04:02:17Z","modifiedAt":"2020-02-05T04:02:17Z","cells":[{"columnId":3954192105662340,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":8457791733032836,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":295017408423812,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":4798617035794308},{"col[...]
- request:
    body: '{"id": 3051198840891268, "cells": [{"columnId": 3954192105662340, "value":
      "Alice Han", "strict": true}, {"columnId": 1420917315266436, "value": true,
      "strict": true}], "expanded": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/1336085323245444/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":3051198840891268,"rowNumber":2,"siblingId":5302998654576516,"expanded":true,"createdAt":"2020-02-05T04:02:17Z","modifiedAt":"2020-02-05T04:02:18Z","cells":[{"columnId":3954192105662340,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":8457791733032836,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":295017408423812,"value":"Globex","displayValue":"Globex"},{"columnId":4798617035794308},{"columnId":2546817222109060,"displayValue":"nornir,
        napalm"},{"columnId":7050416849479556},{"columnId":1420917315266436,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
