interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":7237370387949444,"name":"[TEST]
        Sheet To Delete","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/fMMJHfX4wfHC8mjg4mXX5wPpr8HHvr2VjCrMWh31","createdAt":"2020-02-05T04:01:55Z","modifiedAt":"2020-02-05T04:01:55Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/7237370387949444
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/7237370387949444
version: 1
