interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":1277532034099076,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/GQJvc6cHCvQfxcjQq6PV9cRcwX6c638w2JRxJH41","createdAt":"2020-02-05T04:02:30Z","modifiedAt":"2020-02-05T04:02:30Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/1277532034099076?level=2&include=objectValue
  response:
    body:
      string: '{"id":1277532034099076,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","EVERNOTE","EGNYTE","ONEDRIVE","GOOGLE_DRIVE","BOX_COM","DROPBOX","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/GQJvc6cHCvQfxcjQq6PV9cRcwX6c638w2JRxJH41","createdAt":"2020-02-05T04:02:30Z","modifiedAt":"2020-02-05T04:02:30Z","isMultiPicklistEnabled":true,"columns":[{"id":6655466152454020,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":4403666338768772,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8907265966139268,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":111172943931268,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4614772571301764,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":2362972757616516,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":6866572384987012,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":8022443097384836,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:30Z","modifiedAt":"2020-02-05T04:02:30Z","cells":[{"columnId":6655466152454020,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":4403666338768772,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8907265966139268,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":111172943931268,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":4614772571301764,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2362972757616516},{"columnId":6866572384987012,"value":true,"objectValue":true}]},{"id":704093702907780,"rowNumber":2,"siblingId":8022443097384836,"expanded":true,"createdAt":"2020-02-05T04:02:30Z","modifiedAt":"2020-02-05T04:02:30Z","cells":[{"columnId":6655466152454020,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":4403666338768772,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8907265966139268,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":111172943931268},{"col[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/1277532034099076/rows?ids=704093702907780
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[704093702907780]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
