interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":2673778657388420,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/jRpQCwWPmC34q582HxPrrHX267JXp2hQP6X86Xm1","createdAt":"2020-02-05T04:02:37Z","modifiedAt":"2020-02-05T04:02:37Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/2673778657388420?level=2&include=objectValue
  response:
    body:
      string: '{"id":2673778657388420,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","BOX_COM","LINK","DROPBOX","EVERNOTE","ONEDRIVE","FILE","GOOGLE_DRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/jRpQCwWPmC34q582HxPrrHX267JXp2hQP6X86Xm1","createdAt":"2020-02-05T04:02:37Z","modifiedAt":"2020-02-05T04:02:37Z","isMultiPicklistEnabled":true,"columns":[{"id":1705812696557444,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6209412323927940,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3957612510242692,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8461212137613188,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":298437813004164,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":4802037440374660,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2550237626689412,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":2159065414035332,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:37Z","modifiedAt":"2020-02-05T04:02:37Z","cells":[{"columnId":1705812696557444,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":6209412323927940,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":3957612510242692,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":8461212137613188,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":298437813004164,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":4802037440374660},{"columnId":2550237626689412,"value":true,"objectValue":true}]},{"id":6662665041405828,"rowNumber":2,"siblingId":2159065414035332,"expanded":true,"createdAt":"2020-02-05T04:02:37Z","modifiedAt":"2020-02-05T04:02:37Z","cells":[{"columnId":1705812696557444,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":6209412323927940,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":3957612510242692,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":8461212137613188},{"co[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/2673778657388420/rows?ids=6662665041405828%2C2159065414035332
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[6662665041405828,2159065414035332]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
