interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":4856236224079748,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/wCMRX9Gg4g2JPCF2c2X8jf9X9qcCm8xQq7j38CX1","createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4856236224079748?level=2&include=objectValue
  response:
    body:
      string: '{"id":4856236224079748,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EGNYTE","ONEDRIVE","EVERNOTE","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/wCMRX9Gg4g2JPCF2c2X8jf9X9qcCm8xQq7j38CX1","createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z","isMultiPicklistEnabled":true,"columns":[{"id":6216473250162564,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3964673436477316,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8468273063847812,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":305498739238788,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4809098366609284,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":2557298552924036,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7060898180294532,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1343485484263300,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z","cells":[{"columnId":6216473250162564,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":3964673436477316,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8468273063847812,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":305498739238788,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":4809098366609284,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2557298552924036},{"columnId":7060898180294532,"value":true,"objectValue":true}]},{"id":5847085111633796,"rowNumber":2,"siblingId":1343485484263300,"expanded":true,"createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z","cells":[{"columnId":6216473250162564,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":3964673436477316,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8468273063847812,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":305498739238788},{"col[...]
- request:
    body: '{"name": "[TEST] Updated Sheet"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/4856236224079748
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":4856236224079748,"name":"[TEST]
        Updated Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/wCMRX9Gg4g2JPCF2c2X8jf9X9qcCm8xQq7j38CX1"},"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
