interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":2357256747542404,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/rmv2prRmF8643qfVXVQXx5fwf3PFxx3JFX2QFq31","createdAt":"2020-02-05T04:00:47Z","modifiedAt":"2020-02-05T04:00:48Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2020-02-05T01:36:34Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2020-02-05T01:37:09Z"},{"id":8233935944607620,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/HV32fpP8J82RcMWCRm76jqMCR3m9RXVX2XMhW2c1","createdAt":"2020-02-05T04:02:27Z","modifiedAt":"2020-02-05T04:02:27Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8233935944607620?level=2&include=objectValue
  response:
    body:
      string: '{"id":8233935944607620,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","LINK","BOX_COM","EVERNOTE","DROPBOX","GOOGLE_DRIVE","FILE","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/HV32fpP8J82RcMWCRm76jqMCR3m9RXVX2XMhW2c1","createdAt":"2020-02-05T04:02:27Z","modifiedAt":"2020-02-05T04:02:27Z","isMultiPicklistEnabled":true,"columns":[{"id":3823935948121988,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8327535575492484,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1009186181015428,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5512785808385924,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3260985994700676,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":7764585622071172,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2135086087858052,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":41663716976516,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:27Z","modifiedAt":"2020-02-05T04:02:27Z","cells":[{"columnId":3823935948121988,"value":"Bob
        Lee","objectValue":"Bob Lee","displayValue":"Bob Lee"},{"columnId":8327535575492484,"value":"bob.lee@acme.com","objectValue":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1009186181015428,"value":"ACME","objectValue":"ACME","displayValue":"ACME"},{"columnId":5512785808385924,"value":2.0,"objectValue":2.0,"displayValue":"2"},{"columnId":3260985994700676,"objectValue":{"objectType":"MULTI_PICKLIST","values":["simple-smartsheet","nornir"]},"displayValue":"simple-smartsheet,
        nornir"},{"columnId":7764585622071172},{"columnId":2135086087858052,"value":true,"objectValue":true}]},{"id":4545263344347012,"rowNumber":2,"siblingId":41663716976516,"expanded":true,"createdAt":"2020-02-05T04:02:27Z","modifiedAt":"2020-02-05T04:02:27Z","cells":[{"columnId":3823935948121988,"value":"Alice
        Smith","objectValue":"Alice Smith","displayValue":"Alice Smith"},{"columnId":8327535575492484,"value":"alice.smith@globex.com","objectValue":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1009186181015428,"value":"Globex","objectValue":"Globex","displayValue":"Globex"},{"columnId":5512785808385924},{"colu[...]
- request:
    body:
    - cells:
      - columnId: 3823935948121988
        strict: true
        value: Alice Han
      - columnId: 7764585622071172
        strict: true
        value: '1989-12-31'
      expanded: true
      id: 4545263344347012
    - cells:
      - columnId: 1009186181015428
        strict: true
        value: Globex
      - columnId: 5512785808385924
        strict: true
        value: ''
      expanded: true
      id: 41663716976516
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/8233935944607620/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":41663716976516,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:02:27Z","modifiedAt":"2020-02-05T04:02:28Z","cells":[{"columnId":3823935948121988,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8327535575492484,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1009186181015428,"value":"Globex","displayValue":"Globex"},{"columnId":5512785808385924},{"columnId":3260985994700676,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":7764585622071172},{"columnId":2135086087858052,"value":true}]},{"id":4545263344347012,"rowNumber":2,"siblingId":41663716976516,"expanded":true,"createdAt":"2020-02-05T04:02:27Z","modifiedAt":"2020-02-05T04:02:28Z","cells":[{"columnId":3823935948121988,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":8327535575492484,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1009186181015428,"value":"Globex","displayValue":"Globex"},{"columnId":5512785808385924},{"columnId":3260985994700676,"displayValue":"nornir,
        napalm"},{"columnId":7764585622071172,"value":"1989-12-31"},{"columnId":2135086087858052}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8233935944607620/rows
[...]
