interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":304865286088580,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/MRPgV8JfXgQM2x4FmWW5Vx36H85Xx4p9wVrCQ5v1","createdAt":"2020-01-15T18:50:20Z","modifiedAt":"2020-01-15T18:50:20Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/304865286088580
  response:
    body:
      string: '{"id":304865286088580,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","BOX_COM","FILE","LINK","GOOGLE_DRIVE","EVERNOTE","DROPBOX","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/MRPgV8JfXgQM2x4FmWW5Vx36H85Xx4p9wVrCQ5v1","createdAt":"2020-01-15T18:50:20Z","modifiedAt":"2020-01-15T18:50:20Z","isMultiPicklistEnabled":true,"columns":[{"id":3999594758596484,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8503194385966980,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":340420061357956,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4844019688728452,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2592219875043204,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7095819502413700,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":309122318526340,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:50:20Z","modifiedAt":"2020-01-15T18:50:20Z","cells":[{"columnId":3999594758596484,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8503194385966980,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":340420061357956,"value":"ACME","displayValue":"ACME"},{"columnId":4844019688728452,"value":2.0,"displayValue":"2"},{"columnId":2592219875043204},{"columnId":7095819502413700,"value":true}]},{"id":4812721945896836,"rowNumber":2,"siblingId":309122318526340,"expanded":true,"createdAt":"2020-01-15T18:50:20Z","modifiedAt":"2020-01-15T18:50:20Z","cells":[{"columnId":3999594758596484,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8503194385966980,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":340420061357956,"value":"Globex","displayValue":"Globex"},{"columnId":4844019688728452},{"columnId":2592219875043204},{"columnId":7095819502413700}]},{"id":2560922132211588,"rowNumber":3,"siblingId":4812721945896836,"expanded":true,"createdAt":"2020-01-15T18:50:20Z","modifiedAt":"2020-01-15T18:50:20Z","cells":[{"columnId":3999594758596484,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8503194385966980,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":340420061357956,"value":"ACME","displayValue":"ACME"},{"columnId":4844019688728452,"value":1.0,"displayValue":"1"},{"columnId":2592219875043204,"value":"1990-01-01"},{"columnId":7095819502413700,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/304865286088580
- request:
    body:
      cells:
      - columnId: 3999594758596484
        strict: true
        value: Alice Han
      - columnId: 7095819502413700
        strict: true
        value: true
      expanded: true
      id: 4812721945896836
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/304865286088580/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":4812721945896836,"rowNumber":2,"siblingId":309122318526340,"expanded":true,"createdAt":"2020-01-15T18:50:20Z","modifiedAt":"2020-01-15T18:50:21Z","cells":[{"columnId":3999594758596484,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":8503194385966980,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":340420061357956,"value":"Globex","displayValue":"Globex"},{"columnId":4844019688728452},{"columnId":2592219875043204},{"columnId":7095819502413700,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/304865286088580/rows
[...]
