interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":3,"data":[{"id":8079597905438596,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8079597905438596
  response:
    body:
      string: '{"id":8079597905438596,"name":"[TEST] Read-only Sheet","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["DROPBOX","GOOGLE_DRIVE","BOX_COM","FILE","EVERNOTE","EGNYTE","LINK","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/5M6cWJG45FvPMM4qRFH46hCWp3Rp2Wrxv9gX4xM1","createdAt":"2020-01-15T18:48:55Z","modifiedAt":"2020-01-15T18:48:56Z","isMultiPicklistEnabled":true,"columns":[{"id":4509733794146180,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2257933980460932,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6761533607831428,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1132034073618308,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5635633700988804,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3383833887303556,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":6533672391731076,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:48:56Z","modifiedAt":"2020-01-15T18:48:56Z","cells":[{"columnId":4509733794146180,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":2257933980460932,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6761533607831428,"value":"ACME","displayValue":"ACME"},{"columnId":1132034073618308,"value":2.0,"displayValue":"2"},{"columnId":5635633700988804},{"columnId":3383833887303556,"value":true}]},{"id":4281872578045828,"rowNumber":2,"siblingId":6533672391731076,"expanded":true,"createdAt":"2020-01-15T18:48:56Z","modifiedAt":"2020-01-15T18:48:56Z","cells":[{"columnId":4509733794146180,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":2257933980460932,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6761533607831428,"value":"Globex","displayValue":"Globex"},{"columnId":1132034073618308},{"columnId":5635633700988804},{"columnId":3383833887303556}]},{"id":8785472205416324,"rowNumber":3,"siblingId":4281872578045828,"expanded":true,"createdAt":"2020-01-15T18:48:56Z","modifiedAt":"2020-01-15T18:48:56Z","cells":[{"columnId":4509733794146180,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":2257933980460932,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":6761533607831428,"value":"ACME","displayValue":"ACME"},{"columnId":1132034073618308,"value":1.0,"displayValue":"1"},{"columnId":5635633700988804,"value":"1990-01-01"},{"columnId":3383833887303556,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8079597905438596
version: 1
