interactions:
- request:
    body: '{"name": "[TEST] New Sheet", "columns": [{"title": "Full Name", "primary":
      true, "type": "TEXT_NUMBER"}, {"title": "Email address", "type": "TEXT_NUMBER"},
      {"title": "Company", "type": "TEXT_NUMBER"}, {"title": "Number of children",
      "type": "TEXT_NUMBER"}, {"title": "Maintains", "type": "MULTI_PICKLIST", "options":
      ["simple-smartsheet", "nornir", "napalm", "netmiko", "pydantic"]}, {"title":
      "Birth date", "type": "DATE"}, {"title": "Married", "type": "CHECKBOX"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":309459290482564,"name":"[TEST]
        New Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Jc4JQff4hMWq5FW87vRQwJff6Fppprc27Hr5pMV1","columns":[{"id":4567022198646660,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2315222384961412,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6818822012331908,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1189322478118788,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5692922105489284,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":3441122291804036,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7944721919174532,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
