interactions:
- request:
    body: '{"name": "[TEST] Sheet To Update", "columns": [{"primary": true, "type":
      "TEXT_NUMBER", "title": "Full Name"}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"type": "DATE", "title": "Birth date"}, {"type":
      "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":7562218427443076,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/X8rHP3668VQH2mRfwJ4GMC4Wf237fFPQCvRmX531","columns":[{"id":3703549046613892,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8207148673984388,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":888799279507332,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5392398906877828,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3140599093192580,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7644198720563076,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"cells": [{"columnId": 3703549046613892, "value": "Bob Lee", "strict":
      true}, {"columnId": 8207148673984388, "value": "bob.lee@acme.com", "strict":
      true}, {"columnId": 888799279507332, "value": "ACME", "strict": true}, {"columnId":
      5392398906877828, "value": 2, "strict": true}, {"columnId": 7644198720563076,
      "value": true, "strict": true}], "toTop": true}, {"cells": [{"columnId": 3703549046613892,
      "value": "Alice Smith", "strict": true}, {"columnId": 8207148673984388, "value":
      "alice.smith@globex.com", "strict": true}, {"columnId": 888799279507332, "value":
      "Globex", "strict": true}], "toTop": true}, {"cells": [{"columnId": 3703549046613892,
      "value": "Charlie Brown", "strict": true}, {"columnId": 8207148673984388, "value":
      "charlie.brown@acme.com", "strict": true}, {"columnId": 888799279507332, "value":
      "ACME", "strict": true}, {"columnId": 5392398906877828, "value": 1, "strict":
      true}, {"columnId": 3140599093192580, "value": "1990-01-01", "strict": true},
      {"columnId": 7644198720563076, "value": false, "strict": true}], "toTop": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7562218427443076/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":3467638195677060,"sheetId":7562218427443076,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:00Z","modifiedAt":"2019-08-08T18:28:00Z","cells":[{"columnId":3703549046613892,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8207148673984388,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":888799279507332,"value":"ACME","displayValue":"ACME"},{"columnId":5392398906877828,"value":2.0,"displayValue":"2"},{"columnId":3140599093192580},{"columnId":7644198720563076,"value":true}]},{"id":7971237823047556,"sheetId":7562218427443076,"rowNumber":2,"siblingId":3467638195677060,"expanded":true,"createdAt":"2019-08-08T18:28:00Z","modifiedAt":"2019-08-08T18:28:00Z","cells":[{"columnId":3703549046613892,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8207148673984388,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":888799279507332,"value":"Globex","displayValue":"Globex"},{"columnId":5392398906877828},{"columnId":3140599093192580},{"columnId":7644198720563076}]},{"id":652888428570500,"sheetId":7562218427443076,"rowNumber":3,"siblingId":7971237823047556,"expanded":true,"createdAt":"2019-08-08T18:28:00Z","modifiedAt":"2019-08-08T18:28:00Z","cells":[{"columnId":3703549046613892,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8207148673984388,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":888799279507332,"value":"ACME","displayValue":"ACME"},{"columnId":5392398906877828,"value":1.0,"displayValue":"1"},{"columnId":3140599093192580,"value":"1990-01-01"},{"columnId":7644198720563076,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
