interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":7533773932783492,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/3rFfXC8Q7H6G6wVgw46fC2QpGPVp2GjvGqXmMxj1","createdAt":"2019-08-16T02:39:48Z","modifiedAt":"2019-08-16T02:39:48Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7533773932783492
  response:
    body:
      string: '{"id":7533773932783492,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","BOX_COM","EVERNOTE","DROPBOX","EGNYTE","LINK","FILE","GOOGLE_DRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/3rFfXC8Q7H6G6wVgw46fC2QpGPVp2GjvGqXmMxj1","createdAt":"2019-08-16T02:39:48Z","modifiedAt":"2019-08-16T02:39:48Z","columns":[{"id":4061667446286212,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8565267073656708,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":402492749047684,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4906092376418180,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2654292562732932,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7157892190103428,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4582843466180484,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:48Z","modifiedAt":"2019-08-16T02:39:48Z","cells":[{"columnId":4061667446286212,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8565267073656708,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":402492749047684,"value":"ACME","displayValue":"ACME"},{"columnId":4906092376418180,"value":2.0,"displayValue":"2"},{"columnId":2654292562732932},{"columnId":7157892190103428,"value":true}]},{"id":2331043652495236,"rowNumber":2,"siblingId":4582843466180484,"expanded":true,"createdAt":"2019-08-16T02:39:48Z","modifiedAt":"2019-08-16T02:39:48Z","cells":[{"columnId":4061667446286212,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8565267073656708,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":402492749047684,"value":"Globex","displayValue":"Globex"},{"columnId":4906092376418180},{"columnId":2654292562732932},{"columnId":7157892190103428}]},{"id":6834643279865732,"rowNumber":3,"siblingId":2331043652495236,"expanded":true,"createdAt":"2019-08-16T02:39:48Z","modifiedAt":"2019-08-16T02:39:48Z","cells":[{"columnId":4061667446286212,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8565267073656708,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":402492749047684,"value":"ACME","displayValue":"ACME"},{"columnId":4906092376418180,"value":1.0,"displayValue":"1"},{"columnId":2654292562732932,"value":"1990-01-01"},{"columnId":7157892190103428,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 2331043652495236, "cells": [{"columnId": 4061667446286212, "strict":
      true, "value": "Alice Han"}, {"columnId": 7157892190103428, "strict": true,
      "value": true}], "expanded": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/7533773932783492/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":2331043652495236,"rowNumber":2,"siblingId":4582843466180484,"expanded":true,"createdAt":"2019-08-16T02:39:48Z","modifiedAt":"2019-08-16T02:39:49Z","cells":[{"columnId":4061667446286212,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":8565267073656708,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":402492749047684,"value":"Globex","displayValue":"Globex"},{"columnId":4906092376418180},{"columnId":2654292562732932},{"columnId":7157892190103428,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
