interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":49702151448452,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/V2hGjmPF2vj9W379P6xWV3VFQQCWPXwfCrRwFj91","createdAt":"2019-08-08T18:28:05Z","modifiedAt":"2019-08-08T18:28:06Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/49702151448452
  response:
    body:
      string: '{"id":49702151448452,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","FILE","ONEDRIVE","LINK","EGNYTE","BOX_COM","DROPBOX","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/V2hGjmPF2vj9W379P6xWV3VFQQCWPXwfCrRwFj91","createdAt":"2019-08-08T18:28:05Z","modifiedAt":"2019-08-08T18:28:06Z","columns":[{"id":2994600638998404,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7498200266368900,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1868700732155780,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6372300359526276,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4120500545841028,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8624100173211524,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":2647352055490436,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:06Z","modifiedAt":"2019-08-08T18:28:06Z","cells":[{"columnId":2994600638998404,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7498200266368900,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1868700732155780,"value":"ACME","displayValue":"ACME"},{"columnId":6372300359526276,"value":2.0,"displayValue":"2"},{"columnId":4120500545841028},{"columnId":8624100173211524,"value":true}]},{"id":7150951682860932,"rowNumber":2,"siblingId":2647352055490436,"expanded":true,"createdAt":"2019-08-08T18:28:06Z","modifiedAt":"2019-08-08T18:28:06Z","cells":[{"columnId":2994600638998404,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7498200266368900,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1868700732155780,"value":"Globex","displayValue":"Globex"},{"columnId":6372300359526276},{"columnId":4120500545841028},{"columnId":8624100173211524}]},{"id":1521452148647812,"rowNumber":3,"siblingId":7150951682860932,"expanded":true,"createdAt":"2019-08-08T18:28:06Z","modifiedAt":"2019-08-08T18:28:06Z","cells":[{"columnId":2994600638998404,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7498200266368900,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":1868700732155780,"value":"ACME","displayValue":"ACME"},{"columnId":6372300359526276,"value":1.0,"displayValue":"1"},{"columnId":4120500545841028,"value":"1990-01-01"},{"columnId":8624100173211524,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"cells": [{"columnId": 2994600638998404, "value": "David Ward", "strict":
      true}, {"columnId": 7498200266368900, "value": "david.ward@globex.com", "strict":
      true}, {"columnId": 1868700732155780, "value": "Globex", "strict": true}, {"columnId":
      6372300359526276, "value": 3, "strict": true}, {"columnId": 4120500545841028,
      "value": "1980-01-01", "strict": true}, {"columnId": 8624100173211524, "value":
      true, "strict": true}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/49702151448452/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":1562885698152324,"sheetId":49702151448452,"rowNumber":4,"siblingId":1521452148647812,"expanded":true,"createdAt":"2019-08-08T18:28:07Z","modifiedAt":"2019-08-08T18:28:07Z","cells":[{"columnId":2994600638998404,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":7498200266368900,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":1868700732155780,"value":"Globex","displayValue":"Globex"},{"columnId":6372300359526276,"value":3.0,"displayValue":"3"},{"columnId":4120500545841028,"value":"1980-01-01"},{"columnId":8624100173211524,"value":true}]},"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
