interactions:
- request:
    body: '{"name": "[TEST] Sheet To Update", "columns": [{"type": "TEXT_NUMBER",
      "title": "Full Name", "primary": true}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"type": "DATE", "title": "Birth date"}, {"type":
      "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":1720572406196100,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/7vPx62M7fP9xgfXCCVfFhhPrJ9vHcjjMRxpvMh91","columns":[{"id":5009899915634564,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2758100101949316,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7261699729319812,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1632200195106692,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6135799822477188,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3884000008791940,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toTop": true, "cells": [{"strict": true, "columnId": 5009899915634564,
      "value": "Bob Lee"}, {"strict": true, "columnId": 2758100101949316, "value":
      "bob.lee@acme.com"}, {"strict": true, "columnId": 7261699729319812, "value":
      "ACME"}, {"strict": true, "columnId": 1632200195106692, "value": 2}, {"strict":
      true, "columnId": 3884000008791940, "value": true}]}, {"toTop": true, "cells":
      [{"strict": true, "columnId": 5009899915634564, "value": "Alice Smith"}, {"strict":
      true, "columnId": 2758100101949316, "value": "alice.smith@globex.com"}, {"strict":
      true, "columnId": 7261699729319812, "value": "Globex"}]}, {"toTop": true, "cells":
      [{"strict": true, "columnId": 5009899915634564, "value": "Charlie Brown"}, {"strict":
      true, "columnId": 2758100101949316, "value": "charlie.brown@acme.com"}, {"strict":
      true, "columnId": 7261699729319812, "value": "ACME"}, {"strict": true, "columnId":
      1632200195106692, "value": 1}, {"strict": true, "columnId": 6135799822477188,
      "value": "1990-01-01"}, {"strict": true, "columnId": 3884000008791940, "value":
      false}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/1720572406196100/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":5913249333438340,"sheetId":1720572406196100,"rowNumber":1,"expanded":true,"createdAt":"2020-01-15T18:49:57Z","modifiedAt":"2020-01-15T18:49:57Z","cells":[{"columnId":5009899915634564,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":2758100101949316,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7261699729319812,"value":"ACME","displayValue":"ACME"},{"columnId":1632200195106692,"value":2.0,"displayValue":"2"},{"columnId":6135799822477188},{"columnId":3884000008791940,"value":true}]},{"id":3661449519753092,"sheetId":1720572406196100,"rowNumber":2,"siblingId":5913249333438340,"expanded":true,"createdAt":"2020-01-15T18:49:57Z","modifiedAt":"2020-01-15T18:49:57Z","cells":[{"columnId":5009899915634564,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":2758100101949316,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7261699729319812,"value":"Globex","displayValue":"Globex"},{"columnId":1632200195106692},{"columnId":6135799822477188},{"columnId":3884000008791940}]},{"id":8165049147123588,"sheetId":1720572406196100,"rowNumber":3,"siblingId":3661449519753092,"expanded":true,"createdAt":"2020-01-15T18:49:57Z","modifiedAt":"2020-01-15T18:49:57Z","cells":[{"columnId":5009899915634564,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":2758100101949316,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":7261699729319812,"value":"ACME","displayValue":"ACME"},{"columnId":1632200195106692,"value":1.0,"displayValue":"1"},{"columnId":6135799822477188,"value":"1990-01-01"},{"columnId":3884000008791940,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
