interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":1088019085191044,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/CJ4JXXX87GMV645cgP7pmmJ79rqfQPvJrWfRjMG1","createdAt":"2019-08-08T18:28:34Z","modifiedAt":"2019-08-08T18:28:34Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/1088019085191044
  response:
    body:
      string: '{"id":1088019085191044,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","DROPBOX","EGNYTE","FILE","BOX_COM","EVERNOTE","LINK","GOOGLE_DRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/CJ4JXXX87GMV645cgP7pmmJ79rqfQPvJrWfRjMG1","createdAt":"2019-08-08T18:28:34Z","modifiedAt":"2019-08-08T18:28:34Z","columns":[{"id":2907433908627332,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7411033535997828,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1781534001784708,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6285133629155204,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4033333815469956,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8536933442840452,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":6135036224792452,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:34Z","modifiedAt":"2019-08-08T18:28:34Z","cells":[{"columnId":2907433908627332,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7411033535997828,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1781534001784708,"value":"ACME","displayValue":"ACME"},{"columnId":6285133629155204,"value":2.0,"displayValue":"2"},{"columnId":4033333815469956},{"columnId":8536933442840452,"value":true}]},{"id":3883236411107204,"rowNumber":2,"siblingId":6135036224792452,"expanded":true,"createdAt":"2019-08-08T18:28:34Z","modifiedAt":"2019-08-08T18:28:34Z","cells":[{"columnId":2907433908627332,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7411033535997828,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1781534001784708,"value":"Globex","displayValue":"Globex"},{"columnId":6285133629155204},{"columnId":4033333815469956},{"columnId":8536933442840452}]},{"id":8386836038477700,"rowNumber":3,"siblingId":3883236411107204,"expanded":true,"createdAt":"2019-08-08T18:28:34Z","modifiedAt":"2019-08-08T18:28:34Z","cells":[{"columnId":2907433908627332,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7411033535997828,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":1781534001784708,"value":"ACME","displayValue":"ACME"},{"columnId":6285133629155204,"value":1.0,"displayValue":"1"},{"columnId":4033333815469956,"value":"1990-01-01"},{"columnId":8536933442840452,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/1088019085191044/rows?ids=3883236411107204
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[3883236411107204]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
