interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":6083518095746948,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/WcFq9g4F2Rh69fXCcwHj5wX6HmpqxFxQ4hWQHpp1","createdAt":"2019-08-16T02:39:39Z","modifiedAt":"2019-08-16T02:39:39Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6083518095746948
  response:
    body:
      string: '{"id":6083518095746948,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","LINK","GOOGLE_DRIVE","DROPBOX","EGNYTE","FILE","EVERNOTE","BOX_COM"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/WcFq9g4F2Rh69fXCcwHj5wX6HmpqxFxQ4hWQHpp1","createdAt":"2019-08-16T02:39:39Z","modifiedAt":"2019-08-16T02:39:39Z","columns":[{"id":2898744921352068,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7402344548722564,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1772845014509444,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6276444641879940,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4024644828194692,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8528244455565188,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":2890249468176260,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:39Z","modifiedAt":"2019-08-16T02:39:39Z","cells":[{"columnId":2898744921352068,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7402344548722564,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1772845014509444,"value":"ACME","displayValue":"ACME"},{"columnId":6276444641879940,"value":2.0,"displayValue":"2"},{"columnId":4024644828194692},{"columnId":8528244455565188,"value":true}]},{"id":7393849095546756,"rowNumber":2,"siblingId":2890249468176260,"expanded":true,"createdAt":"2019-08-16T02:39:39Z","modifiedAt":"2019-08-16T02:39:39Z","cells":[{"columnId":2898744921352068,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7402344548722564,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1772845014509444,"value":"Globex","displayValue":"Globex"},{"columnId":6276444641879940},{"columnId":4024644828194692},{"columnId":8528244455565188}]},{"id":1764349561333636,"rowNumber":3,"siblingId":7393849095546756,"expanded":true,"createdAt":"2019-08-16T02:39:39Z","modifiedAt":"2019-08-16T02:39:39Z","cells":[{"columnId":2898744921352068,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7402344548722564,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":1772845014509444,"value":"ACME","displayValue":"ACME"},{"columnId":6276444641879940,"value":1.0,"displayValue":"1"},{"columnId":4024644828194692,"value":"1990-01-01"},{"columnId":8528244455565188,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6083518095746948
- request:
    body:
      cells:
      - columnId: 2898744921352068
        strict: true
        value: David Ward
      - columnId: 7402344548722564
        strict: true
        value: david.ward@globex.com
      - columnId: 1772845014509444
        strict: true
        value: Globex
      - columnId: 6276444641879940
        strict: true
        value: 3
      - columnId: 4024644828194692
        strict: true
        value: '1980-01-01'
      - columnId: 8528244455565188
        strict: true
        value: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/6083518095746948/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":29731455821700,"sheetId":6083518095746948,"rowNumber":4,"siblingId":1764349561333636,"expanded":true,"createdAt":"2019-08-16T02:39:40Z","modifiedAt":"2019-08-16T02:39:40Z","cells":[{"columnId":2898744921352068,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":7402344548722564,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":1772845014509444,"value":"Globex","displayValue":"Globex"},{"columnId":6276444641879940,"value":3.0,"displayValue":"3"},{"columnId":4024644828194692,"value":"1980-01-01"},{"columnId":8528244455565188,"value":true}]},"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6083518095746948/rows
[...]
