interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":5687350312363908,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QMfhx59v8qqPMmpGg39mGXr3f39XmQmm7R3VVcM1","createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/5687350312363908
  response:
    body:
      string: '{"id":5687350312363908,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","EGNYTE","FILE","LINK","GOOGLE_DRIVE","BOX_COM","DROPBOX","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/QMfhx59v8qqPMmpGg39mGXr3f39XmQmm7R3VVcM1","createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","columns":[{"id":3115911352739716,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7619510980110212,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1990011445897092,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6493611073267588,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4241811259582340,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8745410886952836,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":2360786301020036,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","cells":[{"columnId":3115911352739716,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7619510980110212,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1990011445897092,"value":"ACME","displayValue":"ACME"},{"columnId":6493611073267588,"value":2.0,"displayValue":"2"},{"columnId":4241811259582340},{"columnId":8745410886952836,"value":true}]},{"id":6864385928390532,"rowNumber":2,"siblingId":2360786301020036,"expanded":true,"createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","cells":[{"columnId":3115911352739716,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7619510980110212,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1990011445897092,"value":"Globex","displayValue":"Globex"},{"columnId":6493611073267588},{"columnId":4241811259582340},{"columnId":8745410886952836}]},{"id":1234886394177412,"rowNumber":3,"siblingId":6864385928390532,"expanded":true,"createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","cells":[{"columnId":3115911352739716,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7619510980110212,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":1990011445897092,"value":"ACME","displayValue":"ACME"},{"columnId":6493611073267588,"value":1.0,"displayValue":"1"},{"columnId":4241811259582340,"value":"1990-01-01"},{"columnId":8745410886952836,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "[TEST] Updated Sheet"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/5687350312363908
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":5687350312363908,"name":"[TEST]
        Updated Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QMfhx59v8qqPMmpGg39mGXr3f39XmQmm7R3VVcM1"},"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
