interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":7602350601856900,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/ghGGfwp2F2H96JJj8V5Wc5MVq6mQwh4jF32cqJ31","createdAt":"2019-08-08T18:28:50Z","modifiedAt":"2019-08-08T18:28:50Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7602350601856900
  response:
    body:
      string: '{"id":7602350601856900,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","GOOGLE_DRIVE","EVERNOTE","EGNYTE","ONEDRIVE","FILE","DROPBOX","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/ghGGfwp2F2H96JJj8V5Wc5MVq6mQwh4jF32cqJ31","createdAt":"2019-08-08T18:28:50Z","modifiedAt":"2019-08-08T18:28:50Z","columns":[{"id":6096069168785284,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3844269355100036,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8347868982470532,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1029519587993476,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5533119215363972,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":3281319401678724,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":6766108654495620,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:50Z","modifiedAt":"2019-08-08T18:28:50Z","cells":[{"columnId":6096069168785284,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3844269355100036,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8347868982470532,"value":"ACME","displayValue":"ACME"},{"columnId":1029519587993476,"value":2.0,"displayValue":"2"},{"columnId":5533119215363972},{"columnId":3281319401678724,"value":true}]},{"id":1136609120282500,"rowNumber":2,"siblingId":6766108654495620,"expanded":true,"createdAt":"2019-08-08T18:28:50Z","modifiedAt":"2019-08-08T18:28:50Z","cells":[{"columnId":6096069168785284,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3844269355100036,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8347868982470532,"value":"Globex","displayValue":"Globex"},{"columnId":1029519587993476},{"columnId":5533119215363972},{"columnId":3281319401678724}]},{"id":5640208747652996,"rowNumber":3,"siblingId":1136609120282500,"expanded":true,"createdAt":"2019-08-08T18:28:50Z","modifiedAt":"2019-08-08T18:28:50Z","cells":[{"columnId":6096069168785284,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3844269355100036,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":8347868982470532,"value":"ACME","displayValue":"ACME"},{"columnId":1029519587993476,"value":1.0,"displayValue":"1"},{"columnId":5533119215363972,"value":"1990-01-01"},{"columnId":3281319401678724,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/7602350601856900
- request:
    body:
      sortCriteria:
      - columnId: 6096069168785284
        direction: ASCENDING
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7602350601856900/sort
  response:
    body:
      string: '{"id":7602350601856900,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["BOX_COM","GOOGLE_DRIVE","EVERNOTE","EGNYTE","ONEDRIVE","FILE","DROPBOX","LINK"],"ganttEnabled":false,"dependenciesEnabled":false[...]
