interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":6407874025940868,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/99vvmp3gvQxc7Hrh5QxvvhJPvCX6JpMGQW84HgX1","createdAt":"2019-08-16T02:40:14Z","modifiedAt":"2019-08-16T02:40:14Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6407874025940868
  response:
    body:
      string: '{"id":6407874025940868,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","LINK","EVERNOTE","GOOGLE_DRIVE","EGNYTE","BOX_COM","ONEDRIVE","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/99vvmp3gvQxc7Hrh5QxvvhJPvCX6JpMGQW84HgX1","createdAt":"2019-08-16T02:40:14Z","modifiedAt":"2019-08-16T02:40:14Z","columns":[{"id":3217242516154244,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7720842143524740,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2091342609311620,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6594942236682116,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4343142422996868,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8846742050367364,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":642193792231300,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:40:14Z","modifiedAt":"2019-08-16T02:40:14Z","cells":[{"columnId":3217242516154244,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7720842143524740,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":2091342609311620,"value":"ACME","displayValue":"ACME"},{"columnId":6594942236682116,"value":2.0,"displayValue":"2"},{"columnId":4343142422996868},{"columnId":8846742050367364,"value":true}]},{"id":5145793419601796,"rowNumber":2,"siblingId":642193792231300,"expanded":true,"createdAt":"2019-08-16T02:40:14Z","modifiedAt":"2019-08-16T02:40:14Z","cells":[{"columnId":3217242516154244,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7720842143524740,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":2091342609311620,"value":"Globex","displayValue":"Globex"},{"columnId":6594942236682116},{"columnId":4343142422996868},{"columnId":8846742050367364}]},{"id":2893993605916548,"rowNumber":3,"siblingId":5145793419601796,"expanded":true,"createdAt":"2019-08-16T02:40:14Z","modifiedAt":"2019-08-16T02:40:14Z","cells":[{"columnId":3217242516154244,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7720842143524740,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":2091342609311620,"value":"ACME","displayValue":"ACME"},{"columnId":6594942236682116,"value":1.0,"displayValue":"1"},{"columnId":4343142422996868,"value":"1990-01-01"},{"columnId":8846742050367364,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6407874025940868
- request:
    body:
      sortCriteria:
      - columnId: 3217242516154244
        direction: ASCENDING
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/6407874025940868/sort
  response:
    body:
      string: '{"id":6407874025940868,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","LINK","EVERNOTE","GOOGLE_DRIVE","EGNYTE","BOX_COM","ONEDRIVE","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false[...]
