interactions:
- request:
    body: '{"name": "[TEST] Sheet To Update", "columns": [{"primary": true, "title":
      "Full Name", "type": "TEXT_NUMBER"}, {"title": "Email address", "type": "TEXT_NUMBER"},
      {"title": "Company", "type": "TEXT_NUMBER"}, {"title": "Number of children",
      "type": "TEXT_NUMBER"}, {"title": "Birth date", "type": "DATE"}, {"title": "Married",
      "type": "CHECKBOX"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":5687350312363908,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QMfhx59v8qqPMmpGg39mGXr3f39XmQmm7R3VVcM1","columns":[{"id":3115911352739716,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7619510980110212,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1990011445897092,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6493611073267588,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4241811259582340,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8745410886952836,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toTop": true, "cells": [{"columnId": 3115911352739716, "strict": true,
      "value": "Bob Lee"}, {"columnId": 7619510980110212, "strict": true, "value":
      "bob.lee@acme.com"}, {"columnId": 1990011445897092, "strict": true, "value":
      "ACME"}, {"columnId": 6493611073267588, "strict": true, "value": 2}, {"columnId":
      8745410886952836, "strict": true, "value": true}]}, {"toTop": true, "cells":
      [{"columnId": 3115911352739716, "strict": true, "value": "Alice Smith"}, {"columnId":
      7619510980110212, "strict": true, "value": "alice.smith@globex.com"}, {"columnId":
      1990011445897092, "strict": true, "value": "Globex"}]}, {"toTop": true, "cells":
      [{"columnId": 3115911352739716, "strict": true, "value": "Charlie Brown"}, {"columnId":
      7619510980110212, "strict": true, "value": "charlie.brown@acme.com"}, {"columnId":
      1990011445897092, "strict": true, "value": "ACME"}, {"columnId": 6493611073267588,
      "strict": true, "value": 1}, {"columnId": 4241811259582340, "strict": true,
      "value": "1990-01-01"}, {"columnId": 8745410886952836, "strict": true, "value":
      false}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/5687350312363908/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":2360786301020036,"sheetId":5687350312363908,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","cells":[{"columnId":3115911352739716,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7619510980110212,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1990011445897092,"value":"ACME","displayValue":"ACME"},{"columnId":6493611073267588,"value":2.0,"displayValue":"2"},{"columnId":4241811259582340},{"columnId":8745410886952836,"value":true}]},{"id":6864385928390532,"sheetId":5687350312363908,"rowNumber":2,"siblingId":2360786301020036,"expanded":true,"createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","cells":[{"columnId":3115911352739716,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7619510980110212,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1990011445897092,"value":"Globex","displayValue":"Globex"},{"columnId":6493611073267588},{"columnId":4241811259582340},{"columnId":8745410886952836}]},{"id":1234886394177412,"sheetId":5687350312363908,"rowNumber":3,"siblingId":6864385928390532,"expanded":true,"createdAt":"2019-08-16T02:39:31Z","modifiedAt":"2019-08-16T02:39:31Z","cells":[{"columnId":3115911352739716,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7619510980110212,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":1990011445897092,"value":"ACME","displayValue":"ACME"},{"columnId":6493611073267588,"value":1.0,"displayValue":"1"},{"columnId":4241811259582340,"value":"1990-01-01"},{"columnId":8745410886952836,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
