interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":7841843346990980,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/5cv3fjrp3xc9p3mXQwrwwGQJvcRPRH5hg3h6WGg1","createdAt":"2019-08-16T02:39:42Z","modifiedAt":"2019-08-16T02:39:42Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/7841843346990980
  response:
    body:
      string: '{"id":7841843346990980,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["FILE","LINK","EVERNOTE","GOOGLE_DRIVE","EGNYTE","BOX_COM","ONEDRIVE","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/5cv3fjrp3xc9p3mXQwrwwGQJvcRPRH5hg3h6WGg1","createdAt":"2019-08-16T02:39:42Z","modifiedAt":"2019-08-16T02:39:42Z","columns":[{"id":7885163297302404,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":566813902825348,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5070413530195844,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2818613716510596,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7322213343881092,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1692713809667972,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":8186575504336772,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:42Z","modifiedAt":"2019-08-16T02:39:42Z","cells":[{"columnId":7885163297302404,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":566813902825348,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":5070413530195844,"value":"ACME","displayValue":"ACME"},{"columnId":2818613716510596,"value":2.0,"displayValue":"2"},{"columnId":7322213343881092},{"columnId":1692713809667972,"value":true}]},{"id":868226109859716,"rowNumber":2,"siblingId":8186575504336772,"expanded":true,"createdAt":"2019-08-16T02:39:42Z","modifiedAt":"2019-08-16T02:39:42Z","cells":[{"columnId":7885163297302404,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":566813902825348,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":5070413530195844,"value":"Globex","displayValue":"Globex"},{"columnId":2818613716510596},{"columnId":7322213343881092},{"columnId":1692713809667972}]},{"id":5371825737230212,"rowNumber":3,"siblingId":868226109859716,"expanded":true,"createdAt":"2019-08-16T02:39:42Z","modifiedAt":"2019-08-16T02:39:42Z","cells":[{"columnId":7885163297302404,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":566813902825348,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":5070413530195844,"value":"ACME","displayValue":"ACME"},{"columnId":2818613716510596,"value":1.0,"displayValue":"1"},{"columnId":7322213343881092,"value":"1990-01-01"},{"columnId":1692713809667972,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toBottom": true, "cells": [{"columnId": 7885163297302404, "strict":
      true, "value": "David Ward"}, {"columnId": 566813902825348, "strict": true,
      "value": "david.ward@globex.com"}, {"columnId": 5070413530195844, "strict":
      true, "value": "Globex"}, {"columnId": 2818613716510596, "strict": true, "value":
      3}, {"columnId": 7322213343881092, "strict": true, "value": "1980-01-01"}, {"columnId":
      1692713809667972, "strict": true, "value": true}]}, {"toBottom": true, "cells":
      [{"columnId": 7885163297302404, "strict": true, "value": "Elizabeth Warner"},
      {"columnId": 566813902825348, "strict": true, "value": "elizabeth.warner@acme.com"},
      {"columnId": 5070413530195844, "strict": true, "value": "ACME"}, {"columnId":
      2818613716510596, "strict": true, "value": 2}, {"columnId": 7322213343881092,
      "strict": true, "value": "1985-01-01"}, {"columnId": 1692713809667972, "strict":
      true, "value": true}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/7841843346990980/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":2941024571549572,"sheetId":7841843346990980,"rowNumber":4,"siblingId":5371825737230212,"expanded":true,"createdAt":"2019-08-16T02:39:43Z","modifiedAt":"2019-08-16T02:39:43Z","cells":[{"columnId":7885163297302404,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":566813902825348,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":5070413530195844,"value":"Globex","displayValue":"Globex"},{"columnId":2818613716510596,"value":3.0,"displayValue":"3"},{"columnId":7322213343881092,"value":"1980-01-01"},{"columnId":1692713809667972,"value":true}]},{"id":7444624198920068,"sheetId":7841843346990980,"rowNumber":5,"siblingId":2941024571549572,"expanded":true,"createdAt":"2019-08-16T02:39:43Z","modifiedAt":"2019-08-16T02:39:43Z","cells":[{"columnId":7885163297302404,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":566813902825348,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":5070413530195844,"value":"ACME","displayValue":"ACME"},{"columnId":2818613716510596,"value":2.0,"displayValue":"2"},{"columnId":7322213343881092,"value":"1985-01-01"},{"columnId":1692713809667972,"value":true}]}],"version":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
