interactions:
- request:
    body: '{"name": "[TEST] Sheet To Update", "columns": [{"type": "TEXT_NUMBER",
      "title": "Full Name", "primary": true}, {"type": "TEXT_NUMBER", "title": "Email
      address"}, {"type": "TEXT_NUMBER", "title": "Company"}, {"type": "TEXT_NUMBER",
      "title": "Number of children"}, {"options": ["simple-smartsheet", "nornir",
      "napalm", "netmiko", "pydantic"], "type": "MULTI_PICKLIST", "title": "Maintains"},
      {"type": "DATE", "title": "Birth date"}, {"type": "CHECKBOX", "title": "Married"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":8704801799202692,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/gX5PJJXmpq4CJJCRQM2r4vJHJR7Gqw2wQVP4qqr1","columns":[{"id":6105197626845060,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3853397813159812,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8356997440530308,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1038648046053252,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":5542247673423748,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":3290447859738500,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7794047487108996,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"cells": [{"value": "Bob Lee", "columnId": 6105197626845060, "strict":
      true}, {"value": "bob.lee@acme.com", "columnId": 3853397813159812, "strict":
      true}, {"value": "ACME", "columnId": 8356997440530308, "strict": true}, {"value":
      2, "columnId": 1038648046053252, "strict": true}, {"value": true, "columnId":
      7794047487108996, "strict": true}, {"objectValue": {"objectType": "MULTI_PICKLIST",
      "values": ["simple-smartsheet", "nornir"]}, "columnId": 5542247673423748, "strict":
      true}], "toTop": true}, {"cells": [{"value": "Alice Smith", "columnId": 6105197626845060,
      "strict": true}, {"value": "alice.smith@globex.com", "columnId": 3853397813159812,
      "strict": true}, {"value": "Globex", "columnId": 8356997440530308, "strict":
      true}, {"objectValue": {"objectType": "MULTI_PICKLIST", "values": ["napalm",
      "nornir"]}, "columnId": 5542247673423748, "strict": true}], "toTop": true},
      {"cells": [{"value": "Charlie Brown", "columnId": 6105197626845060, "strict":
      true}, {"value": "charlie.brown@acme.com", "columnId": 3853397813159812, "strict":
      true}, {"value": "ACME", "columnId": 8356997440530308, "strict": true}, {"value":
      1, "columnId": 1038648046053252, "strict": true}, {"value": "1990-01-01", "columnId":
      3290447859738500, "strict": true}, {"value": false, "columnId": 7794047487108996,
      "strict": true}, {"objectValue": {"objectType": "MULTI_PICKLIST", "values":
      ["napalm", "netmiko", "nornir"]}, "columnId": 5542247673423748, "strict": true}],
      "toTop": true}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/8704801799202692/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":8108692751574916,"sheetId":8704801799202692,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T15:53:47Z","modifiedAt":"2020-02-05T15:53:47Z","cells":[{"columnId":6105197626845060,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3853397813159812,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8356997440530308,"value":"ACME","displayValue":"ACME"},{"columnId":1038648046053252,"value":2.0,"displayValue":"2"},{"columnId":5542247673423748,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":3290447859738500},{"columnId":7794047487108996,"value":true}]},{"id":790343357097860,"sheetId":8704801799202692,"rowNumber":2,"siblingId":8108692751574916,"expanded":true,"createdAt":"2020-02-05T15:53:47Z","modifiedAt":"2020-02-05T15:53:47Z","cells":[{"columnId":6105197626845060,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3853397813159812,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8356997440530308,"value":"Globex","displayValue":"Globex"},{"columnId":1038648046053252},{"columnId":5542247673423748,"displayValue":"nornir,
        napalm"},{"columnId":3290447859738500},{"columnId":7794047487108996}]},{"id":5293942984468356,"sheetId":8704801799202692,"rowNumber":3,"siblingId":790343357097860,"expanded":true,"createdAt":"2020-02-05T15:53:47Z","modifiedAt":"2020-02-05T15:53:47Z","cells":[{"columnId":6105197626845060,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3853397813159812,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":8356997440530308,"value":"ACME","displayValue":"ACME"},{"columnId":1038648046053252,"value":1.0,"displayValue":"1"},{"columnId":5542247673423748,"displayValue":"nornir,
        napalm, netmiko"},{"columnId":3290447859738500,"value":"1990-01-01"},{"columnId":7794047487108996,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
