interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":8024666146137988,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/q8PHCF7hwMJ6XHcr9pvvhfXHch22wm57vFfJ7vJ1","createdAt":"2019-08-08T18:28:40Z","modifiedAt":"2019-08-08T18:28:40Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8024666146137988
  response:
    body:
      string: '{"id":8024666146137988,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","DROPBOX","ONEDRIVE","FILE","EGNYTE","LINK","BOX_COM","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/q8PHCF7hwMJ6XHcr9pvvhfXHch22wm57vFfJ7vJ1","createdAt":"2019-08-08T18:28:40Z","modifiedAt":"2019-08-08T18:28:40Z","columns":[{"id":6661226735396740,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":4409426921711492,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8913026549081988,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":116933526873988,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4620533154244484,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2368733340559236,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":6876069480949636,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:40Z","modifiedAt":"2019-08-08T18:28:40Z","cells":[{"columnId":6661226735396740,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":4409426921711492,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8913026549081988,"value":"ACME","displayValue":"ACME"},{"columnId":116933526873988,"value":2.0,"displayValue":"2"},{"columnId":4620533154244484},{"columnId":2368733340559236,"value":true}]},{"id":1246569946736516,"rowNumber":2,"siblingId":6876069480949636,"expanded":true,"createdAt":"2019-08-08T18:28:40Z","modifiedAt":"2019-08-08T18:28:40Z","cells":[{"columnId":6661226735396740,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":4409426921711492,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8913026549081988,"value":"Globex","displayValue":"Globex"},{"columnId":116933526873988},{"columnId":4620533154244484},{"columnId":2368733340559236}]},{"id":5750169574107012,"rowNumber":3,"siblingId":1246569946736516,"expanded":true,"createdAt":"2019-08-08T18:28:40Z","modifiedAt":"2019-08-08T18:28:40Z","cells":[{"columnId":6661226735396740,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":4409426921711492,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":8913026549081988,"value":"ACME","displayValue":"ACME"},{"columnId":116933526873988,"value":1.0,"displayValue":"1"},{"columnId":4620533154244484,"value":"1990-01-01"},{"columnId":2368733340559236,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/8024666146137988/rows?ids=1246569946736516%2C6876069480949636
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[1246569946736516,6876069480949636]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
