interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":4661903157124,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/W2WfcQG5gJwG582GcwgHMr269Q82Pc42HVHGw6H1","createdAt":"2019-08-16T02:40:02Z","modifiedAt":"2019-08-16T02:40:02Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4661903157124
  response:
    body:
      string: '{"id":4661903157124,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","FILE","GOOGLE_DRIVE","EGNYTE","DROPBOX","LINK","BOX_COM","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/W2WfcQG5gJwG582GcwgHMr269Q82Pc42HVHGw6H1","createdAt":"2019-08-16T02:40:02Z","modifiedAt":"2019-08-16T02:40:02Z","columns":[{"id":5540678089369476,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3288878275684228,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7792477903054724,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2162978368841604,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6666577996212100,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4414778182526852,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":7005041812367236,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:40:02Z","modifiedAt":"2019-08-16T02:40:02Z","cells":[{"columnId":5540678089369476,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3288878275684228,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7792477903054724,"value":"ACME","displayValue":"ACME"},{"columnId":2162978368841604,"value":2.0,"displayValue":"2"},{"columnId":6666577996212100},{"columnId":4414778182526852,"value":true}]},{"id":1375542278154116,"rowNumber":2,"siblingId":7005041812367236,"expanded":true,"createdAt":"2019-08-16T02:40:02Z","modifiedAt":"2019-08-16T02:40:02Z","cells":[{"columnId":5540678089369476,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3288878275684228,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7792477903054724,"value":"Globex","displayValue":"Globex"},{"columnId":2162978368841604},{"columnId":6666577996212100},{"columnId":4414778182526852}]},{"id":5879141905524612,"rowNumber":3,"siblingId":1375542278154116,"expanded":true,"createdAt":"2019-08-16T02:40:02Z","modifiedAt":"2019-08-16T02:40:02Z","cells":[{"columnId":5540678089369476,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3288878275684228,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":7792477903054724,"value":"ACME","displayValue":"ACME"},{"columnId":2162978368841604,"value":1.0,"displayValue":"1"},{"columnId":6666577996212100,"value":"1990-01-01"},{"columnId":4414778182526852,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/4661903157124
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/4661903157124/rows?ids=1375542278154116
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[1375542278154116]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/4661903157124/rows?ids=1375542278154116
[...]
