interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":4464143626463108,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/RgQqH4PCV9jJ22p54VJC7fqJQXvqhRccwgCG6r51","createdAt":"2019-08-16T02:39:51Z","modifiedAt":"2019-08-16T02:39:51Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4464143626463108
  response:
    body:
      string: '{"id":4464143626463108,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","GOOGLE_DRIVE","DROPBOX","EVERNOTE","ONEDRIVE","FILE","BOX_COM","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/RgQqH4PCV9jJ22p54VJC7fqJQXvqhRccwgCG6r51","createdAt":"2019-08-16T02:39:51Z","modifiedAt":"2019-08-16T02:39:51Z","columns":[{"id":5351888506906500,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3100088693221252,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7603688320591748,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1974188786378628,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6477788413749124,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4225988600063876,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":7975469271803780,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:51Z","modifiedAt":"2019-08-16T02:39:51Z","cells":[{"columnId":5351888506906500,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3100088693221252,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":7603688320591748,"value":"ACME","displayValue":"ACME"},{"columnId":1974188786378628,"value":2.0,"displayValue":"2"},{"columnId":6477788413749124},{"columnId":4225988600063876,"value":true}]},{"id":657119877326724,"rowNumber":2,"siblingId":7975469271803780,"expanded":true,"createdAt":"2019-08-16T02:39:51Z","modifiedAt":"2019-08-16T02:39:51Z","cells":[{"columnId":5351888506906500,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3100088693221252,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7603688320591748,"value":"Globex","displayValue":"Globex"},{"columnId":1974188786378628},{"columnId":6477788413749124},{"columnId":4225988600063876}]},{"id":5160719504697220,"rowNumber":3,"siblingId":657119877326724,"expanded":true,"createdAt":"2019-08-16T02:39:51Z","modifiedAt":"2019-08-16T02:39:51Z","cells":[{"columnId":5351888506906500,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3100088693221252,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":7603688320591748,"value":"ACME","displayValue":"ACME"},{"columnId":1974188786378628,"value":1.0,"displayValue":"1"},{"columnId":6477788413749124,"value":"1990-01-01"},{"columnId":4225988600063876,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/4464143626463108
- request:
    body:
      cells:
      - columnId: 5351888506906500
        strict: true
        value: Alice Han
      - columnId: 4225988600063876
        strict: true
        value: true
      expanded: true
      id: 657119877326724
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/4464143626463108/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":657119877326724,"rowNumber":2,"siblingId":7975469271803780,"expanded":true,"createdAt":"2019-08-16T02:39:51Z","modifiedAt":"2019-08-16T02:39:52Z","cells":[{"columnId":5351888506906500,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":3100088693221252,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":7603688320591748,"value":"Globex","displayValue":"Globex"},{"columnId":1974188786378628},{"columnId":6477788413749124},{"columnId":4225988600063876,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/4464143626463108/rows
[...]
