interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":6431307367507844,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/J8hgfxM8VfR2vqrXMXMJwFGXrHX5F456MmcVw9H1","createdAt":"2019-08-16T02:39:33Z","modifiedAt":"2019-08-16T02:39:34Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6431307367507844
  response:
    body:
      string: '{"id":6431307367507844,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","GOOGLE_DRIVE","FILE","LINK","EGNYTE","DROPBOX","BOX_COM","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/J8hgfxM8VfR2vqrXMXMJwFGXrHX5F456MmcVw9H1","createdAt":"2019-08-16T02:39:33Z","modifiedAt":"2019-08-16T02:39:34Z","columns":[{"id":7851370494617476,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":2221870960404356,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6725470587774852,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4473670774089604,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8977270401460100,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":22847704852356,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":126068646012804,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:34Z","modifiedAt":"2019-08-16T02:39:34Z","cells":[{"columnId":7851370494617476,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":2221870960404356,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":6725470587774852,"value":"ACME","displayValue":"ACME"},{"columnId":4473670774089604,"value":2.0,"displayValue":"2"},{"columnId":8977270401460100},{"columnId":22847704852356,"value":true}]},{"id":4629668273383300,"rowNumber":2,"siblingId":126068646012804,"expanded":true,"createdAt":"2019-08-16T02:39:34Z","modifiedAt":"2019-08-16T02:39:34Z","cells":[{"columnId":7851370494617476,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":2221870960404356,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":6725470587774852,"value":"Globex","displayValue":"Globex"},{"columnId":4473670774089604},{"columnId":8977270401460100},{"columnId":22847704852356}]},{"id":2377868459698052,"rowNumber":3,"siblingId":4629668273383300,"expanded":true,"createdAt":"2019-08-16T02:39:34Z","modifiedAt":"2019-08-16T02:39:34Z","cells":[{"columnId":7851370494617476,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":2221870960404356,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":6725470587774852,"value":"ACME","displayValue":"ACME"},{"columnId":4473670774089604,"value":1.0,"displayValue":"1"},{"columnId":8977270401460100,"value":"1990-01-01"},{"columnId":22847704852356,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6431307367507844
- request:
    body:
      name: '[TEST] Updated Sheet'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/6431307367507844
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":6431307367507844,"name":"[TEST]
        Updated Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/J8hgfxM8VfR2vqrXMXMJwFGXrHX5F456MmcVw9H1"},"version":2}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6431307367507844
version: 1
