interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":562732773730180,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/jVWPq56GPwpP8vCfx7rHmH4jp694Jh93952q9x51","createdAt":"2019-08-16T02:40:08Z","modifiedAt":"2019-08-16T02:40:08Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/562732773730180
  response:
    body:
      string: '{"id":562732773730180,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","BOX_COM","EVERNOTE","FILE","ONEDRIVE","EGNYTE","LINK","DROPBOX"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/jVWPq56GPwpP8vCfx7rHmH4jp694Jh93952q9x51","createdAt":"2019-08-16T02:40:08Z","modifiedAt":"2019-08-16T02:40:08Z","columns":[{"id":6398855504783236,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":4147055691097988,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8650655318468484,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":487880993859460,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4991480621229956,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":2739680807544708,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":1533649687996292,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:40:08Z","modifiedAt":"2019-08-16T02:40:08Z","cells":[{"columnId":6398855504783236,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":4147055691097988,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8650655318468484,"value":"ACME","displayValue":"ACME"},{"columnId":487880993859460,"value":2.0,"displayValue":"2"},{"columnId":4991480621229956},{"columnId":2739680807544708,"value":true}]},{"id":6037249315366788,"rowNumber":2,"siblingId":1533649687996292,"expanded":true,"createdAt":"2019-08-16T02:40:08Z","modifiedAt":"2019-08-16T02:40:08Z","cells":[{"columnId":6398855504783236,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":4147055691097988,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8650655318468484,"value":"Globex","displayValue":"Globex"},{"columnId":487880993859460},{"columnId":4991480621229956},{"columnId":2739680807544708}]},{"id":3785449501681540,"rowNumber":3,"siblingId":6037249315366788,"expanded":true,"createdAt":"2019-08-16T02:40:08Z","modifiedAt":"2019-08-16T02:40:08Z","cells":[{"columnId":6398855504783236,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":4147055691097988,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":8650655318468484,"value":"ACME","displayValue":"ACME"},{"columnId":487880993859460,"value":1.0,"displayValue":"1"},{"columnId":4991480621229956,"value":"1990-01-01"},{"columnId":2739680807544708,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/562732773730180
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/562732773730180/rows?ids=6037249315366788,1533649687996292
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[6037249315366788,1533649687996292]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/562732773730180/rows?ids=6037249315366788,1533649687996292
[...]
