interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":8299131736221572,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/6pgwfw28wrmjqqhhf5cCwVRqxPPjVMrfCMWWxM61","createdAt":"2019-08-08T18:28:43Z","modifiedAt":"2019-08-08T18:28:43Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/8299131736221572
  response:
    body:
      string: '{"id":8299131736221572,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["LINK","EVERNOTE","DROPBOX","EGNYTE","FILE","BOX_COM","GOOGLE_DRIVE","ONEDRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/6pgwfw28wrmjqqhhf5cCwVRqxPPjVMrfCMWWxM61","createdAt":"2019-08-08T18:28:43Z","modifiedAt":"2019-08-08T18:28:43Z","columns":[{"id":3116195089016708,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":7619794716387204,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1990295182174084,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6493894809544580,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4242094995859332,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":8745694623229828,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":4799044771440516,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:43Z","modifiedAt":"2019-08-08T18:28:43Z","cells":[{"columnId":3116195089016708,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":7619794716387204,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":1990295182174084,"value":"ACME","displayValue":"ACME"},{"columnId":6493894809544580,"value":2.0,"displayValue":"2"},{"columnId":4242094995859332},{"columnId":8745694623229828,"value":true}]},{"id":2547244957755268,"rowNumber":2,"siblingId":4799044771440516,"expanded":true,"createdAt":"2019-08-08T18:28:43Z","modifiedAt":"2019-08-08T18:28:43Z","cells":[{"columnId":3116195089016708,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":7619794716387204,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":1990295182174084,"value":"Globex","displayValue":"Globex"},{"columnId":6493894809544580},{"columnId":4242094995859332},{"columnId":8745694623229828}]},{"id":7050844585125764,"rowNumber":3,"siblingId":2547244957755268,"expanded":true,"createdAt":"2019-08-08T18:28:43Z","modifiedAt":"2019-08-08T18:28:43Z","cells":[{"columnId":3116195089016708,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":7619794716387204,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":1990295182174084,"value":"ACME","displayValue":"ACME"},{"columnId":6493894809544580,"value":1.0,"displayValue":"1"},{"columnId":4242094995859332,"value":"1990-01-01"},{"columnId":8745694623229828,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8299131736221572
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/8299131736221572/rows?ids=2547244957755268,4799044771440516
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[2547244957755268,4799044771440516]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/8299131736221572/rows?ids=2547244957755268,4799044771440516
[...]
