interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":2872600545257348,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/P3WFPv6JfF72JQxw4QPXMWWRMRhmmvmwq9CcJgr1","createdAt":"2019-08-16T02:40:11Z","modifiedAt":"2019-08-16T02:40:11Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/2872600545257348
  response:
    body:
      string: '{"id":2872600545257348,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["LINK","DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EVERNOTE","ONEDRIVE","EGNYTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/P3WFPv6JfF72JQxw4QPXMWWRMRhmmvmwq9CcJgr1","createdAt":"2019-08-16T02:40:11Z","modifiedAt":"2019-08-16T02:40:11Z","columns":[{"id":1004849027409796,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":5508448654780292,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3256648841095044,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7760248468465540,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2130748934252420,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":6634348561622916,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":5175536068126596,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:40:11Z","modifiedAt":"2019-08-16T02:40:11Z","cells":[{"columnId":1004849027409796,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":5508448654780292,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":3256648841095044,"value":"ACME","displayValue":"ACME"},{"columnId":7760248468465540,"value":2.0,"displayValue":"2"},{"columnId":2130748934252420},{"columnId":6634348561622916,"value":true}]},{"id":2923736254441348,"rowNumber":2,"siblingId":5175536068126596,"expanded":true,"createdAt":"2019-08-16T02:40:11Z","modifiedAt":"2019-08-16T02:40:11Z","cells":[{"columnId":1004849027409796,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":5508448654780292,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":3256648841095044,"value":"Globex","displayValue":"Globex"},{"columnId":7760248468465540},{"columnId":2130748934252420},{"columnId":6634348561622916}]},{"id":7427335881811844,"rowNumber":3,"siblingId":2923736254441348,"expanded":true,"createdAt":"2019-08-16T02:40:11Z","modifiedAt":"2019-08-16T02:40:11Z","cells":[{"columnId":1004849027409796,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":5508448654780292,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":3256648841095044,"value":"ACME","displayValue":"ACME"},{"columnId":7760248468465540,"value":1.0,"displayValue":"1"},{"columnId":2130748934252420,"value":"1990-01-01"},{"columnId":6634348561622916,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sortCriteria": [{"columnId": 1004849027409796, "direction": "ASCENDING"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/2872600545257348/sort
  response:
    body:
      string: '{"id":2872600545257348,"name":"[TEST] Sheet To Update","version":3,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["LINK","DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EVERNOTE","ONEDRIVE","EGNYTE"],"ganttEnabled":false,"dependenciesEnabled"[...]
