interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":4930611434547076,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/7gphXCG7q43MHw3ffmrmQ5JgQ2GRHJ28crggqWh1","createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:56Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/4930611434547076
  response:
    body:
      string: '{"id":4930611434547076,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["LINK","DROPBOX","FILE","GOOGLE_DRIVE","BOX_COM","EVERNOTE","ONEDRIVE","EGNYTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/7gphXCG7q43MHw3ffmrmQ5JgQ2GRHJ28crggqWh1","createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:56Z","columns":[{"id":8996872632199044,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":16061656524676,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4519661283895172,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2267861470209924,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":6771461097580420,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1141961563367300,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":7646903199917956,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:56Z","cells":[{"columnId":8996872632199044,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":16061656524676,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4519661283895172,"value":"ACME","displayValue":"ACME"},{"columnId":2267861470209924,"value":2.0,"displayValue":"2"},{"columnId":6771461097580420},{"columnId":1141961563367300,"value":true}]},{"id":2017403665704836,"rowNumber":2,"siblingId":7646903199917956,"expanded":true,"createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:56Z","cells":[{"columnId":8996872632199044,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":16061656524676,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4519661283895172,"value":"Globex","displayValue":"Globex"},{"columnId":2267861470209924},{"columnId":6771461097580420},{"columnId":1141961563367300}]},{"id":6521003293075332,"rowNumber":3,"siblingId":2017403665704836,"expanded":true,"createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:56Z","cells":[{"columnId":8996872632199044,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":16061656524676,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":4519661283895172,"value":"ACME","displayValue":"ACME"},{"columnId":2267861470209924,"value":1.0,"displayValue":"1"},{"columnId":6771461097580420,"value":"1990-01-01"},{"columnId":1141961563367300,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/4930611434547076
- request:
    body:
    - cells:
      - columnId: 8996872632199044
        strict: true
        value: Alice Han
      - columnId: 6771461097580420
        strict: true
        value: '1989-12-31'
      expanded: true
      id: 2017403665704836
    - cells:
      - columnId: 4519661283895172
        strict: true
        value: Globex
      - columnId: 2267861470209924
        strict: true
        value: ''
      expanded: true
      id: 7646903199917956
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/4930611434547076/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":7646903199917956,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:58Z","cells":[{"columnId":8996872632199044,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":16061656524676,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4519661283895172,"value":"Globex","displayValue":"Globex"},{"columnId":2267861470209924},{"columnId":6771461097580420},{"columnId":1141961563367300,"value":true}]},{"id":2017403665704836,"rowNumber":2,"siblingId":7646903199917956,"expanded":true,"createdAt":"2019-08-16T02:39:56Z","modifiedAt":"2019-08-16T02:39:58Z","cells":[{"columnId":8996872632199044,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":16061656524676,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4519661283895172,"value":"Globex","displayValue":"Globex"},{"columnId":2267861470209924},{"columnId":6771461097580420,"value":"1989-12-31"},{"columnId":1141961563367300}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/4930611434547076/rows
[...]
