interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":3300585446369156,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/Gm94QJF7CcWVhgqhQR47p9rcgx3rj9P7prVGqGj1","createdAt":"2019-08-16T02:39:45Z","modifiedAt":"2019-08-16T02:39:45Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3300585446369156
  response:
    body:
      string: '{"id":3300585446369156,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["EGNYTE","EVERNOTE","FILE","ONEDRIVE","GOOGLE_DRIVE","DROPBOX","BOX_COM","LINK"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/Gm94QJF7CcWVhgqhQR47p9rcgx3rj9P7prVGqGj1","createdAt":"2019-08-16T02:39:45Z","modifiedAt":"2019-08-16T02:39:45Z","columns":[{"id":387185485604740,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":4890785112975236,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2638985299289988,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7142584926660484,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":1513085392447364,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":6016685019817860,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":5114080454829956,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:39:45Z","modifiedAt":"2019-08-16T02:39:45Z","cells":[{"columnId":387185485604740,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":4890785112975236,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":2638985299289988,"value":"ACME","displayValue":"ACME"},{"columnId":7142584926660484,"value":2.0,"displayValue":"2"},{"columnId":1513085392447364},{"columnId":6016685019817860,"value":true}]},{"id":2862280641144708,"rowNumber":2,"siblingId":5114080454829956,"expanded":true,"createdAt":"2019-08-16T02:39:45Z","modifiedAt":"2019-08-16T02:39:45Z","cells":[{"columnId":387185485604740,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":4890785112975236,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":2638985299289988,"value":"Globex","displayValue":"Globex"},{"columnId":7142584926660484},{"columnId":1513085392447364},{"columnId":6016685019817860}]},{"id":7365880268515204,"rowNumber":3,"siblingId":2862280641144708,"expanded":true,"createdAt":"2019-08-16T02:39:45Z","modifiedAt":"2019-08-16T02:39:45Z","cells":[{"columnId":387185485604740,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":4890785112975236,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":2638985299289988,"value":"ACME","displayValue":"ACME"},{"columnId":7142584926660484,"value":1.0,"displayValue":"1"},{"columnId":1513085392447364,"value":"1990-01-01"},{"columnId":6016685019817860,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/3300585446369156
- request:
    body:
    - cells:
      - columnId: 387185485604740
        strict: true
        value: David Ward
      - columnId: 4890785112975236
        strict: true
        value: david.ward@globex.com
      - columnId: 2638985299289988
        strict: true
        value: Globex
      - columnId: 7142584926660484
        strict: true
        value: 3
      - columnId: 1513085392447364
        strict: true
        value: '1980-01-01'
      - columnId: 6016685019817860
        strict: true
        value: true
      toBottom: true
    - cells:
      - columnId: 387185485604740
        strict: true
        value: Elizabeth Warner
      - columnId: 4890785112975236
        strict: true
        value: elizabeth.warner@acme.com
      - columnId: 2638985299289988
        strict: true
        value: ACME
      - columnId: 7142584926660484
        strict: true
        value: 2
      - columnId: 1513085392447364
        strict: true
        value: '1985-01-01'
      - columnId: 6016685019817860
        strict: true
        value: true
      toBottom: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/3300585446369156/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":1736380734302084,"sheetId":3300585446369156,"rowNumber":4,"siblingId":7365880268515204,"expanded":true,"createdAt":"2019-08-16T02:39:46Z","modifiedAt":"2019-08-16T02:39:46Z","cells":[{"columnId":387185485604740,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":4890785112975236,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":2638985299289988,"value":"Globex","displayValue":"Globex"},{"columnId":7142584926660484,"value":3.0,"displayValue":"3"},{"columnId":1513085392447364,"value":"1980-01-01"},{"columnId":6016685019817860,"value":true}]},{"id":6239980361672580,"sheetId":3300585446369156,"rowNumber":5,"siblingId":1736380734302084,"expanded":true,"createdAt":"2019-08-16T02:39:46Z","modifiedAt":"2019-08-16T02:39:46Z","cells":[{"columnId":387185485604740,"value":"Elizabeth
        Warner","displayValue":"Elizabeth Warner"},{"columnId":4890785112975236,"value":"elizabeth.warner@acme.com","displayValue":"elizabeth.warner@acme.com"},{"columnId":2638985299289988,"value":"ACME","displayValue":"ACME"},{"columnId":7142584926660484,"value":2.0,"displayValue":"2"},{"columnId":1513085392447364,"value":"1985-01-01"},{"columnId":6016685019817860,"value":true}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/3300585446369156/rows
[...]
