interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4227473748584324,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/QC7GMmRFCwX3x8q3rjMMv5Cg665cCHQRQRxjPwW1","createdAt":"2019-08-16T02:38:33Z","modifiedAt":"2019-08-16T02:38:34Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-16T01:00:14Z"},{"id":3546738612037508,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/W2jHpCgGmG8QQ5fPpr2mgxRvmffrQJjxfCghh5G1","createdAt":"2019-08-16T02:40:05Z","modifiedAt":"2019-08-16T02:40:05Z"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/3546738612037508
  response:
    body:
      string: '{"id":3546738612037508,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","GOOGLE_DRIVE","FILE","LINK","EGNYTE","DROPBOX","BOX_COM","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/W2jHpCgGmG8QQ5fPpr2mgxRvmffrQJjxfCghh5G1","createdAt":"2019-08-16T02:40:05Z","modifiedAt":"2019-08-16T02:40:05Z","columns":[{"id":1712075522238340,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":6215675149608836,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":3963875335923588,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8467474963294084,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":304700638685060,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":4808300266055556,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":7102667492747140,"rowNumber":1,"expanded":true,"createdAt":"2019-08-16T02:40:05Z","modifiedAt":"2019-08-16T02:40:05Z","cells":[{"columnId":1712075522238340,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":6215675149608836,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":3963875335923588,"value":"ACME","displayValue":"ACME"},{"columnId":8467474963294084,"value":2.0,"displayValue":"2"},{"columnId":304700638685060},{"columnId":4808300266055556,"value":true}]},{"id":1473167958534020,"rowNumber":2,"siblingId":7102667492747140,"expanded":true,"createdAt":"2019-08-16T02:40:05Z","modifiedAt":"2019-08-16T02:40:05Z","cells":[{"columnId":1712075522238340,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":6215675149608836,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":3963875335923588,"value":"Globex","displayValue":"Globex"},{"columnId":8467474963294084},{"columnId":304700638685060},{"columnId":4808300266055556}]},{"id":5976767585904516,"rowNumber":3,"siblingId":1473167958534020,"expanded":true,"createdAt":"2019-08-16T02:40:05Z","modifiedAt":"2019-08-16T02:40:05Z","cells":[{"columnId":1712075522238340,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":6215675149608836,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":3963875335923588,"value":"ACME","displayValue":"ACME"},{"columnId":8467474963294084,"value":1.0,"displayValue":"1"},{"columnId":304700638685060,"value":"1990-01-01"},{"columnId":4808300266055556,"value":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: DELETE
    uri: https://api.smartsheet.com/2.0/sheets/3546738612037508/rows?ids=1473167958534020%2C7102667492747140
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[7102667492747140,1473167958534020]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
