interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6049187348408196,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/hjfWpx42qHQjQWjrVjcqwRrmHcRfhRpGvGRj95H1","createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:31Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/6049187348408196
  response:
    body:
      string: '{"id":6049187348408196,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["GOOGLE_DRIVE","DROPBOX","ONEDRIVE","FILE","EGNYTE","LINK","BOX_COM","EVERNOTE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/hjfWpx42qHQjQWjrVjcqwRrmHcRfhRpGvGRj95H1","createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:31Z","columns":[{"id":4042327476987780,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":8545927104358276,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":383152779749252,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4886752407119748,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2634952593434500,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7138552220804996,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":666211417122692,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:31Z","cells":[{"columnId":4042327476987780,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8545927104358276,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":383152779749252,"value":"ACME","displayValue":"ACME"},{"columnId":4886752407119748,"value":2.0,"displayValue":"2"},{"columnId":2634952593434500},{"columnId":7138552220804996,"value":true}]},{"id":5169811044493188,"rowNumber":2,"siblingId":666211417122692,"expanded":true,"createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:31Z","cells":[{"columnId":4042327476987780,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":8545927104358276,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":383152779749252,"value":"Globex","displayValue":"Globex"},{"columnId":4886752407119748},{"columnId":2634952593434500},{"columnId":7138552220804996}]},{"id":2918011230807940,"rowNumber":3,"siblingId":5169811044493188,"expanded":true,"createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:31Z","cells":[{"columnId":4042327476987780,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":8545927104358276,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":383152779749252,"value":"ACME","displayValue":"ACME"},{"columnId":4886752407119748,"value":1.0,"displayValue":"1"},{"columnId":2634952593434500,"value":"1990-01-01"},{"columnId":7138552220804996,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6049187348408196
- request:
    body:
    - cells:
      - columnId: 4042327476987780
        strict: true
        value: Alice Han
      - columnId: 2634952593434500
        strict: true
        value: '1989-12-31'
      expanded: true
      id: 5169811044493188
    - cells:
      - columnId: 383152779749252
        strict: true
        value: Globex
      - columnId: 4886752407119748
        strict: true
        value: ''
      expanded: true
      id: 666211417122692
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: PUT
    uri: https://api.smartsheet.com/2.0/sheets/6049187348408196/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":666211417122692,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:32Z","cells":[{"columnId":4042327476987780,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":8545927104358276,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":383152779749252,"value":"Globex","displayValue":"Globex"},{"columnId":4886752407119748},{"columnId":2634952593434500},{"columnId":7138552220804996,"value":true}]},{"id":5169811044493188,"rowNumber":2,"siblingId":666211417122692,"expanded":true,"createdAt":"2019-08-08T18:28:31Z","modifiedAt":"2019-08-08T18:28:32Z","cells":[{"columnId":4042327476987780,"value":"Alice
        Han","displayValue":"Alice Han"},{"columnId":8545927104358276,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":383152779749252,"value":"Globex","displayValue":"Globex"},{"columnId":4886752407119748},{"columnId":2634952593434500,"value":"1989-12-31"},{"columnId":7138552220804996}]}],"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/6049187348408196/rows
[...]
