interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":4,"data":[{"id":4921432015693700,"name":"[TEST]
        Read-only Sheet","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/8xhQQgP3xQRvW8cJrfR36wcjXp73Vwvg68WcFwC1","createdAt":"2019-08-08T18:27:26Z","modifiedAt":"2019-08-08T18:27:26Z"},{"id":2207309037365124,"name":"[TEST]
        Report Sheet 1","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9v7qHWw32PWFgwjjrv3PrMm44XWCfHRMrj9wX9J1","createdAt":"2019-08-06T17:40:20Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":6710908664735620,"name":"[TEST]
        Report Sheet 2","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/FMjRXrFrqpW6HPw5FJHGVGGgCVvP7xm4hc77Mvp1","createdAt":"2019-08-06T17:40:22Z","modifiedAt":"2019-08-07T23:11:38Z"},{"id":2923224251033476,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/9VwfGG9G6xcwMP7Ppx4MG4XQfM8CfFH38cvWqM31","createdAt":"2019-08-08T18:28:08Z","modifiedAt":"2019-08-08T18:28:09Z"}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets?includeAll=true
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/sheets/2923224251033476
  response:
    body:
      string: '{"id":2923224251033476,"name":"[TEST] Sheet To Update","version":2,"totalRowCount":3,"accessLevel":"OWNER","effectiveAttachmentOptions":["ONEDRIVE","DROPBOX","EGNYTE","FILE","BOX_COM","EVERNOTE","LINK","GOOGLE_DRIVE"],"ganttEnabled":false,"dependenciesEnabled":false,"resourceManagementEnabled":false,"cellImageUploadEnabled":true,"userSettings":{"criticalPathEnabled":false,"displaySummaryTasks":true},"permalink":"https://app.smartsheet.com/sheets/9VwfGG9G6xcwMP7Ppx4MG4XQfM8CfFH38cvWqM31","createdAt":"2019-08-08T18:28:08Z","modifiedAt":"2019-08-08T18:28:09Z","columns":[{"id":8587236099811204,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":424461775202180,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4928061402572676,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":2676261588887428,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":7179861216257924,"version":0,"index":4,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":1550361682044804,"version":0,"index":5,"title":"Married","type":"CHECKBOX","validation":false,"width":150}],"rows":[{"id":5391714824808324,"rowNumber":1,"expanded":true,"createdAt":"2019-08-08T18:28:09Z","modifiedAt":"2019-08-08T18:28:09Z","cells":[{"columnId":8587236099811204,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":424461775202180,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":4928061402572676,"value":"ACME","displayValue":"ACME"},{"columnId":2676261588887428,"value":2.0,"displayValue":"2"},{"columnId":7179861216257924},{"columnId":1550361682044804,"value":true}]},{"id":3139915011123076,"rowNumber":2,"siblingId":5391714824808324,"expanded":true,"createdAt":"2019-08-08T18:28:09Z","modifiedAt":"2019-08-08T18:28:09Z","cells":[{"columnId":8587236099811204,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":424461775202180,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":4928061402572676,"value":"Globex","displayValue":"Globex"},{"columnId":2676261588887428},{"columnId":7179861216257924},{"columnId":1550361682044804}]},{"id":7643514638493572,"rowNumber":3,"siblingId":3139915011123076,"expanded":true,"createdAt":"2019-08-08T18:28:09Z","modifiedAt":"2019-08-08T18:28:09Z","cells":[{"columnId":8587236099811204,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":424461775202180,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":4928061402572676,"value":"ACME","displayValue":"ACME"},{"columnId":2676261588887428,"value":1.0,"displayValue":"1"},{"columnId":7179861216257924,"value":"1990-01-01"},{"columnId":1550361682044804,"value":false}]}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/2923224251033476
- request:
    body:
      cells:
      - columnId: 8587236099811204
        strict: true
        value: David Ward
      - columnId: 424461775202180
        strict: true
        value: david.ward@globex.com
      - columnId: 4928061402572676
        strict: true
        value: Globex
      - columnId: 2676261588887428
        strict: true
        value: 3
      - columnId: 7179861216257924
        strict: true
        value: '1980-01-01'
      - columnId: 1550361682044804
        strict: true
        value: true
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/2923224251033476/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":650707658925956,"sheetId":2923224251033476,"rowNumber":4,"siblingId":7643514638493572,"expanded":true,"createdAt":"2019-08-08T18:28:12Z","modifiedAt":"2019-08-08T18:28:12Z","cells":[{"columnId":8587236099811204,"value":"David
        Ward","displayValue":"David Ward"},{"columnId":424461775202180,"value":"david.ward@globex.com","displayValue":"david.ward@globex.com"},{"columnId":4928061402572676,"value":"Globex","displayValue":"Globex"},{"columnId":2676261588887428,"value":3.0,"displayValue":"3"},{"columnId":7179861216257924,"value":"1980-01-01"},{"columnId":1550361682044804,"value":true}]},"version":3}'
    headers:
      Content-Type: application/json;charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://api.smartsheet.com/2.0/sheets/2923224251033476/rows
[...]
