interactions:
- request:
    body: '{"name": "[TEST] Sheet To Update", "columns": [{"title": "Full Name", "primary":
      true, "type": "TEXT_NUMBER"}, {"title": "Email address", "type": "TEXT_NUMBER"},
      {"title": "Company", "type": "TEXT_NUMBER"}, {"title": "Number of children",
      "type": "TEXT_NUMBER"}, {"title": "Maintains", "type": "MULTI_PICKLIST", "options":
      ["simple-smartsheet", "nornir", "napalm", "netmiko", "pydantic"]}, {"title":
      "Birth date", "type": "DATE"}, {"title": "Married", "type": "CHECKBOX"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":{"id":4856236224079748,"name":"[TEST]
        Sheet To Update","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/sheets/wCMRX9Gg4g2JPCF2c2X8jf9X9qcCm8xQq7j38CX1","columns":[{"id":6216473250162564,"version":0,"index":0,"title":"Full
        Name","type":"TEXT_NUMBER","primary":true,"validation":false,"width":150},{"id":3964673436477316,"version":0,"index":1,"title":"Email
        address","type":"TEXT_NUMBER","validation":false,"width":150},{"id":8468273063847812,"version":0,"index":2,"title":"Company","type":"TEXT_NUMBER","validation":false,"width":150},{"id":305498739238788,"version":0,"index":3,"title":"Number
        of children","type":"TEXT_NUMBER","validation":false,"width":150},{"id":4809098366609284,"version":2,"index":4,"title":"Maintains","type":"MULTI_PICKLIST","options":["simple-smartsheet","nornir","napalm","netmiko","pydantic"],"validation":false,"width":150},{"id":2557298552924036,"version":0,"index":5,"title":"Birth
        date","type":"DATE","validation":false,"width":150},{"id":7060898180294532,"version":0,"index":6,"title":"Married","type":"CHECKBOX","validation":false,"width":150}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"toTop": true, "cells": [{"columnId": 6216473250162564, "value": "Bob
      Lee", "strict": true}, {"columnId": 3964673436477316, "value": "bob.lee@acme.com",
      "strict": true}, {"columnId": 8468273063847812, "value": "ACME", "strict": true},
      {"columnId": 305498739238788, "value": 2, "strict": true}, {"columnId": 7060898180294532,
      "value": true, "strict": true}, {"columnId": 4809098366609284, "objectValue":
      {"values": ["simple-smartsheet", "nornir"], "objectType": "MULTI_PICKLIST"},
      "strict": true}]}, {"toTop": true, "cells": [{"columnId": 6216473250162564,
      "value": "Alice Smith", "strict": true}, {"columnId": 3964673436477316, "value":
      "alice.smith@globex.com", "strict": true}, {"columnId": 8468273063847812, "value":
      "Globex", "strict": true}, {"columnId": 4809098366609284, "objectValue": {"values":
      ["napalm", "nornir"], "objectType": "MULTI_PICKLIST"}, "strict": true}]}, {"toTop":
      true, "cells": [{"columnId": 6216473250162564, "value": "Charlie Brown", "strict":
      true}, {"columnId": 3964673436477316, "value": "charlie.brown@acme.com", "strict":
      true}, {"columnId": 8468273063847812, "value": "ACME", "strict": true}, {"columnId":
      305498739238788, "value": 1, "strict": true}, {"columnId": 2557298552924036,
      "value": "1990-01-01", "strict": true}, {"columnId": 7060898180294532, "value":
      false, "strict": true}, {"columnId": 4809098366609284, "objectValue": {"values":
      ["napalm", "netmiko", "nornir"], "objectType": "MULTI_PICKLIST"}, "strict":
      true}]}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: POST
    uri: https://api.smartsheet.com/2.0/sheets/4856236224079748/rows
  response:
    body:
      string: '{"message":"SUCCESS","resultCode":0,"result":[{"id":1343485484263300,"sheetId":4856236224079748,"rowNumber":1,"expanded":true,"createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z","cells":[{"columnId":6216473250162564,"value":"Bob
        Lee","displayValue":"Bob Lee"},{"columnId":3964673436477316,"value":"bob.lee@acme.com","displayValue":"bob.lee@acme.com"},{"columnId":8468273063847812,"value":"ACME","displayValue":"ACME"},{"columnId":305498739238788,"value":2.0,"displayValue":"2"},{"columnId":4809098366609284,"displayValue":"simple-smartsheet,
        nornir"},{"columnId":2557298552924036},{"columnId":7060898180294532,"value":true}]},{"id":5847085111633796,"sheetId":4856236224079748,"rowNumber":2,"siblingId":1343485484263300,"expanded":true,"createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z","cells":[{"columnId":6216473250162564,"value":"Alice
        Smith","displayValue":"Alice Smith"},{"columnId":3964673436477316,"value":"alice.smith@globex.com","displayValue":"alice.smith@globex.com"},{"columnId":8468273063847812,"value":"Globex","displayValue":"Globex"},{"columnId":305498739238788},{"columnId":4809098366609284,"displayValue":"nornir,
        napalm"},{"columnId":2557298552924036},{"columnId":7060898180294532}]},{"id":3595285297948548,"sheetId":4856236224079748,"rowNumber":3,"siblingId":5847085111633796,"expanded":true,"createdAt":"2020-02-05T04:01:56Z","modifiedAt":"2020-02-05T04:01:56Z","cells":[{"columnId":6216473250162564,"value":"Charlie
        Brown","displayValue":"Charlie Brown"},{"columnId":3964673436477316,"value":"charlie.brown@acme.com","displayValue":"charlie.brown@acme.com"},{"columnId":8468273063847812,"value":"ACME","displayValue":"ACME"},{"columnId":305498739238788,"value":1.0,"displayValue":"1"},{"columnId":4809098366609284,"displayValue":"nornir,
        napalm, netmiko"},{"columnId":2557298552924036,"value":"1990-01-01"},{"columnId":7060898180294532,"value":false}]}],"version":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
