interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.smartsheet.com/2.0/reports?includeAll=true
  response:
    body:
      string: '{"pageNumber":1,"totalPages":1,"totalCount":1,"data":[{"id":8305449633113988,"name":"[TEST]
        Read-only Report","accessLevel":"OWNER","permalink":"https://app.smartsheet.com/reports/46JC68pCQ4J87p9Q3PH52rxmWp6CvXWJ5jpx2cM1","isSummaryReport":false}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
